{% extends 'paper/layout.html'  %}
{% load static %}
{% block title %} Holidays | Leave Management | {{ block.super }}{% endblock %}

{% block content %}
<style>
  .name-holder { margin: 3px; padding:3px; border-radius: 3px;}
  .name-holder.active { background-color: #3c8dbc; color:white !important}
  .name-holder.active a {color:white; font-weight: 600}
</style>
<div class=" "  id="app">
    <div class="">
        <div class="row">
            <div class="col-md-12">
                <div class="card" >

                    <div class="card-header">
                        <h2  class="align-middle pt-4"> Annual Leave Data </h2>
                    </div>
                    <div class="card-body">
                        <div class="m-auto">
                            <div class="row">
                                <div class="col-md-8" >
                                    <div class="margin-auto">
                                    </div>
                                </div>
                                <div class="col-md-2 form-group"  style="float:right;">
                                    <form method="get" id="date-filter-form" class="">
                                        <label for="id_for_year">Select Year</label>
                                        <div class="input-group" >
                                          <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                          <select class="form-control" id="id_for_year" name="year" onchange="this.form.submit();">
                                                {% for y in year_range %}
                                                <option value="{{ y }}" {% ifequal YEAR_INT y %}selected{% endifequal %} >{{ y }}</option>
                                                {% endfor %}
                                          </select>
                                        </div>
                                    </form>
                                </div>

                            </div>
                            <div class="" style=" ">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-eq-height">
            {% for user, leaves in out %}
            <div class="col-md-4 " style="margin-bottom:10px;">
                <div class="card" style=" border-top:5px solid #00caff; border-bottom:5px solid #00caff; ">
                    <div class="card-header card-header-danger ">
                        <h5>{{ user }}</h5>
                        <div class=" pull-right">
                            <img src="{{ user.avatar_url }}" alt="user image" width="auto" style="border-radius:5px; " height="60px">
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table table-stripped">
                            <thead>
                            <tr>
                                <th>Leave</th>
                                <th>Paid </th>
                                <th>LOP</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for leave in leaves %}
                            <tr>
                                <th>{{ leave.lt.name }} ({{ leave.lt.payment_type }})</th>
                                <th>{{ leave.dic.paid }}</th>
                                <th>{{ leave.dic.lop }}</th>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="card">
    <div class="card-footer clearfix">
        {% include 'adminlte/lib/_pagination.html' %}
    </div>
    </div>
</div>
{% endblock %}


