{% extends 'paper/layout.html'  %}
{% load static py_utils %}
{% block title %} Holidays | Leave Management | {{ block.super }}{% endblock %}

{% block content %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js" defer></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js" defer></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<style>
    .is-upcomming-leave{background-color: #e1ffdb !important}
    .is-rejected{background-color: #fff6f6 !important}
    .is-cancelled{background-color: #f6fcff !important}
    .text-striked {text-decoration: line-through;}
    ul.weekdays{display: inline;max-height: 20px;padding-left:0;}
    ul.weekdays li.day {width: 10px;height: 10px;background-color: #4a9c0052;display: inline-block;border-radius: 5px;}
    ul.weekdays li.day.weekend {background-color: #e6000030;}
    ul.weekdays li.day.holiday {background-color: #007effa8;}
    ul.weekdays li.day.restricted-holiday {background-color: #e29200;}
    .card .card-header form select {max-width: 300px; display: inline-block; float: right; }
</style>
<div class="card card-default "  id="app">
    <div class="card-header card-header-danger ">
        <form method="get" action="" >
            <h4> Holidays
                <span class="m-auto">
                    <select name="group" onchange="this.form.submit()" class="form-control exclude-select2 ">
                        {% ifequal request.GET.group '' %}
                        <option value="" selected="selected">All</option>
                        {% else %}
                        <option value="">All</option>
                        {% endifequal %}
                        {% ifequal request.GET.group '-1' %}
                        <option value="-1" selected="selected">Calender Holidays</option>
                        {% else %}
                        <option value="-1">Calender Holidays</option>
                        {% endifequal %}
                        {% for h in  holiday_groups %}
                        {% ifequal request.GET.group h.id|floatformat:"0" %}
                        <option value="{{ h.id }}"
                                selected="selected">{{ h.name }}</option>
                        {% else %}
                        <option value="{{ h.id }}" >{{ h.name }}</option>
                        {% endifequal %}
                        {% endfor %}
                    </select>

            </span>
            </h4>
        </form>
    </div>
    <div class="card-body">
        <div class="col-md-12 form-group">
            <div class="table-responsive-md">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Date</th>
                        <th>Reason</th>
                        <th>Info</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for holiday in object_list  %}
                    <tr id="date{{ holiday.id }}" >
                        <td width="5%">{{ forloop.counter }}</td>
                        <td width="20%">
                            <p class="{% if holiday.is_past %}text-striked{% endif %}">{{ holiday.date|date:"dS M Y, l" }}</p>
                            {{ holiday.day_strip|safe }}
                        </td>
                        <td width="20%">{{ holiday.name }}<br><small class="text-muted">{{ holiday.description }}</small></td>
                        <td width="60%">
                            {% if holiday.is_restricted_holiday %}
                            <span>
                            <b>{{ holiday.restricted_group.name }} </b>{% if holiday.restricted_group %} - Other {% endif %} Restricted Holiday(s)
                        </span>
                        <ol class="">
                            {% for h in holiday.restricted_group.holiday_set.all %}
                            {% if h.id != holiday.id and h.date.year == yr %}
                            
                            <li class="{% if h|is_consumed_restricted_leave:request.user %}text-danger{% endif %}"><a href="#date{{ h.id }}">
                               {{ h.name }} </a>
                             ({{ h.date|date:"dS M Y, l"  }})

                            </li>
                            {% endif %}
                            {% endfor %}
                        </ol>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
    <script>
    (function(){
        'messages'
        {% if messages %}
        {% for message in messages %}
            swal("{% if message.tags %}{{ message.tags }}{% endif %}", "{{ message|safe }}", "{% if message.tags %}{{ message.tags }}{% endif %}");
        {% endfor %}
        {% endif %}
    })()
    </script>
    {% endblock %}

