{% extends 'paper/layout.html'  %}
{% load static crispy_forms_tags %}
{% block title %} Apply for Leave | Leave Management | {{ block.super }}{% endblock %}

{% block content %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js" defer></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js" defer></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
<style>
    .is-upcomming-leave{background-color: #e1ffdb !important}
    .is-rejected{background-color: #fff6f6 !important}
    .is-approved{background-color: #f7fff6 !important}
    .is-cancelled{background-color: #f6fcff !important}
</style>
<div class="card "  id="app">
  <div class="card-header with-border">
    <h4> Late Attendance Entries </h4>
    <form method="post" class="border rounded">
      <div class="row">
        <div class="col-md-7 form-group">
          <div class="responsive">
            <table class="table table-striped table-bordered">
              <thead>
              <tr>
                <th></th>
                <th>Date</th>
                <th>User</th>
                <th>Reason</th>
                <th>Leave Generated?</th>
              </tr>
              </thead>
              <tbody>
              {% for object_1 in object_list  %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ object_1.date }}</td>
                <td>{{ object_1.user.get_full_name }}</td>
                <td>{{ object_1.reason }}</td>
                <td>{% if object_1.associated_leave %} Yes {% else %} NO {% endif %}</td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <div class=" col-md-5  ">
          <div class="row ">
            <div class="col-md-12 form-group">
              <h4> Mark Late Attendance Form.</h4>
              <hr />
            </div>
            <div class="col-md-12">
              {% crispy form %}
            </div>
          </div>
        </div>
        <div class="col-md-12">
            <span class="text-danger">
                {% for err in form.non_field_errors %}
                    {{ err }}
                {% endfor %}
            </span>
          <input type="submit" class="btn btn-sm pull-right btn-success" />
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer clearfix">
    {% include 'adminlte/lib/_pagination.html' %}
  </div>
</div>
<script>
    (function(){
            'messages'

        {% if messages %}
        {% for message in messages %}
            swal("{% if message.tags %}{{ message.tags }}{% endif %}", "{{ message|safe }}", "{% if message.tags %}{{ message.tags }}{% endif %}");
        {% endfor %}
        {% endif %}
    })()
    </script>
{% endblock %}


{% block extra_javascript %}
{% include 'adminlte/lib/_scripts.html' %}
<script>
  $('.dateinput').datepicker()
</script>
<!--
<script>
    (function(){
        $date = $('input#{{ form.date.id_for_label }}').val()
        $(function() {
          $('input#id_for_date').datepicker({
            dateFormat: 'dd-mm-yyyy',
          }, function(start, end, label) {
            $('#{{ form.from_date.id_for_label }}').val(start.format('DD-MM-YYYY'));
            $('#{{ form.to_date.id_for_label }}').val(end.format('DD-MM-YYYY'));
          });
        });
        $('#{{ form.from_date.id_for_label }}').val("{{ now|date:'d-m-Y' }}")
        $('#{{ form.to_date.id_for_label }}').val("{{ now|date:'d-m-Y' }}");
    })()
</script>
-->
{% endblock %}
