{% extends 'paper/layout.html'  %}
{% load static crispy_forms_tags %}
{% block title %} Apply for Leave | Leave Management | {{ block.super }}{% endblock %}

{% block content %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js" defer></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js" defer></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<style>
    .is-upcomming-leave{background-color: #e1ffdb !important}
    .is-rejected{background-color: #fff6f6 !important}
    .is-approved{background-color: #f7fff6 !important}
    .is-cancelled{background-color: #f6fcff !important}
</style>

<div class="row">
    <div class="col-md-12">
        <h3>Update Leave Request</h3>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-danger">
                <h5>{{ object.user }} applied {{ object.leave_type.name }}</h5>
                <b>Reason:</b><code>{{ object.reason_to_request|default:"-" }}</code>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="list-group">
                            <li class="list-group-item">
                                {{ leave.from_date|date:"jS M" }} <span class="text-muted">{{ leave.from_slot_name }}</span> to
                                {% if leave.from_date < leave.to_date %}{{ leave.to_date|date:"jS M" }}{% endif %} <span class="text-muted">{{ leave.to_slot_name }}</span>
                            </li>
                            <li class="list-group-item">{% if leave.leave_requested_in_days %}(Leave Requested for {{ leave.leave_requested_in_days }} Days){% endif %}</li>
                            <li class="list-group-item">Requested at : {{ leave.created_at }}</li>
                            <li class="list-group-item">Current Status: <b>{{ leave.approval_status|default:"WAITING FOR APPROVAL" }}</b></li>
                            {% if leave.is_approved %}
                            <li class="list-group-item">
                                {% if leave.leave_approved_in_days %}Leave Confirmed for {{ leave.leave_approved_in_days }} Days{% endif %}<br>
                                {% if leave.leave_lop_in_days %}LOP for {{ leave.leave_lop_in_days }} Days{% endif %}</li>
                                {% endif %}
                            <li class="list-group-item">
                                {{ leave.user.get_current_leave_status_for_hr }}
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <form  method="post" >
                            {{ form|crispy }}
                            <input type="submit" class="btn btn-success" value="Update" />
                            <div class="text-muted">
                                {% if request.GET.need_advanced_form %}
                                    <a href="{% url 'leave:detail' pk=object.pk %}">Go Back to basic form</a>
                                {% else %}
                                    Need more customization? <a href="{% url 'leave:detail'  pk=object.pk %}?need_advanced_form=1">Switch to Advanced</a>!
                                {% endif %}
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block extra_javascript %}
{% include 'adminlte/lib/_scripts.html' %}
<script>
    function swap_display(node) {
        var show = node.nextElementSibling.className.indexOf('hidden') > -1;
         show ? node.nextElementSibling.classList.remove('hidden'): node.nextElementSibling.classList.add('hidden')
         node.innerHTML = show ? 'Hide': 'Update'
    }
    (function(){
        $startDate = $('input#{{ form.from_date.id_for_label }}').val()
        $endDate = $('input#{{ form.to_date.id_for_label }}').val()
        $(function() {
          $('input#id_for_daterange').daterangepicker({
            opens: 'left',
            timepicker: false,
            dateFormat: 'dd-mm-yyyy',
          }, function(start, end, label) {
            $('#{{ form.from_date.id_for_label }}').val(start.format('DD-MM-YYYY'));
            $('#{{ form.to_date.id_for_label }}').val(end.format('DD-MM-YYYY'));
            console.log("A new date selection was made: " + start.format('DD-MM-YYYY') + ' to ' + end.format('DD-MM-YYYY'));
          });
        });
        $('#{{ form.from_date.id_for_label }}').val("{{ now|date:'d-m-Y' }}")
        $('#{{ form.to_date.id_for_label }}').val("{{ now|date:'d-m-Y' }}");
    })()
</script>
{% endblock %}
