{% extends 'paper/layout.html'  %}
{% load static %}
{% load crispy_forms_tags py_utils %}

{% block title %} Apply for Leave | Leave Management | {{ block.super }}{% endblock %}

{% block extra_css %}

<style>.helptext{color:#777; font-size:smaller; display:block;}</style>
<link rel="stylesheet" href="{% static 'css/bootstrap-datepicker3.standalone.min.css' %}" integrity="sha512-p4vIrJ1mDmOVghNMM4YsWxm0ELMJ/T0IkdEvrkNHIcgFsSzDi/fV7YxzTzb3mnMvFPawuIyIrHcpxClauEfpQg==" crossorigin="anonymous" />
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

{% endblock %}

{% block content %}
<style>
    .is-upcomming-leave{background-color: #e1ffdb !important}
    .is-rejected{background-color: #fff6f6 !important}
    .is-approved{background-color: #f7fff6 !important}
    .is-cancelled{background-color: #f6fcff !important}
</style>
<div class="row">
    <div class="col-md-5  ">
        <div class="card"  id="app">
            <div class="card-header card-header-danger">
                <h4> Leave Application Form.</h4>
            </div>
            <div class="card-body">

                <form method="post" class="">
                    <div class="row">
                        {% if form.non_field_errors %}
                        <div class="col-md-12 form-group">
                            {% for err in form.non_field_errors %}
                            <div class="text-danger">{{ err }}</div>
                            {% endfor %}
                        </div>
                        {% endif %}

                        <div class="col-md-12 form-group">
                            {{ form.leave_type|as_crispy_field }}
                        </div>
                        <div class="col-md-12 " >
                            <div class="form-group">
                                <label for="id_for_daterange">Select Your Dates</label>
                                <div class="input-group date" data-provide="daterangepicker">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control" id="id_for_daterange" name="dateRange"
                                           {% if form.from_date.value %} value="{{ form.from_date | date:'d-m-Y'}} - {{ form.to_date | date:'d-m-Y' }}"{% endif %}>
                                    {{ form.from_date }}
                                    {{ form.to_date }}
                                </div>
                                <span class="text-muted">{{ form.from_date.help_text }}</span>
                                {% if form.to_date.errors %}
                                <span class="text-muted">Starting Date:</span>
                                <span class="text-danger">{{ form.from_date.errors }}</span>
                                {% endif %}
                                {% if form.to_date.errors %}
                                <span class="text-muted">Ending Date:</span>
                                <span class="text-danger">{{ form.to_date.errors }}</span>
                                {% endif %}
                            </div>

                        </div>
                        <div class="col-md-6 form-group">
                            {{ form.from_slot|as_crispy_field }}
                        </div>
                        <div class="col-md-6 form-group">
                            {{ form.to_slot | as_crispy_field }}
                        </div>
                        <div class="col-md-12 form-group">
                            {{ form.reason_to_request|as_crispy_field }}
                        </div>
                        <div class="col-md-12">
                    <span class="text-danger">
                    </span>
                            <input type="submit" class="btn btn-sm pull-right btn-success" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-7 form-group">
        <div class=" card" >
            <div class=" card-header card-header-danger">
                <h4> Leave Requests </h4>
            </div>
            <div class="card-body">
                <div class="responsive">
                    <table class="table table-striped table-bordered " >
                        <thead>
                        <tr>
                            <th>Leave Type</th><th>Total.</th><th>Remaining Days.</th>
                            <th>Consumed.</th><th>Pending.</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for leave in used_leaves  %}
                        <tr>
                            <td>{{ leave.leave_type_name }}</td><td>{{ leave.total_leave }}</td>
                            <td>{{ leave.remaining_leaves }}</td>
                            <td>{{ leave.approved_leaves }}</td><td>{{ leave.pending_leaves }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--                <div class="col-md-1 form-group"></div>-->
    </div>
</div>
<!--okey -->

{% if object_list %}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-danger">
                <h4>Past Leaves</h4>
            </div>
            <div class="card-body">
                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <ul id="tabs" class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#Upcomming" role="tab" aria-expanded="true" aria-selected="false">Upcoming</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#Consumed" role="tab" aria-expanded="false" aria-selected="false">Consumed</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#other_rejections" role="tab" aria-expanded="false" aria-selected="true">Others</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tab-content">
                    <div id="Upcomming" class="tab-pane  active">
                        <div class="table-responsive">
                            <table class="table table-bordered " >
                                <thead>
                                <tr>
                                    <th>Leave</th>
                                    <th>Date</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for leave in object_list %}
                                {% if leave.is_upcomming or leave.is_waiting %}
                                <tr>
                                    <td>
                                        <b>{{ leave.leave_type.name }}</b> : <span> {{ leave.reason_to_request|default:"-" }} </span>
                                    </td>
                                    <td class="text-muted">
                                        {{ leave.from_date|date:"jS M" }}
                                        <span >{{ leave.from_slot_name }}</span>
                                        To
                                        {% if leave.from_date < leave.to_date %}{{ leave.to_date|date:"jS M" }} {% endif %}
                                        <span >{{ leave.to_slot_name }}</span>
                                    </td>
                                    <td>
                                        <b>{{ leave.approval_status|default:"WAITING FOR APPROVAL" }}</b>
                                    </td>
                                    <td> <a href="{% url 'leave:view' pk=leave.pk %}" class="btn btn-link btn-sm">View</a></td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                        <!-- Upcomming :END  -->
                    </div>
                    <div id="Consumed" class="tab-pane fade">
                        <!-- Approved  -->
                        <div class="table-responsive">
                            <table class="table table-bordered " >
                                <thead>
                                <tr>
                                    <th>Leave</th>
                                    <th>Date</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for leave in object_list %}
                                {% if leave.is_consumed  %}

                                <tr >
                                    <td>
                                        <b>{{ leave.leave_type.name }}</b> : <span> {{ leave.reason_to_request|default:"-" }} </span>
                                    </td>
                                    <td class="text-muted">
                                        {{ leave.from_date|date:"jS M" }}
                                        <span >{{ leave.from_slot_name }}</span>
                                        To
                                        {% if leave.from_date < leave.to_date %}{{ leave.to_date|date:"jS M" }} {% endif %}
                                        <span >{{ leave.to_slot_name }}</span>
                                    </td>
                                    <td>
                                        <b>{{ leave.approval_status|default:"WAITING FOR APPROVAL" }}</b>
                                        <!--
                                                                <p>{{ leave.reason_for_action|default:"-" }}</p>
                                                                {% if leave.is_approved %}
                                                                <hr />
                                                                <p>{% if leave.leave_approved_in_days %}(Leave Confirmed for {{ leave.leave_approved_in_days }} Days){% endif %}</p>
                                                                {% endif %}
                                        -->
                                    </td>
                                    <td> <span class="btn btn-link btn-sm">View</span> </td>
                                </tr>
                                {% endif %}
                                {% endfor %}

                                </tbody>
                            </table>

                        </div>
                        <!-- Approved :END  -->
                    </div>
                    <div id="other_rejections" class="tab-pane fade">
                        <!-- Others  -->
                        <div class="table-responsive">
                            <table class="table table-bordered " >
                                <thead>
                                <tr>
                                    <th>Leave</th>
                                    <th>Date</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for leave in object_list %}
                                {% if leave.is_in_other_rejection %}

                                <tr class="{% if leave.is_upczomming %}is-upcomming-leave{% else %}{% if leave.is_approved %}is-approved{% endif %}{% endif %}{% if leave.is_rejected %}is-rejected{% endif %}{% if leave.is_cancelled %}is-cancelled{% endif %}" >
                                    <td>
                                        <b>{{ leave.leave_type.name }}</b> : <span> {{ leave.reason_to_request|default:"-" }} </span>
                                    </td>
                                    <td class="text-muted">
                                        {{ leave.from_date|date:"jS M" }}
                                        <span >{{ leave.from_slot_name }}</span>
                                        To
                                        {% if leave.from_date < leave.to_date %}{{ leave.to_date|date:"jS M" }} {% endif %}
                                        <span >{{ leave.to_slot_name }}</span>
                                    </td>
                                    <td>
                                        <b>{{ leave.approval_status|default:"WAITING FOR APPROVAL" }}</b>
                                        <!--
                                                                <p>{{ leave.reason_for_action|default:"-" }}</p>
                                                                {% if leave.is_approved %}
                                                                <hr />
                                                                <p>{% if leave.leave_approved_in_days %}(Leave Confirmed for {{ leave.leave_approved_in_days }} Days){% endif %}</p>
                                                                {% endif %}
                                        -->
                                    </td>
                                    <td> <span class="btn btn-link btn-sm">View</span> </td>
                                </tr>
                                {% endif %}
                                {% endfor %}

                                </tbody>
                            </table>

                        </div>
                        <!-- Others :END  -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endif %}
</div>
<div class="row">
    <div class="col-12">
        {% include 'adminlte/lib/_pagination.html' %}
    </div>
</div>
{% endblock %}


{% block extra_javascript %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js" defer></script>
<script src="{% static 'js/bootstrap-datepicker.min.js' %}" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js" ></script>

<script>$.when( $.ready ).then(function() { $('.datepicker').datepicker() });</script>

<script>
    (function(){
        $startDate = $('input#{{ form.from_date.id_for_label }}').val()
        $endDate = $('input#{{ form.to_date.id_for_label }}').val()
        $(function() {
          $('input#id_for_daterange').daterangepicker({
            opens: 'left',
            timepicker: false,
            useCurrent: true,
            dateFormat: 'dd-mm-yyyy',
            locale: {
                format : "YYYY-MM-DD",
            }
          }, function(start, end, label) {
            $('#{{ form.from_date.id_for_label }}').val(start.format('DD-MM-YYYY'));
            $('#{{ form.to_date.id_for_label }}').val(end.format('DD-MM-YYYY'));
            console.log("A new date selection was made: " + start.format('DD-MM-YYYY') + ' to ' + end.format('DD-MM-YYYY'));
          });
        });
        $('#{{ form.from_date.id_for_label }}').val(moment().format('D-M-YYYY') )
        $('#{{ form.to_date.id_for_label }}').val(moment().format('D-M-YYYY') );
    })()
</script>
{% endblock %}
