{% extends 'paper/layout.html'  %}
{% load static %}
{% block title %} Apply for Leave | Leave Management | {{ block.super }}{% endblock %}

{% block content %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js" defer></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js" defer></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<style>
    .is-upcomming-leave{background-color: #e1ffdb !important}
    .is-rejected{background-color: #fff6f6 !important}
    .is-approved{background-color: #f7fff6 !important}
    .is-cancelled{background-color: #f6fcff !important}
</style>
<div class="card card-default "  id="app">
    <div class="card-header with-border">
        <h4> Leave Requests </h4>
        <form method="post" class="border rounded">
            <div class="row">
                <div class="col-md-7 form-group">
                    <div class="responsive">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Leave Type</th><th>Total.</th><th>Remaining Days.</th>
                                    <th>Consumed.</th><th>Pending.</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for leave in used_leaves  %}
                                <tr>
                                    <td>{{ leave.leave_type_name }}</td><td>{{ leave.total_leave }}</td>
                                    <td>{{ leave.remaining_leaves }}</td>
                                    <td>{{ leave.approved_leaves }}</td><td>{{ leave.pending_leaves }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
<!--                <div class="col-md-1 form-group"></div>-->
                <div class="col-md-5 form-group border ">
                    <div class="row ">
                        <div class="col-md-12 form-group">
                            <h4> Leave Application Form.</h4>
                            <hr />
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="{{ form.leave_type.id_for_label }}">{{ form.leave_type.label }}</label>
                            {{ form.leave_type }}
                            <span class="text-muted">{{ form.leave_type.help_text }}</span>
                            <span class="text-danger">{{ form.leave_type.errors }}</span>
                        </div>
                        <div class="col-md-12 form-group" >
                            <label for="id_for_daterange">Select Your Dates</label>
                            <div class="input-group date" data-provide="daterangepicker">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control" id="id_for_daterange" name="dateRange"
                                       {% if form.from_date.value %} value="{{ form.from_date.value }} - {{ form.to_date.value }}"{% endif %}>
                                {{ form.from_date }}
                                {{ form.to_date }}

                            </div>
                            <span class="text-muted">{{ form.from_date.help_text }}</span>
                            {% if form.to_date.errors %}
                            <span class="text-muted">Starting Date:</span>
                            <span class="text-danger">{{ form.from_date.errors }}</span>
                            {% endif %}
                            {% if form.to_date.errors %}
                            <span class="text-muted">Ending Date:</span>
                            <span class="text-danger">{{ form.to_date.errors }}</span>
                            {% endif %}

                        </div>
                        <div class="col-md-6 form-group">
                            <label for="{{ form.from_slot.id_for_label }}">{{ form.from_slot.label }}</label>
                            <div class="input-group date" data-provide="select2">
                                <div class="input-group-addon">
                                    <i class="fa fa-clock-o"></i>
                                </div>
                                {{ form.from_slot }}
                            </div>
                            <span class="text-muted">{{ form.from_slot.help_text }}</span>
                            <span class="text-danger">{{ form.from_slot.errors }}</span>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="{{ form.to_slot.id_for_label }}">{{ form.to_slot.label }}</label>
                            <div class="input-group date" data-provide="select2">
                                <div class="input-group-addon">
                                    <i class="fa fa-clock-o"></i>
                                </div>
                                {{ form.to_slot }}
                            </div>
                            <span class="text-muted">{{ form.to_slot.help_text }}</span>
                            <span class="text-danger">{{ form.to_slot.errors }}</span>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="{{ form.reason_to_request.id_for_label }}">{{ form.reason_to_request.label }}</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-list-alt" aria-hidden="true"></i>
                                </div>
                                {{ form.reason_to_request }}
                            </div>
                            <span class="text-muted">{{ form.reason_to_request.help_text }}</span>
                            <span class="text-danger">{{ form.reason_to_request.errors }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                    <span class="text-danger">
                        {% for err in form.non_field_errors %}
                            {{ err }}
                        {% endfor %}
                    </span>
                <input type="submit" onclick="demo.showSwal('basic')" class="btn btn-sm pull-right btn-success" />
            </div>
        </form>
    </div>
    <hr />

    <div class="card-body">
        <h4>Past Leaves.</h4>
        {% if object_list %}
        <div class="table-responsive">
            <table class="table table-bordered ">
                <thead>
                <tr>
                    <th>Leave</th>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Comment from HR</th>
                </tr>
                </thead>
                <tbody>
                {% for leave in object_list %}
                <tr class="{% if leave.is_upczomming %}is-upcomming-leave{% else %}{% if leave.is_approved %}is-approved{% endif %}{% endif %}{% if leave.is_rejected %}is-rejected{% endif %}{% if leave.is_cancelled %}is-cancelled{% endif %}" >
                    <td>{{ leave.leave_type.name }}</td>
                    <td>
                        <b>{{ leave.from_date|date:"jS M" }} <span class="text-muted">{{ leave.from_slot_name }}</span></b> To  <b>{{ leave.to_date|date:"jS M" }} <span class="text-muted">{{ leave.to_slot_name }}</span></b>
                        <hr />

                        <span class="text-muted">{% if leave.leave_requested_in_days %}(Leave Requested for {{ leave.leave_requested_in_days }} Days){% endif %}</span>
                    </td>
                    <td>{{ leave.reason_to_request|default:"-" }}</td>
                    <td>
                        <b>{{ leave.approval_status|default:"WAITING FOR APPROVAL" }}</b>
                        <p>{{ leave.reason_for_action|default:"-" }}</p>
                        {% if leave.is_approved %}
                        <hr />
                        <p>{% if leave.leave_approved_in_days %}(Leave Confirmed for {{ leave.leave_approved_in_days }} Days){% endif %}</p>
                        {% endif %}
                    </td>
                    <td></td>
                </tr>
                {% endfor %}
                </tbody>
                <tfoot>

                </tfoot>
            </table>
        </div>
        {% endif %}
    </div>
    <div class="card-footer clearfix">
        {% include 'adminlte/lib/_pagination.html' %}
    </div>
</div>
<script>
    (function(){
        {% if messages %}
        {% for message in messages %}
            swal("{% if message.tags %}{{ message.tags }}{% endif %}", "{{ message|safe }}", "{% if message.tags %}{{ message.tags }}{% endif %}");
        {% endfor %}
        {% endif %}
    })()
    </script>
{% endblock %}


{% block extra_javascript %}
<!--{% include 'adminlte/lib/_scripts.html' %}-->
<script>
    (function(){
        $startDate = $('input#{{ form.from_date.id_for_label }}').val()
        $endDate = $('input#{{ form.to_date.id_for_label }}').val()
        $(function() {
          $('input#id_for_daterange').daterangepicker({
            opens: 'left',
            timepicker: false,
            dateFormat: 'dd-mm-yyyy',
          }, function(start, end, label) {
            $('#{{ form.from_date.id_for_label }}').val(start.format('DD-MM-YYYY'));
            $('#{{ form.to_date.id_for_label }}').val(end.format('DD-MM-YYYY'));
            console.log("A new date selection was made: " + start.format('DD-MM-YYYY') + ' to ' + end.format('DD-MM-YYYY'));
          });
        });
        $('#{{ form.from_date.id_for_label }}').val("{{ now|date:'d-m-Y' }}")
        $('#{{ form.to_date.id_for_label }}').val("{{ now|date:'d-m-Y' }}");
    })()

</script>
{% endblock %}
