{% extends 'paper/layout.html'  %}
{% load static crispy_forms_tags %}
{% block title %} Apply for Leave | Leave Management | {{ block.super }}{% endblock %}

{% block content %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js" defer></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js" defer></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<style>
    .is-upcomming-leave{background-color: #e1ffdb !important}
    .is-rejected{background-color: #fff6f6 !important}
    .is-approved{background-color: #f7fff6 !important}
    .is-cancelled{background-color: #f6fcff !important}
    .greyer {
        border: 1px solid #969696;
        background-color: #e6e6e6;
        padding: 6px 12px;
        border-radius: 5px;
        font-size: inherit;
        height: 80px;
        overflow-y: auto;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <h2 class="box-title">New Requests to Respond.</h2>
    </div>
    <div class="col-md-12">
        <div class="row">
            {% for leave in unresponded_list %}
            <div class="col-md-4">
                <div class="card card-success">
                    <div class="card-header card-header-danger ">
                        <h4>{{ leave.user }} applied {{ leave.leave_type.name }}</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <b>Reason:</b>
                                <div class="greyer">{{ leave.reason_to_request|default:"-" }}</div>
                            </div>
                            <div class="col-md-6">
                                {{ leave.from_date|date:"jS M" }}
                                <span class="text-muted">{{ leave.from_slot_name }}</span>
                                -
                                {{ leave.to_date|date:"jS M" }}
                                <span class="text-muted">{{ leave.to_slot_name }}</span>
                                <br />
                                <span class="text-muted">{% if leave.leave_requested_in_days %}(Leave Requested for {{ leave.leave_requested_in_days }} Days){% endif %}</span>
                            </div>
                            <div class="col-md-6 text-right">
                                <span class="text-muted">Requested at : {{ leave.created_at }}</span>
                            </div>
                            <div class="col-md-12 text-right">
                                <a href="{% url 'leave:detail' pk=leave.pk %}" class="btn btn-danger  "> Resolve </a> <br />
                            </div>
                        </div>

                    </div>
                    <div class="card-footer">
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card card-primary "  id="app">
            <div class="card-header card-header-danger ">
                <h3>Past 45 days requests.</h3>
                <p class="text-muted"> You can see any leaves requests prior to 45 days! </p>
            </div>
            <div class="card-body">
                <div class="container-fluid">

                    {% if object_list %}
                    <div class="table-responsive">
                        <table class="table table-stripped">
                            <thead>
                            <tr>
                                <th>User</th>
                                <th>Date</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for leave in responded_list %}
                            <tr class="{% if leave.is_waiting %}is-upcomming-leave{% endif %}" >
                                <td>
                                    {{ leave.user }} applied <b>{{ leave.leave_type.name }}</b> <code>{{ leave.reason_to_request|default:"-" }}</code>
                                </td>
                                <td>
                                    <b>{{ leave.from_date|date:"jS M" }} <span class="text-muted">{{ leave.from_slot_name }}</span></b> -  <b>{{ leave.to_date|date:"jS M" }} <span class="text-muted">{{ leave.to_slot_name }}</span></b>
                                </td>
                                <td>
                                    Current Status: <b>{{ leave.approval_status|default:"WAITING FOR APPROVAL" }}</b>
                                    {% if leave.is_approved %}
                                    <span class="text-muted">{% if leave.leave_approved_in_days %}Leave Confirmed for {{ leave.leave_approved_in_days }} Days{% endif %}<br>
                                    {% if leave.leave_lop_in_days %}LOP for {{ leave.leave_lop_in_days }} Days{% endif %}</span>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if not leave.is_waiting %}
                                    <a href="{% url 'leave:detail' pk=leave.pk %}"  class="link" >Update</a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>

                            </tfoot>
                        </table>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="card-footer clearfix">
                {% include 'adminlte/lib/_pagination.html' %}
            </div>
        </div>
    </div>
</div>
<script>
    (function(){
        {% if messages %}
        {% for message in messages %}
            swal("{% if message.tags %}{{ message.tags }}{% endif %}", "{{ message|safe }}", "{% if message.tags %}{{ message.tags }}{% endif %}");
        {% endfor %}
        {% endif %}
    })()
    </script>
{% endblock %}


{% block extra_javascript %}
<!--{% include 'adminlte/lib/_scripts.html' %}-->
<!--<script>-->
<!--    (function(){-->
<!--        $startDate = $('input#{{ form.from_date.id_for_label }}').val()-->
<!--        $endDate = $('input#{{ form.to_date.id_for_label }}').val()-->
<!--        $(function() {-->
<!--          $('input#id_for_daterange').daterangepicker({-->
<!--            opens: 'left',-->
<!--            timepicker: false,-->
<!--            dateFormat: 'dd-mm-yyyy',-->
<!--          }, function(start, end, label) {-->
<!--            $('#{{ form.from_date.id_for_label }}').val(start.format('DD-MM-YYYY'));-->
<!--            $('#{{ form.to_date.id_for_label }}').val(end.format('DD-MM-YYYY'));-->
<!--            console.log("A new date selection was made: " + start.format('DD-MM-YYYY') + ' to ' + end.format('DD-MM-YYYY'));-->
<!--          });-->
<!--        });-->
<!--        $('#{{ form.from_date.id_for_label }}').val("{{ now|date:'d-m-Y' }}")-->
<!--        $('#{{ form.to_date.id_for_label }}').val("{{ now|date:'d-m-Y' }}");-->
<!--    })()-->
<!--</script>-->
{% endblock %}
