{% extends 'paper/layout.html'  %}
{% load static %}
{% block title %} Holidays | Leave Management | {{ block.super }}{% endblock %}

{% block content %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js" defer></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js" defer></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<style>
    .is-upcomming-leave{background-color: #e1ffdb !important}
    .is-rejected{background-color: #fff6f6 !important}
    .is-cancelled{background-color: #f6fcff !important}
    .text-striked {text-decoration: line-through;}
    ul.weekdays{display: inline;max-height: 20px;padding-left:0;}
    ul.weekdays li.day {width: 10px;height: 10px;background-color: #4a9c0052;display: inline-block;border-radius: 5px;}
    ul.weekdays li.day.weekend {background-color: #e6000030;}
    ul.weekdays li.day.holiday {background-color: #007effa8;}
    ul.weekdays li.day.restricted-holiday {background-color: #e29200;}

</style>
<div class="card card-default "  id="app">
  <div class="card-header card-header-danger ">
    <h4> Holidays </h4>
  </div>
  <div class="card-body">
    <form method="post" class="border rounded">
      <div class="row">
        <div class="col-md-3 form-group">
          <div class="row">
            {% for user in users_list %}
              <div class="col-md-12">
                <a href="{% url 'leave:user-leave-selected' pk=user.pk %}">{{ user.get_full_name }}</a>
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="col-md-9 form-group">
          <div class="responsive">
            <table class="table table-striped table-bordered">
              <thead>
              <tr>
                <th>#</th><th>Date</th><th>Reason</th><th>Info</th>
              </tr>
              </thead>
              <tbody>
              {% for holiday in object_list  %}
              <tr id="date{{ holiday.id }}" >
                <td>{{ forloop.counter }}</td>
                <td>
                  <p class="{% if holiday.is_past %}text-striked{% endif %}">{{ holiday.date|date:"dS M, l" }}</p>
                  {{ holiday.day_strip|safe }}
                </td>
                <td>{{ holiday.name }}<br /><small class="text-muted">{{ holiday.description }}</small></td>
                <td>
                  {% if holiday.is_restricted_holiday %}
                  <b>{{ holiday.restricted_group.name }}</b>  <span>{% if holiday.restricted_group %}- Other {% endif %} Restricted Holiday(s)</span>
                  <ol class="">
                    {% for h in holiday.restricted_group.holiday_set.all %}
                    {% if h.id != holiday.id %}
                    <li  class=""><a href="#date{{ h.id }}">{{ h.name }} </a>({{ h.date|date:"dS M, l"  }})</li>
                    {% endif %}
                    {% endfor %}
                  </ol>
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="card-footer clearfix">
    {% include 'adminlte/lib/_pagination.html' %}
  </div>
</div>
<!--<script>-->
<!--    (function(){-->
<!--        {% if messages %}-->
<!--        {% for message in messages %}-->
<!--            swal("{% if message.tags %}{{ message.tags }}{% endif %}", "{{ message|safe }}", "{% if message.tags %}{{ message.tags }}{% endif %}");-->
<!--        {% endfor %}-->
<!--        {% endif %}-->
<!--    })()-->
<!--    </script>-->
{% endblock %}


