{% extends 'paper/layout.html'  %}
{% load static %}
{% block title %} Holidays | Leave Management | {{ block.super }}{% endblock %}

{% block content %}
<style>
  .name-holder { margin: 3px; padding:3px; border-radius: 3px;}
  .name-holder.active { background-color: #3c8dbc; color:white !important}
  .name-holder.active a {color:white; font-weight: 600}
</style>
<div class="card box-default "  id="app">
    <div class="card-header with-border">
        <div class="row">
            <div class="col-md-12">
                <div class="box-tools pull-right">
                    <div class="m-auto">
                        <form method="get" id="date-filter-form" class="border rounded">
                            <div class="row">
                                <div class="col-md-6 form-group" >
                                    <h4> Leave Data - {{ SELECTED_MONTH|date:"F Y" }} </h4>
                                </div>
                                <div class="col-md-2 form-group" >
                                    {% if not IS_ANNUAL %}
                                    <label for="id_for_month">Select Your Month</label>
                                    <div class="input-group" >
                                        <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                        <select class="form-control" id="id_for_month" name="month" onchange="(function(event){ event.target.value != '{{ MONTH }}' && (document.getElementById('date-filter-form')).submit()})(event)">
                                            <option value="1" {% ifequal MONTH '1' %}selected{% endifequal %} >January</option>
                                            <option value="2" {% ifequal MONTH '2' %}selected{% endifequal %} >February</option>
                                            <option value="3" {% ifequal MONTH '3' %}selected{% endifequal %} >March</option>
                                            <option value="4" {% ifequal MONTH '4' %}selected{% endifequal %} >April</option>
                                            <option value="5" {% ifequal MONTH '5' %}selected{% endifequal %} >May</option>
                                            <option value="6" {% ifequal MONTH '6' %}selected{% endifequal %} >June</option>
                                            <option value="7" {% ifequal MONTH '7' %}selected{% endifequal %} >July</option>
                                            <option value="8" {% ifequal MONTH '8' %}selected{% endifequal %} >August</option>
                                            <option value="9" {% ifequal MONTH '9' %}selected{% endifequal %} >September</option>
                                            <option value="10" {% ifequal MONTH '10' %}selected{% endifequal %} >October</option>
                                            <option value="11" {% ifequal MONTH '11' %}selected{% endifequal %} > November</option>
                                            <option value="12" {% ifequal MONTH '12' %}selected{% endifequal %} > December</option>
                                        </select>
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="col-md-2 form-group" >
                                    <label for="id_for_year">Select Your Year</label>
                                    <div class="input-group" >
                                        <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                        <select class="form-control" id="id_for_year" name="year">
                                            {% for y in year_range %}
                                            <option value="{{ y }}" {% ifequal YEAR_INT y %}selected{% endifequal %} >{{ y }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2  p-5">
                                    <input type="submit" class="btn btn-sm btn-primary m-auto d-block" style="margin:25px 0;" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12 form-group">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>User</th>
                        <th>Paid Leaves</th>
                        <th>LOP</th>
                        <th>Total</th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for leave in objects_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ leave.user.get_full_name }}</td>
                        <td>{{ leave.paid }}</td>
                        <td>{{ leave.lop }}</td>
                        <td>{{ leave.total }}</td>
                        <td>{{ leave.description |safe }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card-footer clearfix">
        {% include 'adminlte/lib/_pagination.html' %}
    </div>
</div>
<!--<script>-->
<!--    (function(){-->
<!--        {% if messages %}-->
<!--        {% for message in messages %}-->
<!--            swal("{% if message.tags %}{{ message.tags }}{% endif %}", "{{ message|safe }}", "{% if message.tags %}{{ message.tags }}{% endif %}");-->
<!--        {% endfor %}-->
<!--        {% endif %}-->
<!--    })()-->
<!--    </script>-->
{% endblock %}

