{% extends 'paper/layout.html'  %}
{% load static %}
{% load crispy_forms_tags py_utils %}

{% block title %} Apply for Work From Home | Leave Management | {{ block.super }}{% endblock %}

{% block extra_css %}
<style>.helptext{color:#777; font-size:smaller; display:block;}</style>
<link rel="stylesheet" href="{% static 'css/bootstrap-datepicker3.standalone.min.css' %}">
{% endblock %}


{% block content %}

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header card-header-danger">
                <h4>WFH's</h4>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead class="thead">
                    <tr>
                        <th>#</th>
                        <th>Date</th>
                        <th>Reason</th>
                        <th>Status</th>
                        <th>Notes</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for object_item in  object_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ object_item.wfh_date|date }}</td>
                        <td>{{ object_item.reason_to_request }}</td>
                        <td>{{ object_item.approval_status }}</td>
                        <td>{{ object_item.reason_for_action|default:"" }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="100%"> You have not applied for WFH Recordically. </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header card-header-danger">
                <h4>Apply Work From Home</h4>
            </div>
            <div class="card-body">
                <form action="" method="post" class="form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-success ">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        {% include 'adminlte/lib/_pagination.html' %}
    </div>
</div>
{% endblock %}


{% block extra_javascript %}
<script src="{% static 'js/bootstrap-datepicker.min.js' %}" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous"></script>

<script>$.when( $.ready ).then(function() { $('.datepicker').datepicker() });</script>

<script>
    (function(){
        $('.dateinput').datepicker({
            setDate: new Date(),
            autoclose: true,
            format: "dd-mm-yyyy",
            todayBtn: true,
            todayHighlight: true,
        });
    })()
</script>
{% endblock %}

