{% load crispy_forms_tags py_utils %}
<style>
    fieldset legend {font-size: 1rem;}
    fieldset p {font-size: 12px;}
    .help-block{font-size: 0.7rem;}
    .help-block{font-size: 0.7rem;}
</style>
<form method="post">
    <div class="card">
    <div class="card-header with-border">
        <h3 class="box-title">Update Payment Summery - {{ object.grouper.month_name }} {{ object.grouper.year }} - {{ object.user.get_full_name }} </h3>
        <div class="box-tools pull-right">
        </div>
        <!-- /.box-tools -->
    </div>
    <!-- /.box-header -->
    <div class="card-body">
        <form>
        {% if form.non_field_errors %}
            {{ form.non_field_errors }}
        {% endif %}
            <fieldset class="mt-3">
                <legend>Calculation of Days</legend>
                <p class="text-muted text-sm">
                    This Block is regarding calculation of days for
                    the employee {{ object.user.get_full_name }}.</p>
                <div class="row">
                    <div class="col-md-4">
                        {{ form.days_present|as_crispy_field }}
                    </div>
                    <div class="col-md-4">
                        {{ form.loss_of_pay|as_crispy_field }}
                    </div>
                    <div class="col-md-4">
                        {{ form.paid_leaves|as_crispy_field }}
                    </div>
                </div>
            </fieldset>
            <hr>
            <fieldset class="mt-3">
                <legend>Salary Split</legend>
                <p class="text-muted text-sm">Salary Split</p>
                <div class="row">
                    <div class="col-md-4">
                        {{ form.basic_pay|as_crispy_field }}
                    </div>
                    <div class="col-md-4">
                        {{ form.dearness_allowance|as_crispy_field }}
                    </div>
                    <div class="col-md-4">
                        {{ form.house_rent_allowance|as_crispy_field }}
                    </div>
                    <div class="col-md-4">
                        {{ form.travelling_allowance|as_crispy_field }}
                    </div>
                    <div class="col-md-4">
                        {{ form.advance_payment|as_crispy_field }}
                    </div>
                </div>
            </fieldset>
            <hr>
            <fieldset class="mt-3">
                <legend>Deduction Calculations</legend>
                <p class="text-muted text-sm">Deduction Calculations</p>
                <div class="row">
                    <div class="col-md-4">
                        {{ form.provident_fund|as_crispy_field }}
                    </div>
                    <div class="col-md-4">
                        {{ form.employee_state_insurance|as_crispy_field }}
                    </div>
                    <div class="col-md-4">
                        {{ form.tax_deducted_at_source|as_crispy_field }}
                    </div>
                    <div class="col-md-4">
                        {{ form.advance_deduction|as_crispy_field }}
                    </div>
                    <div class="col-md-4">
                        {{ form.loss_of_pay_deduction|as_crispy_field }}
                    </div>
                </div>
            </fieldset>

            <fieldset class="mt-3">
                <legend>Advanced</legend>
                <p class="text-muted text-sm">Advanced</p>
                <div class="row">
                    <div class="col-md-4">
                        {{ form.net_pay|as_crispy_field }}
                    </div>
                    <div class="col-md-4">
                        {{ form.payment_method|as_crispy_field }}
                    </div>
                    <div class="col-md-4">
                        {{ form.is_frozen|as_crispy_field }}
                    </div>
                </div>
            </fieldset>
            {% comment %}
            {{ form|crispy }}
            {% endcomment %}



        <div class="w-100 float-right">
            <button class="btn btn-warning" onclick="document.querySelector('#id_is_frozen').checked=true" type="submit"> Update and Finalize</button>
            <button class="btn btn-success" type="submit"> Update</button>
        </div>
        </form>
    </div>
    <!-- /.box-body -->
    <div class="card-footer">
    </div>
    </div>
    <!-- box-footer -->
</form>
