{% load humanize solo_tags %}
<style type="text/css">
@media print {
    .turn-off-at-print {display:none !important}
    .col-xs-1, .col-md-1 {width: 8.333333333333334% !important;}
    .col-xs-2, .col-md-3 {width: 16.666666666666668% !important;}
    .col-xs-3, .col-md-3 {width: 25% !important;}
    .col-xs-4, .col-md-4 {width: 33.333333333333336% !important;}
    .col-xs-5, .col-md-5 {width: 41.666666666666664% !important;}
    .col-xs-6, .col-md-6 {width: 50% !important;}
    .col-xs-7, .col-md-7 {width: 58.333333333333336% !important;}
    .col-xs-8, .col-md-8 {width: 66.66666666666667% !important;}
    .col-xs-9, .col-md-9 {width: 75% !important;}
    .col-xs-10, .col-md-10 {width: 83.33333333333333% !important;}
    .col-xs-11, .col-md-11 {width: 91.66666666666667% !important;}
    .col-xs-12, .col-md-12 {width: 100% !important;}
    * {font-size: small}
    img {width:40px; height:40px;}
    .table-blue-skin th{ border-right: 2px solid white; background-color: #3c8dbc !important; color: #fff  !important; }
    h1, h2, h3, h4{color:#3c8dbc !important; font-weight:600}
    .text-primary{color:#3c8dbc !important; }
    .text-white{color:#fff !important; }
    footer{display:none}
}
</style>
{% get_solo 'accounts.CompanyConfig' as site_config %}

<div class="card">

    <div class="card-header">
        <div class="with-border turn-off-at-print ">
    <h3 class="">View Payment Summery - {{ object.grouper.month_name }} {{ object.grouper.year }} - {{ object.user.get_full_name }}  </h3>
    <div class=" pull-right">
        {% if request.user.is_manager %}
            <a href="{% url 'payslip:payslip-detail' pk=object.grouper_id %}" class="label label-primary" title="Future Scope!">Back to list</a>
        {% else %}
            <a href="{% url 'payslip:payslip-my-list' %}" class="label label-primary" title="Future Scope!">Back to list</a>
        {% endif %}
        <a href="{% url 'payslip:attendance-download' pk=object.pk %}" class="label label-warning" title="Future Scope!">Download</a>
        <a href="#" class="label label-success" title="Future Scope!">Excel</a>
    </div>
    <!-- /.box-tools -->
</div>
    </div>
    <!-- /.box-header -->
    <div class="card-body">
        <div class="content">
    <div class="row">
        <div class="col-sm-6">
            <h2 class="text-primary">{{ site_config.name }}</h2>
            <p class="text-primary text-sm"> {{ site_config.address_as_text }}</p>
        </div>
        <div class="col-sm-6">
            <h1 style="float:left">PAYSLIP</h1>
        </div>
    </div>
    <div class="row" style="center">
        <div class="col-sm-4">
            <table class="table table-blue-skin"><thead><tr><th>EMPLOYEE INFORMATION</th></tr></thead></table>
            <h4 class="text-primary">{{ object.user.get_full_name }}</h4>
            <span class="text-muted"> {{ object.user.designation }} | {{ object.user.department }}</span> <br>
            <span class="text-muted"> {{ site_config.name }}</span>
        </div>
        <div class="col-sm-8">
            <table class="table table-blue-skin table-striped">
                <thead>
                <tr>
                    <th>Pay Date</th>
                    <th>Pay Type</th>
                    <th>Period</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ object.grouper.generated_at|date }}</td>
                    <td>Monthly</td>
                    <td>{{ object.grouper.month_name }}, {{ object.grouper.year }}</td>
                </tr>
                </tbody>
                <thead>
                <tr>
                    <th>Payroll #</th>
                    <th>Location</th>
                    <th>Transaction Mode</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ object.payroll_number }}</td>
                    <td>Cochin 42</td>
                    <td>{{ object.payment_method }}</td>
                </tr>
                </tbody>
                <thead>
                <tr>
                    <th>Days Present</th>
                    <th>Paid Leaves</th>
                    <th>Loss of Pay</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ object.days_present }}</td>
                    <td>{{ object.paid_leaves }}</td>
                    <td>{{ object.loss_of_pay }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <table class="table table-striped table-blue-skin">
                <thead>
                <tr>
                    <th>EARNINGS</th>
                    <th>DAYS</th>
                    <th>PAYMENT</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ form.basic_pay.label }}</td>
                    <td class="text-muted">{{ object.grouper.net_working_days }}</td>
                    <td>{{ object.basic_pay|intcomma|intcomma }}</td>
                </tr>
                <tr>
                    <td>{{ form.dearness_allowance.label }}</td>
                    <td class="text-muted">-</td>
                    <td>{{ object.dearness_allowance|intcomma }}</td>
                </tr>
                <tr>
                    <td>{{ form.house_rent_allowance.label }}</td>
                    <td class="text-muted">-</td>
                    <td>{{ object.house_rent_allowance|intcomma }}</td>
                </tr>
                <tr>
                    <td>{{ form.travelling_allowance.label }}</td>
                    <td class="text-muted">-</td>
                    <td>{{ object.travelling_allowance|intcomma }}</td>
                </tr>
                <tr>
                    <td>{{ form.advance_payment.label }}</td>
                    <td class="text-muted">-</td>
                    <td>{{ object.advance_payment|intcomma }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th><b class="text-white">GROSS PAY</b></th>
                    <th></th>
                    <th><b class="text-white">{{ object.gross_pay|intcomma }}</b></th>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-6">
            <table class="table table-striped table-blue-skin">
                <thead>
                <tr>
                    <th>DEDUCTIONS</th>
                    <th>DAYS</th>
                    <th>PAYMENT</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ form.provident_fund.label }}</td>
                    <td class="text-muted">-</td>
                    <td>{{ object.provident_fund|intcomma }}</td>
                </tr>
                <tr>
                    <td>{{ form.employee_state_insurance.label }}</td>
                    <td class="text-muted">-</td>
                    <td>{{ object.employee_state_insurance|intcomma }}</td>
                </tr>
                <tr>
                    <td>{{ form.tax_deducted_at_source.label }}</td>
                    <td class="text-muted">-</td>
                    <td>{{ object.tax_deducted_at_source|intcomma }}</td>
                </tr>
                <tr>
                    <td>{{ form.loss_of_pay_deduction.label }}</td>
                    <td class="text-muted">{{ object.loss_of_pay }}</td>
                    <td>{{ object.loss_of_pay_deduction|intcomma }}</td>
                </tr>
                <tr>
                    <td>{{ form.advance_deduction.label }}</td>
                    <td class="text-muted">-</td>
                    <td>{{ object.advance_deduction|intcomma }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th><b class="text-white">GROSS DEDUCTIONS</b></th>
                    <th></th>
                    <th><b class="text-white">{{ object.gross_deduction|intcomma }}</b></th>
                </tr>
                <tr>
                    <td><b>&nbsp;</b></td>
                    <td></td>
                    <td><b></b></td>
                </tr>
                <tr>
                    <th><b class="text-white">NET PAY</b></th>
                    <th></th>
                    <th><b class="text-white">{{ object.net_pay }}</b></th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
    </div>

</div>
<div class="card-footer text-center">
    <p>If you have any questions about this payslip; please contact, <b>{{ site_config.contact_02_holder_name }}</b> (<a href="tel:{{ site_config.contact_02 }}">  {{ site_config.contact_02 }}</a>, <a href="mailto:{{ site_config.email }}">{{ site_config.email }}</a>) </p>
</div>
