{% load humanize solo_tags %}
{% get_solo 'accounts.CompanyConfig' as site_config %}
<style>
    table th { border: 1px solid red;}
</style>
<table>
    <tr>
        <th colspan="3">
            <h2 class="text-primary">{{ site_config.name }}</h2>
            <p class="text-primary text-sm"> {{ site_config.address_as_text }}</p>
        </th>
        <th colspan="1">
            <h1 style="float:right">PAYSLIP</h1>
        </th>
    </tr>
</table>