{% extends 'paper/layout.html'  %}
{% load static %}
{% block title %} Circulars | {{ block.super|default:"Fegno Internal Management System" }}{% endblock %}

{% block content %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js" defer></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js" defer></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<div class="card card-default "  id="app">
    <div class="card-header card-header-danger ">
        <h4> Circulars  </h4>
    </div>
    <div class="card-body">
        {% if object_list %}
        <div class="row">
            <div class="col-12 ">
        <div class="table-responsive">
            <table class="table table-bordered ">
                <thead>
                <tr>
                    <th>Circular No.</th>
                    <th>Created At</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                {% for doc in object_list %}
                <tr >
                    <td>
                        <a href="{% url 'documents:circular-detail' pk=doc.pk %}">{{ doc.name }}</a>
                    </td>
                    <td>{{ doc.created_at|date}}</td>
                    <td>{{ doc.description|default:"-"}}</td>
                </tr>
                {% endfor %}
                </tbody>
                <tfoot>

                </tfoot>
            </table>
        </div>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="card-footer clearfix">
        {% include 'adminlte/lib/_pagination.html' %}
    </div>
</div>
{% endblock %}


{% block extra_javascript %}

<!--{% include 'adminlte/lib/_scripts.html' %}-->
<!--<script>-->
<!--    (function(){-->
<!--    })()-->
<!--</script>-->
{% endblock %}
