{% extends 'paper/layout.html'  %}

{% load static %}
{% block title %} {{ object.name }} | Circulars | {{ block.super|default:"Fegno Internal Management System" }}{% endblock %}
{% block stylesheets %}
{% include 'adminlte/lib/_styles.html' %}
<style>.unselectable {-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;} </style>
{% endblock %}


{% block content %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js" defer></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js" defer></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<div class="card  " id="app">
    <div class="card-header card-header-danger">
        <h3>Circular: {{ object.name }}</h3>
    </div>
    <div class="card-body">
        <div class="container">
            <div id="document-holder">{{ object.as_html }}</div>
        </div>
    </div>
    <div class="card-footer clearfix">
    </div>
</div>
{% endblock %}


{% block javascript %}
<!--{% include 'adminlte/lib/_scripts.html' %}-->
<script>
    (function(){
        {% if object.needs_nda %}
            $('#id_document_nda').on('change', function(event){
                if(this.checked){
                    $('#document-holder').html(`{{ object.as_html }}`);
                }else{
                    $('#document-holder').html('');
                }
            });
        {% endif %}
    })()
</script>
{% endblock %}
