{% extends 'paper/layout.html'  %}
{% load static %}
{% block title %} Shared Documents | {{ block.super }}{% endblock %}

{% block content %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js" defer></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js" defer></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<div class="card card-default "  id="app">
    <div class="card-header card-header-danger ">
        <h4> Shared Documents  </h4>
    </div>
    <div class="card-body">
        {% if object_list %}
        <div class="table-responsive">
            <table class="table table-bordered ">
                <thead>
                <tr>
                    <th>Document</th>
                    <th>Created At</th>
                </tr>
                </thead>
                <tbody>
                {% for doc in object_list %}
                <tr >
                    <td>
                        <a href="{% url 'documents:publicdocuments-detail' pk=doc.pk %}">{{ doc.name }}</a>
                        <p class="text-muted"> [You have to agree NDA]</p>
                    </td>
                    <td>{{ doc.created_at|date}}</td>
                </tr>
                {% endfor %}
                </tbody>
                <tfoot>

                </tfoot>
            </table>
        </div>
        {% else %}
        <p>No Documents Found</p>
        {% endif %}
    </div>
    <div class="card-footer clearfix">
        {% include 'adminlte/lib/_pagination.html' %}
    </div>
</div>
{% endblock %}


{% block extra_javascript %}
<!--{% include 'adminlte/lib/_scripts.html' %}-->
{% endblock %}
