{% extends 'paper/layout.html'  %}
{% load static %}
{% block title %} Document - {{ object.name }}| Shared Documents | {{ block.super }}{% endblock %}

{% block stylesheets %}
{% include 'adminlte/lib/_styles.html' %}
<style>.unselectable {-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;} </style>
{% endblock %}


{% block content %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js" defer></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js" defer></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<div class="card" id="app">

    <div class="card-header card-header-danger ">
        <h3>Document - {{ object.name }}</h3>
    </div>
    <div class="card-body">
        {% if object.needs_nda %}
        <div class="alert alert-danger">
            <h4>Non Disclosure Agreement:</h4>
            By signing this agreement, you (who viewed / dealt with this document provided in this page) are agreed <br />
            <ol style="display: inline;">
                <li>not to download</li>
                <li>not to copy</li>
                <li>not to print</li>
                <li>not to share</li>
                <li>not to disclose</li>
            </ol>
            any of the files, or any portion of its contents via any medium or in any form.
            <div class="checkbox">
                <label for="id_document_nda" class="unselectable border  border-white" style="cursor:pointer;">
                    <input type="checkbox" id="id_document_nda" class="" />
                    A agree the NDA mentioned above and I acknowledge  any form of sharing is penalizable under <b>Indian_Contract_Act,_1872</b>
                </label>
            </div>
        </div>
        {% endif %}
        <div class="container">
            <div id="document-holder">{% if not object.needs_nda %}{{ object.as_html }}{% endif %}</div>
        </div>
    </div>
    <div class="card-footer clearfix">
    </div>
</div>
{% endblock %}


{% block extra_javascript %}
<!--{% include 'adminlte/lib/_scripts.html' %}-->
<script>
    (function(){
        {% if object.needs_nda %}
            $('#id_document_nda').on('change', function(event){
                if(this.checked){
                    $('#document-holder').html(`{{ object.as_html }}`);
                }else{
                    $('#document-holder').html('');
                }
            });
        {% endif %}
    })()
</script>
{% endblock %}
