{% extends 'paper/layout.html'  %}
{% load static crispy_forms_tags %}
{% block title %} Shared Documents | {{ block.super }}{% endblock %}

{% block content %}
{% regroup object_list by doc_type_id as doc_list %}
<style>
{% for dc in doc_list %}select#id_doc_type option[value="{{dc.grouper}}"]{% if not forloop.last %},{% endif %}{% endfor %}{background-color:#fff2b1;}
</style>
<div class="card card-default "  id="app">
    <div class="card-header card-header-danger ">
        <h4> Personal Documents Documents  </h4>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-md-offset-1 col-md-4">
                {% if object_list %}
                <h3>Uploaded Documents</h3>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Document</th>
                            <th>Created At</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for doc in object_list %}
                        <tr >
                            <td><a href="{% url 'documents:userdocuments-detail' pk=doc.pk %}">{{ doc.doc_type.name }}</a></td>
                            <td>{{ doc.created_at|date}}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>

                        </tfoot>
                    </table>
                </div>
                {% endif %}
            </div>
            <div class="col-md-2 ">
                <img src="{% static 'images/file-folder.png' %}" width="auto" height="270px" />
            </div>
            <div class="col-md-4 ">
                <h3>Add New Document</h3>
                <form method="POST"  enctype="multipart/form-data">
                    {{ form|crispy }}
                    <input type="submit" class="btn btn-white text-danger " value="Update">
                </form>

            </div>

        </div>
    </div>
    <div class="card-footer clearfix">
        {% include 'adminlte/lib/_pagination.html' %}
    </div>
</div>
{% endblock %}


{% block extra_javascript %}
<!--{% include 'adminlte/lib/_scripts.html' %}-->
{% endblock %}
