{% load py_utils static %}
{% if request.user.is_devops %}
<li class="treeview">

    <a data-toggle="collapse" href="#componentsExamples1" class="collapsed" aria-expanded="false">
        <i class="nc-icon nc-layout-11"></i>
        <p>Devops<b class="caret"></b>        </p>
    </a>
    <div class="collapse" id="componentsExamples1" style="">
        <ul class="nav" style="">
            <li>
                <a href="{% url 'project:hosting-list' %}">
<!--                    <i class="fa fa-clone"></i>-->
                    Hosting List
                </a>
            </li>
        </ul>
    </div>
</li>
{% endif %}

{% if request.user.is_in_business %}
<li class="treeview">

    <a data-toggle="collapse" href="#componentsExamples2" class="collapsed" aria-expanded="false">
        <i class="nc-icon nc-layout-11"></i>
        <p>Business<b class="caret"></b>        </p>
    </a>
    <div class="collapse" id="componentsExamples2" style="">
        <ul class="nav" style="">

            <li>
                <a href="{% url 'project:project-list' %}">
<!--                <i class="fa fa-hdd-o"></i>-->
                    Projects & Clients
                </a>
            </li>
            <li>
                <a href="{% url 'project:create_prospect' %}">Prospects </a>
            </li>
             <li >
                 <a href="{% url 'accounts:proforma-list' %}">
<!--                 <i class="fa fa-th-list" aria-hidden="true"></i> -->
                     <span> Proforma </span>
                </a>
            </li>
             <li >
                 <a href="{% url 'project:inflow_list' %}">
<!--                 <i class="fa fa-th-list" aria-hidden="true"></i> -->
                     <span> Inflow Outflow </span>
                </a>
            </li>

        </ul>
    </div>
</li>
{% endif %}

{% if request.user.is_hr %}
{% no_of_pending_leaves as pending_leaves %}
<li class="treeview" >
    <a data-toggle="collapse" href="#componentsExamples3" class="collapsed" aria-expanded="false">
        <i class="nc-icon nc-layout-11"></i>
                <p>Human Resource<b class="caret"></b></p>
    </a>
    <div class="collapse" id="componentsExamples3" style="">
        <ul class="nav" style="">

            <li>
                <a href="{% url 'leave:new-leave-requests' %}">
                    {% if pending_leaves%} <span class="label bg-yellow">{{ pending_leaves }}</span>   New Requests {% endif %}
                </a>
            </li>
            <li>
                <a href="{% url 'leave:wfh-hr-list' %}">
                    WFH Requests
                </a>
            </li>
            <li>
                <a href="{% url 'payslip:payslip-list' %}">
<!--                    <i class="fa fa-ellipsis-v"></i>-->
                    Payslip List
                </a>
            </li>
            <li>
                <a href="{% url 'leave:annual-user-leave' %}">
<!--                    <i class="fa fa-building"></i>-->
                    Annual Summary
                </a>
            </li>
            <li>
                <a href="{% url 'leave:user-leave' %}">
<!--                    <i class="fa fa-calendar-check-o"></i>-->
                    Month Summary
                </a>
            </li>
            <li>
                <a href="{% url 'leave:late-attendance-list' %}">
<!--                    <i class="fa fa-calendar-times-o"></i>-->
                    Late Attendance
                </a>
            </li>
            <li>

                <a href="{% url 'asset:asset_list' %}">
<!--                    <i class="fa fa-calendar-times-o"></i>  -->
                    Assets
                </a>
            </li>

        </ul>
    </div>
</li>

{% endif %}
