
<li class="treeview" >

    <a data-toggle="collapse" href="#componentsExamples" class="collapsed" aria-expanded="false">
        <i class="nc-icon nc-layout-11"></i>
        <p>
            Administration<b class="caret"></b>
        </p>
    </a>
    <div class="collapse hide" id="componentsExamples" style="">
        <ul class="nav" style="">
            <li>
            <a href="{% url 'admin:index' %}" target="_blank">
                <i class="fa fa-dashboard"></i>  Admin Panel
            </a>
        </li>
        {% if request.user.is_manager %}
        <li >
            <a href="{% url 'petty:dashboard-petty' %}">
                <i class="fa fa-th-list" aria-hidden="true"></i> <span>Petty</span>
            </a>
        </li>
        {% endif %}

        </ul>
    </div>
</li>
