    <li>
    <a href="javascript:;">
        <i class="nc-icon nc-diamond"></i>
        <p>business Item 1 </p>
    </a>
</li>
<li>
    <a href="javascript:;">
        <i class="nc-icon nc-diamond"></i>
        <p>business Item 2 </p>
    </a>
</li>
<li>
    <a href="javascript:;">
        <i class="nc-icon nc-diamond"></i>
        <p>business Item 3 </p>
    </a>
</li>
