<ul class="nav">
<!--    {% if settings.DEBUG %}-->
<!--        {% include 'paper/utils/example_menu.html' %}-->
<!--    {% endif %}-->

{% block nav_links_ul %}
<ul class="sidebar-menu" >
    {% block nav_links_outer %}
    <li class="header">{% block nav_heading %}MAIN NAVIGATION{% endblock %}</li>

    {% block nav_links %}
    <li>
        <a href="{% url 'user:user_profile_update' request.user.id %}">
               <i class="nc-icon nc-single-02"></i> <span>User Profile</span>
        </a>
    </li>
    <li>
        <a href="{% url 'drar:drar-today' %}">
            <i class="fa fa-calendar-check-o"></i> <span>Personal DRAR</span>
        </a>
    </li>
    <li>
        <a href="{% url 'leave:holiday-list' %}">
            <i class="fa fa-calendar-check-o"></i> <span>Holidays</span>
        </a>
    </li>
    <li>
        <a href="{% url 'leave:list' %}">
            <i class="fa fa-sign-out" aria-hidden="true"></i><span>Leaves</span>
        </a>
    </li>
    <!-- li>
        <a href="{% url 'leave:wfh-list' %}">
            <i class="fa fa-sign-out" aria-hidden="true"></i> <span>Work form home <img src="https://www.svgrepo.com/show/100644/new.svg" width="30" alt=""> </span>
        </a>
    </li -->
    <li>
        <a href="{% url 'documents:circular-list' %}">
            <i class="fa fa-newspaper-o" aria-hidden="true"></i><span>Circulars</span>
        </a>
    </li>
    <li>
        <a href="{% url 'documents:publicdocuments-list' %}">
            <i class="fa fa-braille" aria-hidden="true"></i><span>Policy documents</span>
        </a>
    </li>
    {% if not request.user.is_manager %}
    <li>
        <a href="{% url 'payslip:payslip-my-list' %}">
            <i class="fa fa-book" aria-hidden="true"></i><span>PaySlips</span>
        </a>
    </li>
    {% endif %}
    <li>
        <a href="{% url 'documents:userdocuments-list' %}">
            <i class="fa fa-book" aria-hidden="true"></i><span>My Documents</span>
        </a>
    </li>
    <li>
        <a href="{% url 'asset:user_asset_list' %}">
            <i class="fa fa-book" aria-hidden="true"></i><span>Asset List</span>
        </a>
    </li>

    {% include 'paper/utils/_user_permission_menus.html' %}
    {% if user.is_superuser %}
    {% include 'paper/utils/admin_menu.html' %}
    {% endif %}
    {% endblock nav_links %}
    {% endblock nav_links_outer %}
</ul>
{% endblock nav_links_ul %}



</ul>
