
<li>
    <a data-toggle="collapse" href="#componentsExamples" class="" aria-expanded="true">
        <i class="nc-icon nc-layout-11"></i>
        <p>
            Examples <b class="caret"></b>
        </p>
    </a>
    <div class="collapse show" id="componentsExamples" style="">
        <ul class="nav">
            <li>
                <a href="/dashboard.html">
                    <span class="sidebar-mini-icon">GM</span>
                    <span class="sidebar-normal"> Dashboard </span>
                </a>
            </li>
            <li>
                <a href="/icons.html">
                    <span class="sidebar-mini-icon">GM</span>
                    <span class="sidebar-normal"> Icons </span>
                </a>
            </li>
            <li>
                <a href="/notifications.html">
                    <span class="sidebar-mini-icon">GM</span>
                    <span class="sidebar-normal"> Notifications </span>
                </a>
            </li>
            <li>
                <a href="/tables.html">
                    <span class="sidebar-mini-icon">GM</span>
                    <span class="sidebar-normal"> Tables </span>
                </a>
            </li>
            <li>
                <a href="/typography.html">
                    <span class="sidebar-mini-icon">GM</span>
                    <span class="sidebar-normal"> Typography </span>
                </a>
            </li>
            <li>
                <a href="/user.html">
                    <span class="sidebar-mini-icon">GM</span>
                    <span class="sidebar-normal"> User </span>
                </a>
            </li>
        </ul>
    </div>
</li>