{% block footer %}
<footer class="footer w-100 row" >
    <div class="container-fluid">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    {% block footer_links %}
                    <li><a href="https://www.fegno.com" target="_blank">www.fegno.com </a></li>
                    {% endblock %}
                </ul>
            </nav>
            <div class="credits ml-auto">
                  <span class="copyright">
                    {% block footer_message %}© 2021, made with <i class="fa fa-heart heart"></i> by Fegno Technologies {% endblock %}
                  </span>
            </div>
        </div>
    </div>
</footer>
{% endblock %}
