    <!-- Navbar -->{% load static i18n %}

    <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
      <div class="container-fluid">
        <div class="navbar-wrapper">
          <div class="navbar-toggle">
            <button type="button" class="navbar-toggler">
              <span class="navbar-toggler-bar bar1"></span>
              <span class="navbar-toggler-bar bar2"></span>
              <span class="navbar-toggler-bar bar3"></span>
            </button>
          </div>
        <a class="navbar-brand text-capitalize" href="#">
            <p style="max-width: 62vw;overflow: hidden;text-overflow: ellipsis;">Fegno Internal Management System</p>
            <div class="ripple-container"></div>
        </a>

          <a class="navbar-brand" href="javascript:;">{% block title %}{% endblock %}</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar navbar-kebab"></span>
          <span class="navbar-toggler-bar navbar-kebab"></span>
          <span class="navbar-toggler-bar navbar-kebab"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
          <form>
            <div class="input-group no-border">
              <input type="text" value="" class="form-control" placeholder="Search...">
              <div class="input-group-append">
                <div class="input-group-text">
                  <i class="nc-icon nc-zoom-split"></i>
                </div>
              </div>
            </div>
          </form>
          <ul class="navbar-nav">
            <li class="nav-item btn-rotate dropdown">
              <a class="nav-link dropdown-toggle" href="" id="example" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="nc-icon nc-bell-55"></i>
                <p>
                  <span class="d-lg-none d-md-block">Some Actions</span>
                </p>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink2">
                {% block notifications %}
                {% endblock %}

              </div>

            </li>
          </ul>

          {% if request.user.is_authenticated %}
                   <ul class="navbar-nav">
                      <li class="nav-item btn-rotate dropdown">
                          <a class="nav-link dropdown-toggle" href="http://example.com" id="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="nc-icon nc-single-02"></i>
                          </a>
                          {% block menu_footer %}
                          {% comment %}
                          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{% url 'password_change' %}">Change Password</a>
                                <a class="dropdown-item" href="{% url 'logout' %}">Sign Out</a>
<!--                                            <a href="{% url 'password_change' %}" class="btn btn-default ">-->
<!--                                              <i class="fa fa-braille" aria-hidden="true"></i><span>Change password</span>-->
<!--                                              </a>-->
<!--                                            <a href="{% url 'logout' %}" class="btn btn-default ">-->
<!--                                              <i class="fa fa-sign-out" aria-hidden="true">Sign out</i></a>-->

                          </div>
                          {% endcomment %}
                          {% endblock %}
                      </li>
                    </ul>
          {% endif %}
          </div>
        </div>
    </nav>
    <!-- End Navbar -->
