<ul class="nav">
    <!--    {% if settings.DEBUG %}-->
    <!--        {% include 'paper/utils/example_menu.html' %}-->
    <!--    {% endif %}-->

    {% block nav_links_ul %}
    <ul class="sidebar-menu" >
        {% block nav_links_outer %}
        <li class="header">{% block nav_heading %}MAIN NAVIGATION{% endblock %}</li>

        {% block nav_links %}
        {% if request.user.new_candidate_form_is_in_draft_mode %}
        <li>
            <a href="{% url 'onboarding:general-information' %}">
                <i class="fa fa-user"></i> <span>General Information</span>
            </a>
        </li>
        <li>
            <a href="{% url 'onboarding:complete-profile' %}">
                <i class="fa fa-user"></i> <span>Complete Profile</span>
            </a>
        </li>
        <li>
            <a href="{% url 'onboarding:add-documents' %}">
                <i class="fa fa-file" aria-hidden="true"></i><span>Add Documents</span>
            </a>
        </li>
        <li>
            <a href="{% url 'onboarding:submit' %}">
                <i class="fa fa-cloud" aria-hidden="true"></i><span>Submit Your Profile</span>
            </a>
        </li>
        {% endif %}
        <li>
            <a href="{% url 'onboarding:information' %}">
                <i class="fa fa-sitemap" aria-hidden="true"></i><span>Information</span>
            </a>
        </li>
        {% endblock nav_links %}
        {% endblock nav_links_outer %}
    </ul>
    {% endblock nav_links_ul %}



</ul>
