<div class="user">
    <div class="photo">
        <img src="{{ user.avatar_url | default:settings.DEFAULT_FEMALE_PROFILE_IMAGE }}">
    </div>
    <div class="info">

        <span data-toggle="collapse" href="#collapseExample" class="collapsed " aria-expanded="false">
            {{ user.get_full_name|default:"Anonymous" }}
            <b class="caret"></b>
        </span>
        <!--<div class="collapse" id="collapseExample" style="">
            <ul class="nav">
                <li>
                    <a href="#">
                        <span class="sidebar-mini-icon">MP</span>
                        <span class="sidebar-normal">My Profile</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="sidebar-mini-icon">EP</span>
                        <span class="sidebar-normal">Edit Profile</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="sidebar-mini-icon">S</span>
                        <span class="sidebar-normal">Settings</span>
                    </a>
                </li>

            </ul>
        </div>-->
    </div>
</div>
