{% extends 'paper/layout.html'  %}
{% block title %}  Asset Type {% endblock %}
{% load static crispy_forms_tags %}
{% block content %}
<nav aria-label="breadcrumb" role="navigation" class="col-md-8 ml-1 mr-4">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active"><a href="{% url 'asset:asset_list' %}">Asset Home</a></li>
          <li class="breadcrumb-item active"><a href="{% url 'asset:asset_category_list' %}">Category List</a></li>
          <li class="breadcrumb-item active"><a href="{% url 'asset:asset_add_category' %}">Add Category </a></li>
  </ol>
</nav>
<div class="row">
    <div class="col-md-8">
        <div class="card mr-2 ml-3 p-4">
            <div class="card-body">
                <h4>Asset Category - Create</h4>
                <hr/>
                <form method="post">
                {% csrf_token %}
                    <div class="col-md-12 form-group pb-5">
                        {{ form|crispy }}
                    </div>
                    <hr>
                    <div class="">
                        <button class="btn btn-success">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}