{% extends 'paper/layout.html'  %}
{% block title %} Asset List {% endblock %}
{% load static crispy_forms_tags %}
{% block content %}
<nav aria-label="breadcrumb" role="navigation" class="col-md-1 mr-4">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a href="{% url 'asset:asset_list' %}">Asset Home</a></li>
    </ol>
</nav>
<div class="row ml-3">
    <div class="col-md-11">
        <div class="card">
            <h4 class="title ml-4">Asset List</h4>
            <!--                <p class="category">Here is a subtitle for this table</p>-->
            <div class="card-body">
                <div class="content table-responsive">
                    <table class="table table-striped ml-4 mr-5">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Component</th>
                            <th>User</th>
                            <th>From</th>
                            <th>To</th>
                            <th>Mark as Damaged</th>
                        </tr>
                        </thead>
                        <tbody style="align-center">
                        {% for assigned in object_list %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ assigned.component }}</td>
                            <td>{{ assigned.user }}</td>
                            <td>{{ assigned.from_date }}</td>
                            {% if assigned.to_date %}
                            <td>{{ assigned.to_date }}</td>
                            {% else %}
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-
                            </td>
                            {% endif %}
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="">
                                        <span class="form-check-sign">
                                        <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_javascript %}

{% endblock %}