{% extends 'paper/layout.html'  %}
{% block title %} Update Asset {% endblock %}
{% load static crispy_forms_tags %}
{% block content %}
<div class="row ml-3 mr-3">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header with-border">
                <h1 class="box-title">User Asset List</h1>
            </div>
            <hr>
<!--            <form method="get ">-->
<!--                <div class="row ml-3 mr-12">-->
<!--                    &nbsp;&nbsp;&nbsp;-->
<!--                    {% for field in filterdata.form %}-->
<!--                    <div class="col-md-3">-->
<!--                        {{field|as_crispy_field}}-->
<!--                    </div>-->
<!--                    {% endfor %}-->
<!--                        <button type="submit" class="btn btn-primary btn-md  ml-3 mr-3">Search</button>-->
<!--                </div>-->
<!--                <hr>-->
<!--            </form>-->
            <div class="card-body col-md-12">
                <table class="table">
                    <thead>
                    <tr class="text-center">
                            <th>#</th>
                            <th>Component</th>
                            <th>From</th>
                            <th>To</th>
                    </tr>
                    </thead>
                    {% if object_list %}
                    <tbody>
                    {% for assigned in object_list %}
                    <tr class="text-center">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ assigned.component }}</td>
                        <td>{{ assigned.from_date }}</td>
                        {% if assigned.to_date %}
                        <td>{{ assigned.to_date }}</td>
                        {% else %}
                        <td><span class="badge badge-success" style="font-size:14px;">Currently Active</span>
                        </td>
                        {% endif %}
                    </tr>
                    {% empty %}
                    <tr class="text-center">
                        <td colspan="7"><h3>No Components match your search criteria</h3></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}