{% extends 'paper/layout.html'  %}
{% block title %} Asset List {% endblock %}
{% load static crispy_forms_tags %}
{% load templatehelpers %}
{% block content %}
<nav aria-label="breadcrumb" role="navigation" class="col-md-11">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a href="{% url 'asset:asset_list' %}">Asset Home</a></li>
    </ol>
</nav>
<div class="row">
    <div class="col-md-9 ml-2">
        <div class="card">
            <div class="card-header with-border"><h1 class="card-title display-4">Asset List</h1>
                <div class="box-tools pull-right">
                    &nbsp;&nbsp;&nbsp;<a href="{% url 'asset:asset_category_list' %}" class="btn btn-primary">Asset
                    Category</a>
                    &nbsp;&nbsp;&nbsp;<a href="{% url 'asset:asset_add' %}" class="btn btn-success">Add Asset</a>
                    &nbsp;&nbsp;&nbsp;<a href="{% url 'asset:asset_assign' %}" class="btn btn-danger">Damaged Assets</a>
                </div>
                <!-- /.box-tools -->
            </div>
            <hr>
            <form method="get ">
                    &nbsp;&nbsp;&nbsp;
                <div class="row ml-2">
                    {% for field in filterdata.form %}
                    <div class="col-md-3">
                        {{field|as_crispy_field}}
                    </div>
                    {% endfor %}
                    <div class="col-md-3">
                          <button type="submit" class="btn btn-primary btn-sm " style="height:40px;margin-top:20px;">Search</button>
                    </div>

                </div>
                    <hr>
            </form>
            <!-- /.box-header -->
            <div class="card-body col-md-12">
                <table class="table">
                    <thead>
                    <tr class="text-center">
                        <th>#</th>
                        <th>Name</th>
                        <th>code</th>
                        <th>Type</th>
                        <th>Price</th>
                        <th>Assigned to</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    {% if filter %}
                    <tbody>
                    {% for component in filter %}
                    <tr class="text-center">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ component.name }}</td>
                        <td>{{ component.code }}</td>
                        <td>{{ component.category }}</td>
                        <td>{{ component.price }}</td>
                        {% if component.is_defected == False %}
                            {% if component.is_vacant %}
                            <td>-</td>
                            {% else %}
                            <td>{{ component.ownership_set.first.user }}</td>
                            {% endif %}
                        <td class="row justify-content-center">
                            <a href="{% url 'asset:asset_update' component.id %}" type="submit"
                               class="btn btn-primary btn-sm ">Edit</a>

                            {% if component.is_vacant %}
                            &nbsp;&nbsp;
                            <form action="{% url 'asset:asset_remove' component.id %}" method="post">
                                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                            </form>
                            &nbsp;&nbsp;
                            <a type="submit" id="assign_btn" class="assign_btn btn btn-info btn-sm"
                               data-id="{{ component.id }}">Assign</a>
                            {% else %}

                            &nbsp;&nbsp;
                            <a type="submit" data-id="{{ component.id }}" class="unassign_btn btn btn-info btn-sm"
                               id="unassign_btn">UnAssign</a>
                            {% endif %}
                        </td>
                        {% else %}
                        <td>Damaged</td>
                        <td>
                            <form action="{% url 'asset:asset_remove' component.id %}" method="post">
                                 <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                            </form>
                        </td>
                        {% endif %}
                    </tr>
                    {% empty %}
                    <tr class="text-center">
                        <td colspan="7"><h3>No Components match your search criteria</h3></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    {% endif %}
                </table>
            </div>
            <!-- /.box-body -->
            <div class="card-footer">
                {% if filter.has_other_pages %}
                <ul class="pagination  pg-blue">
                    {% if filter.has_previous %}
                    <li class="page-item "><a class="page-link"
                                              href="?page={{ filter.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                    <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                    {% endif %}
                    {% for i in filter.paginator.page_range %}
                    {% if filter.number == i %}
                    <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
                    </li>
                    {% else %}
                    <li class="page-item "><a class="page-link" href="{% relative_url i 'page' request.GET.urlencode %}">{{ i }}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if filter.has_next %}
                    <li class="page-item "><a class="page-link" href="{% relative_url filter.next_page_number 'page' request.GET.urlencode %}">&raquo;</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                    {% endif %}
                </ul>
                {% endif %}
            </div>
            <!-- box-footer -->
        </div>

    </div>
    <div class="col-lg-2 col-sm-2 ">
    <button type="button" class="btn btn-primary btn-lg">Assets Remaining&nbsp;<span class="badge bg-danger ms-2 " style="font-size:1rem;">{{ count_data.unassign_count }}</span>
    </button>
    <button type="button" class="btn btn-primary btn-lg">
        Assets Assigned &nbsp;&nbsp;<span class="badge bg-danger ms-2 " style="font-size:1rem;">{{ count_data.assign_count }}</span>
    </button>
    <button type="button" class="btn btn-primary  btn-lg">
        Assets Damaged  &nbsp;<span class="badge bg-danger ms-2 " style="font-size:1rem;">{{ count_data.damage_count }}</span>
    </button>
    </div>
</div>
{% endblock %}

{% block extra_javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.4.17/sweetalert2.min.js"
        integrity="sha512-Kyb4n9EVHqUml4QZsvtNk6NDNGO3+Ta1757DSJqpxe7uJlHX1dgpQ6Sk77OGoYA4zl7QXcOK1AlWf8P61lSLfQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
var elements = document.querySelectorAll(".unassign_btn");
function myFunction(event){
    var element = event.target.getAttribute('data-id') ;
    var DataJSON = { element:element }
Swal.fire({
      title: 'Are you sure?',
      text: "You want to unassign this asset!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085D6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, Unassign!'
    }).then((result) => {
                if (result.isConfirmed) {
                        console.log(element);
                        $.ajax({
                                url  : "{% url 'asset:asset_unassign' %}",
                                method : 'post',
                                data : DataJSON,
                                success:function(data){
                                   Swal.fire(
                                  'Unassigned!',
                                  'Asset has been Unassigned.',
                                  'success').then(function(){
                                    location.reload()
                                    })
                                }
                        });
                }
       })
    }
    for( var i = 0 ; i < elements.length; i++ )
    {
        elements[i].addEventListener('click', myFunction )
    }

</script>
<script>
$(".assign_btn").on("click",async function(e) {
        e.preventDefault();
        var component=e.target.getAttribute('data-id')
        const { value: user } = await Swal.fire({
              title: 'Select User',
              input: 'select',
              inputOptions: {
                            {% for i in result %}
                              '{{ i.id }}': '{{ i.username }}',
                            {% endfor %}
                            },
              inputPlaceholder: 'Select a User',
              showCancelButton: true,
              inputValidator: (value) => {
                    return new Promise((resolve) => {
                      if (value !== '') {
                            console.log(value);
                            $.ajax({
                                url  : "{% url 'asset:asset_assign_ownership' %}",
                                method : 'post',
                                data : { value:value, component:component },
                                success:function(data){
                                   Swal.fire(
                                  'Unassigned!',
                                  'Asset has been Unassigned.',
                                  'success').then(function(){
                                    location.reload()
                                    })
                                }
                            });
                        resolve()
                      } else {
                        resolve('You need to select user :)')
                      }
            location.reload()
                    })

              }

        })
})
</script>
{% endblock %}