{% extends 'paper/layout.html'  %}
{% block title %} Asset List {% endblock %}
{% load static crispy_forms_tags %}
{% block content %}
<nav aria-label="breadcrumb" role="navigation" class="ml-3 mr-3">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active"><a href="{% url 'asset:asset_list' %}">Asset Home</a></li>
    <li class="breadcrumb-item active"><a href="{% url 'asset:asset_category_list' %}">Category List</a></li>
  </ol>
</nav>



<div class="row m-auto">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header with-border"><h3 class="box-title">Asset Category - List</h3>
                <div class="box-tools pull-right">
                    <!-- Buttons, labels, and many other things can be placed here! -->
                    <!-- Here is a label for example -->
                    <a href="{% url 'asset:asset_add_category' %}" class="btn btn-success">Add New Category</a>
                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="card-body col-md-11">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Count</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    {% for types in object_list %}
                    <tbody>
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ types.name }}</td>
                        <td>{{ types.count }}</td>
                        <td>
                            <a href="{% url 'asset:asset_category_update' types.pk %}" type="submit" class="btn btn-primary btn-sm">Edit</a>
                        </td>
                    </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
            <!-- /.box-body -->
            <div class="card-footer">
                {% if is_paginated %}
                  <ul class="pagination  pg-blue">
                    {% if page_obj.has_previous %}
                      <li class="page-item "><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                      <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                    {% endif %}
                    {% for i in paginator.page_range %}
                      {% if page_obj.number == i %}
                        <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                      {% else %}
                        <li class="page-item "><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                      {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                      <li class="page-item "><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                    {% else %}
                      <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                    {% endif %}
                  </ul>
                {% endif %}
            </div>
            <!-- box-footer -->
        </div>

    </div>
</div>
{% endblock %}