{% extends 'paper/layout.html'  %}
{% block title %} Asset Add Damaged {% endblock %}
{% load static crispy_forms_tags %}
{% block content %}
<nav aria-label="breadcrumb" role="navigation" class="col-md-11 ml-3 mr-4">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a href="{% url 'asset:asset_list' %}">Asset Home</a></li>
        <li class="breadcrumb-item active"><a href="{% url 'asset:asset_assign' %}">Assign Damaged</a></li>
    </ol>
</nav>
<div class="row ml-3">
    <div class="col-md-11">
        <div class="card">
            <h4 class="title ml-4">Asset Damage List</h4>
            <div class="card-body">
                    <table class="table table-striped ">
                        <thead>
                        <tr class="text-center">
                            <th>#</th>
                            <th>Component</th>
                            <th>User</th>
                            <th>From</th>
                            <th>To</th>
                            <th>Defected_by</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody style="align-center">
                        {% for assigned in object_list %}
                        <tr class="text-center">
                            <td>{{ forloop.counter }}</td>
                            <td>{{ assigned.component }}</td>
                            <td>{{ assigned.user }}</td>
                            <td>{{ assigned.from_date }}</td>
                            {% if assigned.to_date %}
                            <td>{{ assigned.to_date }}</td>
                            {% else %}
                            <td>-
                            </td>
                            {% endif %}
                            {% if assigned.component.defected_by != None %}
                            <td>{{ assigned.component.defected_by }}</td>
                            {% else %}
                            <td>-</td>
                            {% endif %}
                            <td>
                                {% if assigned.component.is_defected == False %}
                                <div class="form-check">&nbsp;
                                    <a type="submit" data-id="{{ assigned.component.id }}" class="form-button btn btn-primary">Mark as Damaged</a>
                                </div>
                                {% else %}
                                &nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;Damaged
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% if is_paginated %}
                  <ul class="pagination  pg-blue">
                    {% if page_obj.has_previous %}
                      <li class="page-item "><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                      <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                    {% endif %}
                    {% for i in paginator.page_range %}
                      {% if page_obj.number == i %}
                        <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                      {% else %}
                        <li class="page-item "><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                      {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                      <li class="page-item "><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                    {% else %}
                      <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                    {% endif %}
                  </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.4.17/sweetalert2.min.js" integrity="sha512-Kyb4n9EVHqUml4QZsvtNk6NDNGO3+Ta1757DSJqpxe7uJlHX1dgpQ6Sk77OGoYA4zl7QXcOK1AlWf8P61lSLfQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
$(".form-button").click( async function(e) {
    e.preventDefault();
    var component= e.target.getAttribute('data-id')
    const { value: user } = await Swal.fire({
          title: 'Select user which Damaged Asset',
          input: 'select',
          inputOptions: {
                        {% for i in result %}
                          '{{ i.id }}': '{{ i.username }}',
                        {% endfor %}
                        },
          inputPlaceholder: 'Select a User',
          showCancelButton: true,
          inputValidator: (value) => {
                return new Promise((resolve) => {
                  if (value !== '') {
                        console.log(value);
                        $.ajax({
                            url  : "{% url 'asset:asset_damaged_assets' %}",
                            method : 'post',
                            data : { value:value, component:component },
                            success:function(data){
                               Swal.fire(
                              'Marked Successfully!',
                              'Asset has been Marked as Damaged.',
                              'success').then(function(){
                                    location.reload()
                                    })
                            }
                        });
                    resolve()
                  } else {
                    resolve('You need to select user')
                  }
                })
          }

    })
})
</script>
{% endblock %}