{% extends 'adminlte/login.html' %}
{% block title %} Fegno Internal Management System | Fegno Technologies LLP {% endblock %}

{% block logo_text %}
    <b>FIMS</b><br />
    <small>Fegno Internal Management System </small>
{% endblock %}


{% block logo_text_small %}
    <b>FIMS</b><br />
    <small>Fegno Internal Management System </small>
{% endblock %}

