{% extends 'adminlte/login.html' %}
{% block title %} Fegno Internal Management System | Fegno Technologies LLP {% endblock %}

{% block logo_text %}
<b>FIMS</b><br />
<small>Fegno Internal Management System </small>
{% endblock %}


{% block logo_text_small %}
<b>FIMS</b><br />
<small>Fegno Internal Management System </small>
{% endblock %}

{% block login_form %}
<form action="" method="post">
    {% csrf_token %}
    {% if message %}
    <p class="login-box-msg" style="color: red;">{{ message }}</p>
    {% endif %}
    <div class="form-group has-feedback">
        <input name="username" class="form-control" value="{{ request.POST.username }}" placeholder="Username">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
    </div>
    <div class="form-group has-feedback">
        <input type="password" name="password" class="form-control" value="{{ request.POST.password }}" placeholder="Password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
    </div>
    <div class="row">
        <div class="col-xs-8">
            {% block login_form_links %}
            {% endblock %}
        </div>
        <div class="col-xs-4">
            <button type="submit" class="btn btn-primary btn-block btn-flat">Login</button>
        </div>
    </div>
</form>
{% endblock login_form %}
