{% extends 'paper/layout.html'  %}
{% load static %}
{% block title %} SOP | {{ block.super }}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"> Standard Operating Procedures </h4>
                    <p class="text-description text-muted"> Here are the list of Standard Operating Procedures, you need to follow.  </p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <td>ID</td>
                                <td>Title</td>
                                <td>Updated</td>
                                <td>Managed By</td>
                                <td>Target</td>
                            </tr>
                            </thead>
                            <tbody>
                            {% for sop in object_list %}
                            <tr>
                                <td>{% if page_obj %}{{ forloop.counter0|add:page_obj.number }}{% else %}{{ forloop.counter }}{% endif %}</td>
                                <td>
                                    <h5 class="heading-5">{{ sop.title }}</h5>
                                    <p class="text-description"></p>
                                </td>
                                <td>Updated</td>
                                <td>Managed By</td>
                                <td>Target</td>

                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="100%">You do not have any active SOPs to follow.</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer">

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}