<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="{{ settings.STATIC_URL }}paper/img/apple-icon.png">
  <link rel="icon" type="image/png" href="{{ settings.STATIC_URL }}images/fegno.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    {% block page_title %}{% endblock %}
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="{{ settings.STATIC_URL }}paper/css/bootstrap.min.css" rel="stylesheet" />
  <link href="{{ settings.STATIC_URL }}paper/css/paper-dashboard.css?v=2.0.1" rel="stylesheet" />
  <!-- select2 resources -->
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css" integrity="sha512-kq3FES+RuuGoBW3a9R2ELYKRywUEQv0wvPTItv3DSGqjpbNtGWVdvT8qwdKkqvPzT93jp8tSF4+oN4IeTEIlQA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.7/dist/sweetalert2.all.min.js" ></script>

  <!-- end select2 resources -->
  {% block css %}
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="{{ settings.STATIC_URL }}paper/demo/demo.css" rel="stylesheet" />
  <style>
    .logo-image-small{padding:5px 30px}
    .off-canvas-sidebar[data-color=white] .nav li a,.off-canvas-sidebar[data-color=white] .nav li a i,.off-canvas-sidebar[data-color=white] .nav li a[data-toggle=collapse],.off-canvas-sidebar[data-color=white] .nav li a[data-toggle=collapse] i,.off-canvas-sidebar[data-color=white] .nav li a[data-toggle=collapse]~div>ul>li .sidebar-mini-icon,.off-canvas-sidebar[data-color=white] .nav li a[data-toggle=collapse]~div>ul>li>a,.sidebar[data-color=white] .nav li a,.sidebar[data-color=white] .nav li a i,.sidebar[data-color=white] .nav li a[data-toggle=collapse],.sidebar[data-color=white] .nav li a[data-toggle=collapse] i,.sidebar[data-color=white] .nav li a[data-toggle=collapse]~div>ul>li .sidebar-mini-icon,.sidebar[data-color=white] .nav li a[data-toggle=collapse]~div>ul>li>a{color:#66615b;opacity:.7}
    .off-canvas-sidebar .sidebar-wrapper .user .info [data-toggle=collapse]~div>ul>li>a .sidebar-mini-icon,.off-canvas-sidebar .sidebar-wrapper>.nav [data-toggle=collapse]~div>ul>li>a .sidebar-mini-icon,.sidebar .sidebar-wrapper .user .info [data-toggle=collapse]~div>ul>li>a .sidebar-mini-icon,.sidebar .sidebar-wrapper>.nav [data-toggle=collapse]~div>ul>li>a .sidebar-mini-icon{text-transform:uppercase;width:34px;margin-right:10px;margin-left:0;font-size:12px;text-align:center;line-height:20px;position:relative;float:left;z-index:1;display:inherit;color:hsla(0,0%,100%,.5)}
    .off-canvas-sidebar .sidebar-wrapper .user .info [data-toggle=collapse]~div>ul>li>a span,.off-canvas-sidebar .sidebar-wrapper>.nav [data-toggle=collapse]~div>ul>li>a span,.sidebar .sidebar-wrapper .user .info [data-toggle=collapse]~div>ul>li>a span,.sidebar .sidebar-wrapper>.nav [data-toggle=collapse]~div>ul>li>a span{display:inline-block}
    .animation-transition-general,.card-collapse .card .card-header a[data-toggle=collapse] i,.nav-pills .nav-link,.nav-tabs .nav-link,.navbar,.off-canvas-sidebar .logo a.logo-mini,.off-canvas-sidebar .logo a.logo-normal,.off-canvas-sidebar .nav p,.off-canvas-sidebar .navbar-minimize,.off-canvas-sidebar .sidebar-wrapper .user .info [data-toggle=collapse]~div>ul>li>a span,.off-canvas-sidebar .sidebar-wrapper>.nav [data-toggle=collapse]~div>ul>li>a span,.off-canvas-sidebar .user .info>a>span,.off-canvas-sidebar .user .photo,.off-canvas-sidebar .user a,.sidebar .logo a.logo-mini,.sidebar .logo a.logo-normal,.sidebar .nav a,.sidebar .nav a i,.sidebar .nav p,.sidebar .navbar-minimize,.sidebar .sidebar-wrapper .user .info [data-toggle=collapse]~div>ul>li>a span,.sidebar .sidebar-wrapper>.nav [data-toggle=collapse]~div>ul>li>a span,.sidebar .user .info>a>span,.sidebar .user .photo,.sidebar .user a,.tag,.tag [data-role=remove]{transition:all .3s ease 0s}
    .off-canvas-sidebar .user,.sidebar .user{display:block; padding-bottom:36px;margin:0px auto 0;position:relative}
    .off-canvas-sidebar .user > .photo, .sidebar .user > .photo{ display: inline-block }
    .off-canvas-sidebar .user > .info, .sidebar .user > .info{ padding-top:10px }
    .off-canvas-sidebar .user > .info .caret, .sidebar .user > .info .caret{ margin-top:10px }
    .off-canvas-sidebar .user .photo,.sidebar .user .photo{width:48px;height:48px;overflow:hidden;float:left;z-index:5;margin-right:10px;border-radius:50%;margin-left:23px}.off-canvas-sidebar .user .photo img,.sidebar .user .photo img{width:100%}
    .off-canvas-sidebar .user .info>a,.sidebar .user .info>a{display:block;line-height:18px}.off-canvas-sidebar .user .info>a>span,.sidebar .user .info>a>span{display:block;position:relative;opacity:1}
    .off-canvas-sidebar .user .info .caret,.sidebar .user .info .caret{position:absolute;top:8px;right:18px}
    .caret{display:inline-block;width:0;height:0;margin-left:2px;vertical-align:middle;border-top:4px dashed;border-right:4px solid transparent;border-left:4px solid transparent}.off-canvas-sidebar .user:after,.sidebar .user:after{content:"";position:absolute;bottom:0;right:15px;height:1px;width:calc(100% - 30px);background-color:hsla(0,0%,100%,.3)}
    .sidebar .sidebar-wrapper, .off-canvas-sidebar .sidebar-wrapper {position: relative;height: calc(100vh - 75px);overflow-y: auto;overflow-x: hidden;width: 260px;z-index: 4;padding-bottom: 100px;}
    .form-group input[type=file]{ opacity:1 !important; position:relative;}
    .sidebar-menu {list-style-type: unset;padding-inline-start: 0;}
    .sidebar-menu  .header { display: none} .body{ font-size:0.9rem; } .title,h1,h2,h3,h4,h5,h6{ font-size: 1.3rem;}
    .main-panel {min-height: 100vh}
    .main-panel > .content { padding: 30px 15px 0 15px;min-height: calc(100vh - 123px);}
    .sidebar-menu .treeview div.collapse { margin-left: 10px; }
    .sidebar-menu .treeview div ul li a { font-size: 10px !important ; }
    .select2-selection__choice__remove { color: #cc7858; background: none; height: 18px; width: 18px; float: right; margin-right: 1px; font-size: 18px;line-height: 1rem;border: none;}
    .select2-search__field[type="search"]{padding-top:10px}
  </style>
  <style>
    :root {
      --fegno-bg-left: #4ac0d5;
      --fegno-bg-right: #0874b4;
      --fegno-bg-tilt: 240deg;
      --fegno-rgba: rgba(74, 192, 213, 40%);
      --fegno-box-shadow: 0 4px 20px 0px rgb(0 0 0 / 14%), 0 7px 10px -5px var(--fegno-rgba);
    }

    ::-webkit-scrollbar {width: 4px; border-radius:2px}
    ::-webkit-scrollbar:hover {width: 8px;}
    ::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px var(--fegno-rgba); ; border-radius:2px}
    ::-webkit-scrollbar-thumb { background-color: var(--fegno-bg-right); outline: 1px solid var(--fegno-bg-right);; border-radius:2px }
    /* turn off triangle on navbar selection */
    .sidebar .sidebar-wrapper li.active > a:not([data-toggle="collapse"]):before, .sidebar .sidebar-wrapper li.active > [data-toggle="collapse"] + div .nav li:before { border-right:0 transparent !important; border-bottom: 0 transparent !important ; z-index:0}
    .sidebar .sidebar-wrapper li.active > a:not([data-toggle="collapse"]):after, .sidebar .sidebar-wrapper li.active > [data-toggle="collapse"] + div .nav li:after { border-right:0 transparent !important; border-bottom: 0 transparent !important ; z-index:0}
    .table-responsive{overflow: auto}

    .off-canvas-sidebar .nav li>a,.sidebar .nav li>a{margin:0 15px 0}.logo-image-small{padding:5px 30px}
    .off-canvas-sidebar[data-color=white] .nav li a,.off-canvas-sidebar[data-color=#f3f0f0] .nav li a i,.off-canvas-sidebar[data-color=#f3f0f0] .nav li a[data-toggle=collapse],.off-canvas-sidebar[data-color=#f3f0f0] .nav li a[data-toggle=collapse] i,.off-canvas-sidebar[data-color=#f3f0f0] .nav li a[data-toggle=collapse]~div>ul>li .sidebar-mini-icon,.off-canvas-sidebar[data-color=#f3f0f0] .nav li a[data-toggle=collapse]~div>ul>li>a,.sidebar[data-color=#f3f0f0] .nav li a,.sidebar[data-color=#f3f0f0] .nav li a i,.sidebar[data-color=#f3f0f0] .nav li a[data-toggle=collapse],.sidebar[data-color=#f3f0f0] .nav li a[data-toggle=collapse] i,.sidebar[data-color=#f3f0f0] .nav li a[data-toggle=collapse]~div>ul>li .sidebar-mini-icon,.sidebar[data-color=#f3f0f0] .nav li a[data-toggle=collapse]~div>ul>li>a{color:#66615b;opacity:.7}
    .off-canvas-sidebar .sidebar-wrapper .user .info [data-toggle=collapse]~div>ul>li>a .sidebar-mini-icon,.off-canvas-sidebar .sidebar-wrapper>.nav [data-toggle=collapse]~div>ul>li>a .sidebar-mini-icon,.sidebar .sidebar-wrapper .user .info [data-toggle=collapse]~div>ul>li>a .sidebar-mini-icon,.sidebar .sidebar-wrapper>.nav [data-toggle=collapse]~div>ul>li>a .sidebar-mini-icon{text-transform:uppercase;width:34px;margin-right:10px;margin-left:0;font-size:12px;text-align:center;line-height:20px;position:relative;float:left;z-index:1;display:inherit;color:hsla(0,0%,100%,.5)}
    .off-canvas-sidebar .sidebar-wrapper .user .info [data-toggle=collapse]~div>ul>li>a span,.off-canvas-sidebar .sidebar-wrapper>.nav [data-toggle=collapse]~div>ul>li>a span,.sidebar .sidebar-wrapper .user .info [data-toggle=collapse]~div>ul>li>a span,.sidebar .sidebar-wrapper>.nav [data-toggle=collapse]~div>ul>li>a span{display:inline-block}
    .animation-transition-general,.card-collapse .card .card-header a[data-toggle=collapse] i,.nav-pills .nav-link,.nav-tabs .nav-link,.navbar,.off-canvas-sidebar .logo a.logo-mini,.off-canvas-sidebar .logo a.logo-normal,.off-canvas-sidebar .nav p,.off-canvas-sidebar .navbar-minimize,.off-canvas-sidebar .sidebar-wrapper .user .info [data-toggle=collapse]~div>ul>li>a span,.off-canvas-sidebar .sidebar-wrapper>.nav [data-toggle=collapse]~div>ul>li>a span,.off-canvas-sidebar .user .info>a>span,.off-canvas-sidebar .user .photo,.off-canvas-sidebar .user a,.sidebar .logo a.logo-mini,.sidebar .logo a.logo-normal,.sidebar .nav a,.sidebar .nav a i,.sidebar .nav p,.sidebar .navbar-minimize,.sidebar .sidebar-wrapper .user .info [data-toggle=collapse]~div>ul>li>a span,.sidebar .sidebar-wrapper>.nav [data-toggle=collapse]~div>ul>li>a span,.sidebar .user .info>a>span,.sidebar .user .photo,.sidebar .user a,.tag,.tag [data-role=remove]{transition:all .3s ease 0s}
    .off-canvas-sidebar .user,.sidebar .user{margin:0px auto 0;position:relative}
    .off-canvas-sidebar .user .photo,.sidebar .user .photo{width:48px;height:48px;overflow:hidden;float:left;z-index:5;margin-right:10px;border-radius:50%;margin-left:23px}
    .off-canvas-sidebar .user .photo img,.sidebar .user .photo img{width:100%}.off-canvas-sidebar .user .info>a,.sidebar .user .info>a{display:block;line-height:18px}
    .off-canvas-sidebar .user .info>a>span,.sidebar .user .info>a>span{display:block;position:relative;opacity:1}
    .off-canvas-sidebar .user .info .caret,.sidebar .user .info .caret{position:absolute;top:8px;right:18px}
    .caret{display:inline-block;width:0;height:0;margin-left:2px;vertical-align:middle;border-top:4px dashed;border-right:4px solid transparent;border-left:4px solid transparent}.off-canvas-sidebar .user:after,.sidebar .user:after{content:"";position:absolute;bottom:0;right:15px;height:1px;width:calc(100% - 30px);background-color:hsla(0,0%,100%,.3)}
    .sidebar .sidebar-wrapper, .off-canvas-sidebar .sidebar-wrapper {position: relative;height: calc(100vh - 75px);overflow-y: auto;overflow-x: hidden;width: 260px;z-index: 4;padding-bottom: 100px;}

    .footer{padding:0 }
    .form-check input[type=checkbox]{ opacity:1 !important; visibility:visible;}
    .main-panel {min-height: 100vh;  background-color: #eeeeee;}
    .main-panel > .footer {  border-top: 1px solid rgba(0, 0, 0, 0.1); }
    .main-panel .navbar.navbar-white{ background: linear-gradient(135deg, #c850c0, #c850c0) !important; }
    .collapse .nav, .collapsing .nav{border-left: 2px dotted #979797; margin-left: 24px}
    .breadcrump { background-color: #c3c9cf !important; }
    .breadcrump * {color: #fff !important }
    .selected-row{ background: linear-gradient(-135deg, #c850c0, #4158d0) !important;  }
    .selected-row * {color:#fff}

    /* Style from paper to material */
    .main-panel .navbar.navbar-transparent{ background-color: #fff !important ; box-shadow:0 4px 18px 0px rgb(0 0 0 / 12%), 0 7px 10px -5px rgb(0 0 0 / 15%)}
    .sidebar:after { background:0 16px 38px -12px rgb(0 0 0 / 56%), 0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%); box-shadow: 0 16px 38px -12px rgb(0 0 0 / 56%), 0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%) }
    .sidebar li * {color: #3C4858}
    .sidebar[data-color="white"] .nav li a i {color: #a9afbb;}
    .footer { background-attachment: fixed; position: absolute; bottom:0; line-height: 20px; padding-bottom: 20px;}

    /* material dashboard */

    .sidebar-wrapper li >a {background-color: #fff;}

    .sidebar-wrapper li.active  a {background-color: #f44336; box-shadow: 0 4px 20px 0px rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(244 67 54 / 40%) !important; border-radius: 12px; color: #fff}
    .sidebar li.active * {color: #fff}
    .logo-border { position: relative;height: 20px;top: -15px;font-size: 4px;z-index: 2;margin: 0 32px;padding: 0 15px;color: #f44336;
      background-color: #f44336;box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(244 67 54 / 40%); width: calc(80% - 16px);border-radius: 6px;}
    .table > thead > tr > th { padding-bottom: 12px; font-weight: 600; font-size: 12px;}
    .table > thead > tr > td { padding-bottom: 12px; font-weight: 400; font-size: 12px;}
    @media screen and (min-width: 768px) .footer .footer-nav {padding-left: 0px !important;}
    .card { margin-bottom: 40px !important }
    .card [class*="card-header-"]:not(.card-header-icon):not(.card-header-text):not(.card-header-image) {border-radius: 12px; margin-top: -20px;padding: 15px;}
    //  .card .card-header-danger .card-icon, .card .card-header-danger .card-text, .card .card-header-danger:not(.card-header-icon):not(.card-header-text), .card.bg-danger, .card.card-rotate.bg-danger .front, .card.card-rotate.bg-danger .back {background: linear-gradient(60deg, #ef5350, #e53935);}
    .card [class*="card-header-"] {margin: 0px 15px 0;padding: 0;position: relative;}
    .card [class*="card-header-"], .card[class*="bg-"] {color: #fff;}
    .card .card-header {border-bottom: none;background: transparent;}
    .card [class*="card-header-"] h3, .card [class*="card-header-"] h4, .card [class*="card-header-"] h5, .card [class*="card-header-"] h6, .card [class*="card-header-"] p { display:inline-block }
    .btn {position: relative;margin: 0.3125rem 1px;font-size: .75rem;font-weight: 400;line-height: 1.428571;text-decoration: none;text-transform: uppercase;letter-spacing: 0;cursor: pointer;background-color: transparent;border: 0;border-radius: 0.2rem;outline: 0;transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);will-change: box-shadow, transform;}
    .btn.btn-success {color: #fff; background-color: #4caf50; border-color: #4caf50;
        box-shadow: 0 2px 2px 0 rgb(76 175 80 / 14%), 2px 2px 4px 1px rgb(76 175 80 / 20%), 0 1px 8px 4px rgb(76 175 80 / 12%);}
    .btn.btn-info {color: #fff;background-color: #00bcd4;border-color: #00bcd4;
        box-shadow: 0 2px 2px 0 rgb(0 188 212 / 14%), 2px 2px 4px 1px rgb(0 188 212 / 20%), 0 1px 5px 0 rgb(0 188 212 / 12%);}
    .btn.btn-warning {color: #fff;background-color: #ff9800;border-color: #ff9800;
        box-shadow: 0 2px 2px 0 rgb(255 152 0 / 14%), 2px 2px 4px 1px  rgb(255 152 0 / 20%), 0 1px 5px 0 rgb(255 152 0 / 12%);}
    .btn.btn-danger {color: #fff;background-color: #f44336;border-color: #f44336;
        box-shadow: 0 2px 2px 0 rgb(244 67 54 / 14%), 2px 2px 4px 1px  rgb(244 67 54 / 20%), 0 1px 5px 0 rgb(244 67 54 / 12%);}
    .btn.btn-rose {color: #fff;background-color: #e91e63;border-color: #e91e63;
        box-shadow: 0 2px 2px 0 rgb(233 30 99 / 14%), 2px 2px 4px 1px  rgb(233 30 99 / 20%), 0 1px 5px 0 rgb(233 30 99 / 12%);}
    .btn.btn-white, .btn.btn-white:focus, .btn.btn-white:hover {background-color: #fff;color: #999999;}
    .btn.btn-primary {color: #fff;background-color: #9c27b0;border-color: #9c27b0;box-shadow: 0 2px 2px 0 rgb(156 39 176 / 14%), 0 3px 1px -2px rgb(156 39 176 / 20%), 0 1px 5px 0 rgb(156 39 176 / 12%);}
    .card .card-header-danger .card-icon, .card .card-header-danger .card-text, .card .card-header-danger:not(.card-header-icon):not(.card-header-text), .card.bg-danger, .card.card-rotate.bg-danger .front, .card.card-rotate.bg-danger .back {
          background: linear-gradient(var(--fegno-bg-tilt), var(--fegno-bg-right), var(--fegno-bg-left));}
     .card .card-header-danger .card-icon, .card .card-header-danger:not(.card-header-icon):not(.card-header-text), .card .card-header-danger .card-text {
        box-shadow: var(--fegno-box-shadow);
      }

    .sidebar-wrapper ul li.active > a {
        background: linear-gradient(var(--fegno-bg-tilt), var(--fegno-bg-right), var(--fegno-bg-left)) !important;
        box-shadow: var(--fegno-box-shadow) !important;
        border-radius: 8px; z-index:1;
    }
    .sidebar[data-active-color="danger"] .nav li.active > a i {color: #fff}
     </style>
  {% block extra_css %}
  {% endblock %}
  {% endblock %}

</head>

<body class="">
<div class="wrapper " >
  <div class="sidebar "  data-color="white" data-active-color="danger">
    <div class="logo">
      <!--<a href="#" class="simple-text logo-mini">
         <div class="logo-image-small">
            <img src="{{ settings.STATIC_URL }}images/fegno.png">
        </div>
        &lt;!&ndash; <p>CT</p> &ndash;&gt;
      </a>-->
      <a href="/" class="simple-text logo-small" style="padding:0 20px ">
        <!--          Your Logo-->
        <div class="logo-image-small">
          <img src="{{ settings.STATIC_URL }}images/fegno-logo-blue-text.png">
        </div>
      </a>
    </div>
    <div class="logo-border"></div>
    <div class="sidebar-wrapper" style="width:100%;">
      {% block user_sidebar %}
      {% endblock %}
      {% block sidebar_wrapper %}
      <ul class="nav">
        <li class="active ">
          <a href="javascript:;">
            <i class="nc-icon nc-bank"></i>
            <p>First Item</p>
          </a>
        </li>
        <li>
          <a href="javascript:;">
            <i class="nc-icon nc-diamond"></i>
            <p>Second Item</p>
          </a>
        </li>
        <li>
          <a href="javascript:;">
            <i class="nc-icon nc-pin-3"></i>
            <p>Third Item</p>
          </a>
        </li>
      </ul>
      {% endblock %}
    </div>
  </div>
  <div class="main-panel" >
    {% block navbar %}
    {% include 'paper/utils/navbar_header.html' %}
    {% endblock %}
    <div class="content" >
      {% block content %}
      <div class="row">
        <div class="col-md-12">
          {% block content_body %}
          <h3 class="description">Your content here</h3>
          {% endblock %}
        </div>
      </div>
      {% endblock %}
      <div class="row">
        <div class="col-12 clearfix">
          <div class="mt-4">
            {% include 'paper/utils/footer.html' %}
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
{% block javascript %}
<!--   Core JS Files   -->
<script src="{{ settings.STATIC_URL }}paper/js/core/jquery.min.js"></script>
<script src="{{ settings.STATIC_URL }}paper/js/core/popper.min.js"></script>
<script src="{{ settings.STATIC_URL }}paper/js/core/bootstrap.min.js"></script>
<script src="{{ settings.STATIC_URL }}paper/js/plugins/perfect-scrollbar.jquery.min.js"></script>
<!--  Google Maps Plugin    -->
<!--<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>-->
<!-- Chart JS -->
<script src="{{ settings.STATIC_URL }}paper/js/plugins/chartjs.min.js"></script>
<!--  Notifications Plugin    -->
<script src="{{ settings.STATIC_URL }}paper/js/plugins/bootstrap-notify.js"></script>
<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
<script src="{{ settings.STATIC_URL }}paper/js/paper-dashboard.min.js?v=2.0.1" type="text/javascript"></script>
<script src="{{ settings.STATIC_URL }}paper/demo/demo.js"></script>

{% block extra_javascript %}
{% endblock %}
{% endblock %}

<script>
    (function(){
      var current_nav_item = document.querySelector(`.sidebar-menu a[href="${window.location.pathname}"], .sidebar-menu a[href="${window.location.href}"]`);
      current_nav_item && current_nav_item.parentNode.classList.add('active');
      document.querySelectorAll('input[type="file"]').forEach(function(node){node.classList.add('btn-info'); node.classList.add('btn')})
    })();
    (function(_){
        'message base';
        {% if messages %}
        {% for message in messages %}
            Swal.fire({
              icon: '{% if message.tags %}{{ message.tags }}{% endif %}',
              title: '',
              text: '{{ message|safe }}',
              customClass: {
                input: 'exclude-select2',
              }
            })

        {% endfor %}
        {% endif %}
    })('');
    $(document).ready(function() {
        $.fn.select2.defaults.set( "theme", "bootstrap" );
        var select2_dropdowns = $('select').filter(function(){
          return ! (
            $(this).hasClass('exclude-select2') || $(this).hasClass('swal2-select')
          )
        });
        for (var i=0;i<select2_dropdowns.length; i++ ){$(select2_dropdowns[i]).select2()}
    });

</script>

</body>

</html>
