{% extends 'paper/base.html' %}

{% block page_title %}
Fegno Internal Management System
{% endblock %}

{% block user_sidebar %}
{% include 'paper/utils/user_menu.html' %}
{% endblock %}

{% block sidebar_wrapper %}
    {% if request.user.is_non_employee_candidate %}
        {% include 'paper/utils/new_candidate_menu.html' %}
    {% else %}
        {% include 'paper/utils/common_menu.html' %}
    {% endif %}
{% endblock %}

{% block notifications %}
<!--
<a class="dropdown-item" href="#">Action</a>
<a class="dropdown-item" href="#">Another action</a>
<a class="dropdown-item" href="#">Something else here</a>
-->
{% endblock %}

{% block title %}Dashboard | FIMS{% endblock %}

{% block content_body %}
<h3 class="description">Your content here</h3>
{% endblock %}

