<!DOCTYPE html>
<html lang="en">
<head>
	<title>FIMS Management</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="icon" type="image/png" href="{{ settings.STATIC_URL }}images/fegno.png" />

	<link rel="stylesheet" type="text/css" href="{{ settings.STATIC_URL }}Login_v1/vendor/bootstrap/css/bootstrap.min.css">

	<link rel="stylesheet" type="text/css" href="{{ settings.STATIC_URL }}Login_v1/fonts/font-awesome-4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" type="text/css" href="{{ settings.STATIC_URL }}Login_v1/vendor/animate/animate.css">

	<link rel="stylesheet" type="text/css" href="{{ settings.STATIC_URL }}Login_v1/vendor/css-hamburgers/hamburgers.min.css">

	<link rel="stylesheet" type="text/css" href="{{ settings.STATIC_URL }}Login_v1/vendor/select2/select2.min.css">

	<link rel="stylesheet" type="text/css" href="{{ settings.STATIC_URL }}Login_v1/css/util.css">
	<link rel="stylesheet" type="text/css" href="{{ settings.STATIC_URL }}Login_v1/css/main.css">

	<meta name="robots" content="noindex, follow">
</head>
<body>
<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100">
			{% block login_form %}


			{% endblock %}
		</div>
	</div>
</div>

<script src="{{ settings.STATIC_URL }}Login_v1/vendor/jquery/jquery-3.2.1.min.js"></script>

<script src="{{ settings.STATIC_URL }}Login_v1/vendor/bootstrap/js/popper.js"></script>
<script src="{{ settings.STATIC_URL }}Login_v1/vendor/bootstrap/js/bootstrap.min.js"></script>

<script src="{{ settings.STATIC_URL }}Login_v1/vendor/select2/select2.min.js"></script>

<script src="{{ settings.STATIC_URL }}Login_v1/vendor/tilt/tilt.jquery.min.js"></script>
<!--<script>-->
<!--		$('.js-tilt').tilt({-->
<!--			scale: 1.1-->
<!--		})-->
<!--	</script>-->

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<!--<script>-->
<!--  window.dataLayer = window.dataLayer || [];-->
<!--  function gtag(){dataLayer.push(arguments);}-->
<!--  gtag('js', new Date());-->

<!--  gtag('config', 'UA-23581568-13');-->
<!--</script>-->
<script>
	    (function(){
        {% if messages %}
        {% for message in messages %}
            Swal.fire({
              icon: '{% if message.tags %}{{ message.tags }}{% endif %}',
              title: '',
              text: '{{ message|safe }}',
              customClass: {
                input: 'exclude-select2',
              }
            })

        {% endfor %}
        {% endif %}
    })()
</script>
<script src="{{ settings.STATIC_URL }}Login_v1/js/main.js"></script>
<script defer src="https://static.cloudflareinsights.com/beacon.min.js" data-cf-beacon='{"rayId":"69c84ff42cd8d994","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2021.9.0","si":100}'></script>
</body>
</html>
