{% extends 'paper/layout.html'  %}
{% load static crispy_forms_tags %}
{% block title %} Proforma Invoice List {% endblock %}

{% block content %}
<style>  .errorlist *{color: red} .float-right{float:right !important} </style>
<div class="card">
  <div class="card-header card-header-danger ">
    <h3>Proforma Invoices</h3>
      <div class="pull-right">
        <a href="{% url 'accounts:proforma-create' %}" class="btn btn-success btn-sm">Create new Proforma</a>
      </div>
  </div>
  <div class="card-body">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>#</th>
          <th>Project</th>
          <th>Dated</th>
          <th>Amount</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        {% for item in object_list %}
        <tr>
          <th>{{ forloop.counter }}</th>
          <th>{{ item.project.name }}</th>
          <th>{{ item.created_at }}</th>
          {% if not item.is_frozen %}
          <th><a href="{% url 'accounts:proforma-update' pk=item.pk %}" class="btn btn-sm btn-primary"> View</a></th>
          {% else %}
          <th><a target="_blank" href="{% url 'accounts:proforma-preview' pk=item.pk %}" class="btn btn-sm btn-primary"> Preview </a></th>
          {% endif %}
        </tr>
        {% endfor %}
        </tbody>
      </table>
  </div>
  <div class="card-footer">

  </div>
</div>
  <!-- /.box -->
{% endblock %}
















