{% extends 'bcard/base.html' %}
{% load hosts %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        {% for user in object_list %}
        <div class="d-inline-block">
            <div class="card" style="width:200px">
                <img class="card-img-top img img-responsive img-thumbnail" src="{{ user.user.avatar_url }}" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">{{ user.user.get_full_name }}</h4>
                    <p class="card-text text-small" style="font-size:12px">{{ user.user.designation }} | {{ user.user.department }}.</p>
                    <a href="{% host_url 'bcard' username=user.username host 'bcard'  %}" class="btn btn-primary">See Profile</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}