{% extends 'bcard/base.html' %}

{% block content %}
<div class="row">
    <div class="col-sm-9">
        <h4 class="card-title">{{ object.user.get_full_name }}</h4>
        {% if object.user.designation %}
        <p class="card-text mb-0" style="font-size:14px">» {{ object.user.designation.name }}.</p>
        {% endif %}

        {% if object.user.department %}
        <p class="card-text mb-0" style="font-size:13px">» {{ object.user.department.name }}.</p>
        {% endif %}
        <hr>
    </div>
    <div class="col-sm-3">
        <img class="w-100 img img-responseive " src="{{ object.user.avatar_url }}" alt="...">
    </div>

    <div class="col-sm-12 text-center pb-3" >
        <a href="https://www.fegno.com/" class="">
            <img src="https://www.fegno.com/wp-content/uploads/2022/02/logo-1.svg">
        </a>
    </div>

</div>
<div class="logo">
</div>
<div class="description">A one-stop to all your technology dreams and demands, FEGNO is the right place to be.</div>

<div class="links">
    <a href="tel:{{ object.user.official_mobile }}" target="_blank" rel="nofollow">
        <div class="link linkedin" data-bg="#0175b2">
            <img src="//explore.abchauz.com/images/linkedin.png">
            <span>Dial : {{ object.user.official_mobile.as_rfc3966 }}</span>
        </div>
    </a>
    <a href="mailto:{{ object.user.official_email|default:'hello@fegno.com' }}"
       target="_blank" rel="nofollow">
        <div class="link pintrest" data-bg="#d32f2f">
            <img src="//explore.abchauz.com/images/pinterest.png">
            <span>{{ object.user.official_email }}</span>
        </div>
    </a>
    <a href="https://www.facebook.com/abchauzindia" target="_blank" rel="nofollow">
        <div class="link facebook" data-bg="#3d6ad6"><img src="//explore.abchauz.com/images/facebook.png">
            <span>Facebook</span>
        </div>
    </a>
    <a href="https://www.youtube.com/channel/UC8GNCZeaZmXH10VahKjuI7w" target="_blank" rel="nofollow">
        <div class="link youtube" data-bg="#ff0000">
            <img src="//explore.abchauz.com/images/youtube.png">
            <span>YouTube</span>
        </div>
    </a><a href="https://www.instagram.com/abchauzindia/" target="_blank" rel="nofollow">
    <div class="link instagram" data-bg="#a128a7">
        <img src="//explore.abchauz.com/images/instagram.png">
        <span>Instagram</span>
    </div>
</a><a href="https://twitter.com/AbcHauzindia" target="_blank" rel="nofollow">
    <div class="link twitter" data-bg="#03a9f4">
        <img src="//explore.abchauz.com/images/twitter.png">
        <span>Twitter</span>
    </div>
</a>
</div>
<div class="websiteLink"><a href="https://www.fegno.com/" target="_blank" >
    <div class="website_link" data-bg="#00d4af">
        <img src="//explore.abchauz.com/images/web.png">
        <span>Explore Fegno.com</span>
    </div>
</a>
</div>

{% endblock %}