{% extends 'paper/layout.html'  %}
{% load static crispy_forms_tags humanize %}
{% block title %} Shared Documents | {{ block.super }}{% endblock %}

{% block content %}
{% regroup object_list by doc_type_id as doc_list %}
<style>
.list-group-item {padding: .2rem 0.75rem}
{% for dc in doc_list %}select#id_doc_type option[value="{{dc.grouper}}"]{% if not forloop.last %},{% endif %}{% endfor %}{background-color:#fff2b1;}
.btn-white{background-color: white}
.editing-row, .editing-row:hover{background-color: #6bd098 !important}
</style>
<link rel="stylesheet" href="{% static 'cal/calender.css' %}">
<link rel="stylesheet" href="{% static 'cal/calender.theme.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery.timepicker.min.css'  %}">

<div class="row">
    <div class="col-md-8">
        <div class="card  "  id="app">
            <div class="card-header card-header-danger ">
                <h3> DRAR - Daily Responsibility Analysis and Reporting - {{ view.kwargs.date|default:"Today" }}</h3>
            </div>
            <div class="card-body">
                <a href="{% url 'drar:shared-drar-users' %}" class="btn btn-success pull-right btn-sm"> Shared DRARS </a>
                <a href="{% url 'drar:drar-configuration' %}" class="btn btn-info pull-right btn-sm"> Configuration </a>
                <p class="text-muted">{% if read_receipts %}Read by: {% for receipt in read_receipts %} <span title="Read at:  {{  receipt.user.created_at }}">{{ receipt.user.get_full_name }}</span> {% endfor %}{% endif %}</p>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            {% if not is_today %}<th>Status</th>{% endif %}
                            <th>Task</th>
                            <th>Support</th>
                            <th>Actions</th>
                            <th>Comments</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for drar in object_list %}
                        <tr class="{% if drar.pk == object.pk %}editing-row{% endif %}">
                            <td>{{ forloop.counter }}</td>
                            {% if not is_today %}
                            <td>
                                {{ drar.drar_status_img_html }}
                            </td>
                            {% endif %}
                            <td>
                                {% if drar.priority == 1 %}
                                    <span class="badge badge-danger">High</span>
                                {% elif drar.priority == 2 %}
                                    <span class="badge badge-primary">Normal</span>
                                {% else %}
                                    <span class="badge badge-secondary">Low</span>
                                {% endif %}
                                {% if drar.copied_for %} <span class="badge badge-warningx ">DAY: {{ drar.copied_for|add:1 }}</span>   {% endif %}
                                {{ drar.title|title }}
                                <br />
                                {% if drar.copied_from_id %}
                                <code> Brought forward from {{ drar.copied_from.created_at|naturalday|title }}'s DRAR</code>
                                {% endif %}
                            </td>
                            <td>
                                {% if drar.user == request.user and drar.linked_with.all %}
                                <ul class="list-group list-group-sm list-group-flush">
                                    <li class="list-group-item">Needs supports from: </li>
                                    {% for user in drar.linked_with.all %}
                                    <li class="list-group-item">{{ user.get_full_name }}</li>
                                    {% endfor %}
                                </ul>
                                {% elif drar.linked_with.all %}
                                <code>{{ drar.user.get_full_name }} needs your support. </code>
                                {% else %} -
                                {% endif %}
                            </td>
                            <td>
                                {% if drar.user == request.user %}
                                {% if drar.is_completed %}
                                    <img src="{% static 'images/completed.png' %}" alt="completed" height="40">
                                {% endif %}
                                {% if not  drar.is_completed and drar.is_todays_task %}
                                <form class=" d-inline-block" method="post" action="{% url 'drar:drar-complete-task' date=drar.date_str pk=drar.pk %}" >
                                    {% csrf_token %}
                                    <input type="hidden" hidden name="is_completed" value="1" checked>
                                    <button type="submit" class="btn btn-white text-success btn-sm d-inline-block" data-bs-toggle="tooltip" title="Mark as Completed"><i class="nc-icon nc-check-2"></i></button>
                                </form>
                                <a class="btn btn-white btn-sm d-inline-block text-info"  href="{% url 'drar:drar-update' date=drar.date_str pk=drar.pk %}" data-bs-toggle="tooltip" title="Update the Task"><i class="nc-icon nc-settings"></i></a>
                                <form class=" d-inline-block" method="post" action="{% url 'drar:drar-delete' date=drar.date_str pk=drar.pk %}" >
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-white text-danger btn-sm d-inline-block" data-bs-toggle="tooltip" title="Remove the Task"><i class="nc-icon nc-simple-remove"></i></button>
                                </form>
                                {% endif %}
                                |
                                {% if not drar.is_todays_task %}
                                   <a href="{% url 'drar:copy-drar-task' date=drar.date_str pk=drar.pk  %}" class="btn text-warning btn-white btn-sm d-inline-block" data-bs-toggle="tooltip" title="Copy Task to today's List"><i class="nc-icon nc-single-copy-04"></i></a>
                                {% else %}
                                <form class=" d-inline-block" method="get" action="{% url 'drar:drar-complete-task' date=drar.date_str pk=drar.pk %}" >
                                    <label > Copy to:
                                        <input type="date" class="dateinput form-control" name="copy_to" value="1" >
                                    </label>
                                    <button type="submit" class="btn btn-white text-success btn-sm d-inline-block" data-bs-toggle="tooltip" title="Move to Date with High Priority"><i class="nc-icon nc-single-copy-04"></i></button>
                                </form>

                                {% endif %}
                                {% endif %}
                            </td>
                            <td>
                                {% for comment in drar.drarcomment_set.all %}
                                  <li class="list-group-item"><b>{{ comment.user.first_name }} said:</b> {{ comment.comment }} <small class="text-muted">:: {{ comment.created_at|naturaltime }}</small></li>
                                {% endfor %}

                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="100%"> No DRAR's Has been added today. </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>

                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="card-footer clearfix">
                {% include 'adminlte/lib/_pagination.html' %}
            </div>
        </div>
    </div>
    <div class="col-md-4 ">
        {% if True or is_today %}
        <div class="card card-default "  >
            <div class="card-header card-header-danger ">
                <h3>{% if object %} Update - {{ object.title }}{% else %}Add New Task{% endif %}</h3>
            </div>
            <div class="card-body">
                <form method="POST"  enctype="multipart/form-data">
                    {{ form|crispy }}
                    <input type="submit" class="btn btn-success" value="{% if object %} Update and {% endif %}Add new{% if not object.pk %}  Task{% endif %}">
                </form>

            </div>
        </div>
        {% endif %}
        <div class="card">
            <div class="card-header card-header-danger ">
                <h4 class="card-title">Calender</h4>
            </div>
            <div class="card-body">
                <div class="calendar-container"></div>
            </div>
        </div>
        <div class="card">
            <div class="card-header card-header-danger ">
                <h4 class="card-title">Team Members</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled team-members">
                    {% for suser in shared_users %}
                    <li>
                        <div class="row">
                            <div class="col-md-2 col-2">
                                <div class="avatar">
                                    <img src="{{ suser.avatar_url }}" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                </div>
                            </div>
                            <div class="col-md-7 col-7">
                                <a href="{% url 'drar:shared-drar-list' user_pk=suser.id %}">{{ suser.get_user_name|default:suser.username }}</a>
                            </div>
                        </div>
                    </li>
                {% endfor %}

                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block extra_javascript %}
<!--{% include 'adminlte/lib/_scripts.html' %}-->
<script src="{% static 'cal/calendar.min.js' %}"></script>
<script src="{% static 'js/jquery.timepicker.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/jquery.timepicker.min.css'  %}">
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

<script>
    function format(inputDate) {
      var date, month, year;
      date = inputDate.getDate();
      month = inputDate.getMonth() + 1;
      year = inputDate.getFullYear();
      date = date.toString().padStart(2, '0');
      month = month.toString().padStart(2, '0');
      return `${date}-${month}-${year}`;
    }

    (function() {
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
          return new bootstrap.Tooltip(tooltipTriggerEl)
        });
        $(document).ready(function(){
            $('.calendar-container').calendar({
              date: {% if is_today %}new Date(){% else %}  new Date("{{date_object__js}}"){% endif %},
              disable:function (date) {return false;},   //date > new Date()
              prevButton:"Previous Month",
              nextButton:"Next Month",
              onClickDate:function (date) { location.href = `/drar/${format(new Date(date))}/`  }
            });
        });
    })()
    $(document).ready(function(){
        $('#id_created_at').val(new Date("{{date_object__js}}").toISOString()).datepicker({           // SPECAL CASE
            dateFormat: 'yy-mm-dd',
            dynamic: false,
            dropdown: true,
            scrollbar: true,
            showAnim: "fold",
        }).datepicker("setDate", new Date("{{date_object__js}}") );


    })
</script>
  <script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
  </script>

{% endblock %}
