{% extends 'paper/layout.html'  %}
{% load static crispy_forms_tags %}
{% block title %} Shared Documents | {{ block.super }}{% endblock %}

{% block content %}
{% regroup object_list by doc_type_id as doc_list %}
<style>
{% for dc in doc_list %}select#id_doc_type option[value="{{dc.grouper}}"]{% if not forloop.last %},{% endif %}{% endfor %}{background-color:#fff2b1;}
</style>
<div class="card card-default "  id="app">
    <div class="card-header with-border">
        <h4> DRAR Configuration  </h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4 ">
                <h3>Add New Document</h3>
                <form method="POST"  enctype="multipart/form-data">
                    {{ form|crispy }}
                    <input type="submit" class="btn btn-white text-danger " value="Update">
                </form>

            </div>

        </div>
    </div>
    <div class="card-footer clearfix">
        {% include 'adminlte/lib/_pagination.html' %}
    </div>
</div>
{% endblock %}


{% block extra_javascript %}
<!--{% include 'adminlte/lib/_scripts.html' %}-->
{% endblock %}
