{% extends 'paper/layout.html'  %}
{% load static crispy_forms_tags humanize %}
{% block title %} Shared Documents | {{ block.super }}{% endblock %}

{% block content %}
{% regroup object_list by doc_type_id as doc_list %}
<style>
.list-group-item {padding: .2rem 0.75rem}
{% for dc in doc_list %}select#id_doc_type option[value="{{dc.grouper}}"]{% if not forloop.last %},{% endif %}{% endfor %}{background-color:#fff2b1;}
.btn-white{background-color: white}
.editing-row, .editing-row:hover{background-color: #6bd098 !important}
</style>
<link rel="stylesheet" href="{% static 'cal/calender.css' %}">
<link rel="stylesheet" href="{% static 'cal/calender.theme.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery.timepicker.min.css'  %}">
<div class="row">
    <div class="col-md-8">
        <div class="card card-default "  id="app">
            <div class="card-header card-header-danger ">
                <h4> {{ shared_user.get_full_name|default:shared_user.username }} - DRAR - {{ vioew.kwargs.date }} </h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-offset-1 col-12">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Status</th>
                                    <th>Task</th>
                                    <th>Support</th>
                                    <th>comments</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for drar in object_list %}
                                <tr class="{% if drar.pk == object.pk %}editing-row{% endif %}">
                                    <td>{{ forloop.counter }}</td>
                                    <td> {{ drar.drar_status_img_html }} </td>
                                    <td>
                                        {{ drar.title }} <br />
                                        {% if drar.copied_from_id %}
                                        <code> Brought forward from {{ drar.copied_from.created_at|naturalday|title }}'s DRAR</code>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if drar.user == shared_user and drar.linked_with.exists %}
                                        <ul class="list-group list-group-sm list-group-flush">
                                            <li class="list-group-item">{{ shared_user.get_full_name|default:shared_user.username }} Needs supports from: </li>
                                            {% for user in drar.linked_with.all %}
                                            <li class="list-group-item">{{ user.get_full_name }}   {% if user == request.user %}(You){% endif %}  </li>
                                            {% endfor %}
                                        </ul>
                                        {% elif drar.linked_with.exists %}
                                        <code>{{ drar.user.get_full_name|default:drar.user.username }} needs his support. </code>
                                        {% else %} -
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a class="text-dark" href="?task={{ drar.id }}">Comments</a>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="100%"> No DRAR's Has been added today. </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>

                                </tfoot>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card-footer clearfix">
                {% include 'adminlte/lib/_pagination.html' %}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        {% if object %}
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger ">
                        <h4 class="card-title">Comments</h4>
                    </div>
                    <div class="card-body">
                        <div class="comments">
                            <ul class="list-group">
                                {% for comment in object.drarcomment_set.all %}
                                  <li class="list-group-item"><b>{{ comment.user.first_name }} said:</b> <br>   {{ comment.comment }} <small class="text-muted">:: {{ comment.created_at|naturaltime }}</small></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="card-footer">
                        <form action="" method="post">
                            {% csrf_token %}
                                <textarea name="comment" class="form-control px-3" rows="2" placeholder="Add Your Comment"></textarea>
                                <button type="submit" class="btn btn-sm btn-success mt-3 w-100">Comment</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger ">
                        <h4 class="card-title">Calender</h4>
                    </div>
                    <div class="card-body">
                        <div class="calendar-container"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block extra_javascript %}
<!--{% include 'adminlte/lib/_scripts.html' %}-->
<script src="{% static 'cal/calendar.min.js' %}"></script>
<script>
    function format(inputDate) {
      var date, month, year;
      date = inputDate.getDate();
      month = inputDate.getMonth() + 1;
      year = inputDate.getFullYear();
      date = date.toString().padStart(2, '0');
      month = month.toString().padStart(2, '0');
      return `${date}-${month}-${year}`;
    }

    (function() {
        $(document).ready(function(){
            $('.calendar-container').calendar({
              date: {% if is_today %}new Date(){% else %}  new Date("{{date_object__js}}"){% endif %},
              disable:function (date) {return false;},   //date > new Date()
              prevButton:"Previous Month",
              nextButton:"Next Month",
              onClickDate:function (date) { location.href = location.href + `/drar/shared/emp-{view.kwargs.user_pk}/${format(new Date(date))}/`  }
            });
        });
    })()
    $(document).ready(function(){
        $('#id_created_at').val(new Date("{{date_object__js}}").toISOString()).datepicker({           // SPECAL CASE
            dateFormat: 'yy-mm-dd',
            dynamic: false,
            dropdown: true,
            scrollbar: true,
            showAnim: "fold",
        }).datepicker("setDate", new Date("{{date_object__js}}") );
    })
</script>
{% endblock %}
