{% extends 'paper/layout.html'  %}
{% load static crispy_forms_tags %}
{% block title %} Shared Documents | {{ block.super }}{% endblock %}

{% block content %}
{% regroup object_list by doc_type_id as doc_list %}
<style>
{% for dc in doc_list %}select#id_doc_type option[value="{{dc.grouper}}"]{% if not forloop.last %},{% endif %}{% endfor %}{background-color:#fff2b1;}
</style>
<h4> Select User to proceed  </h4>
<div class=""  id="app">
    <div class="">
        <div class="container">
                {% for user_obj in object_list %}
                    <div class="card m-2"  style="width: 120px;">
                        <img src="{{ user_obj.avatar_url }}" alt="{{ user_obj.get_user_name|default:user_obj.username }}" width="120" height="120" class="card-img-top" >
                        <div class="card-body">
                            <a href="{% url 'drar:shared-drar-list' user_pk=user_obj.id %}">
                                <p class="btn btn-link">{{ user_obj.get_user_name|default:user_obj.username }}</p>
                            </a>
                        </div>
                    </div>
                {% empty  %}
                <div class="col-md-offset-1 col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <p>No users have shared you their DRAR!</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
        </div>
    </div>
    <div class=" clearfix">
        {% include 'adminlte/lib/_pagination.html' %}
    </div>
</div>
{% endblock %}


{% block extra_javascript %}
<!--{% include 'adminlte/lib/_scripts.html' %}-->
{% endblock %}
