{% load i18n petty_tags %}


<div class="actions">
    {% if request.resolver_match.url_name == "petty_petty_changelist" %}
    <span style="margin-right:60px; margin-bottom:30px;">{% in_hand_petty_amount %}</span>
    {% endif %}
    {% block actions %}
        {% block actions-form %}
            {% for field in action_form %}<label>{{ field }}</label>{% endfor %}
        {% endblock %}
        {% block actions-submit %}
            <button type="submit" class="btn btn-primary" style="margin-right: 5px; margin-left: 15px;" title="{% trans "Run the selected action" %}" name="index" value="{{ action_index|default:0 }}">
                {% trans "Go" %}
            </button>
        {% endblock %}
        {% block actions-counter %}
            {% if actions_selection_counter %}
                <span class="action-counter" data-actions-icnt="{{ cl.result_list|length }}">{{ selection_note }}</span>
                {% if cl.result_count != cl.result_list|length %}
                    <span class="all" style="display: none;">{{ selection_note_all }}</span>
                    <span class="question" style="display: none;">
                        <a href="#" title="{% trans "Click here to select the objects across all pages" %}">
                            {% blocktrans with cl.result_count as total_count %}Select all {{ total_count }} {{ module_name }}{% endblocktrans %}
                        </a>
                    </span>
                    <span class="clear" style="display: none;"><a href="#">{% trans "Clear selection" %}</a></span>
                {% endif %}
            {% endif %}
        {% endblock %}
    {% endblock %}
</div>