{% extends 'paper/layout.html'  %}
{% load static %}
{% block title %} Apply for Leave | Leave Management | {{ block.super }}{% endblock %}

{% block content %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js" defer></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js" defer></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<div class="card card-default "  id="app">
    <div class="card-header with-border">
        <h4> Apply for Your Leave </h4>
        <form method="post" class="border rounded">
            <div class="row">
                <div class="col-md-4 form-group">
                    <label for="{{ form.leave_type.id_for_label }}">{{ form.leave_type.label }}</label>
                    {{ form.leave_type }}
                    <span class="text-muted">{{ form.leave_type.help_text }}</span>
                    <span class="text-danger">{{ form.leave_type.errors }}</span>
                </div>
                <div class="col-md-8 form-group">
                    <label for="{{ form.reason_to_request.id_for_label }}">{{ form.reason_to_request.label }}</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-list-alt" aria-hidden="true"></i>
                        </div>
                        {{ form.reason_to_request }}
                    </div>
                    <span class="text-muted">{{ form.reason_to_request.help_text }}</span>
                    <span class="text-danger">{{ form.reason_to_request.errors }}</span>
                </div>
                <div class="col-md-3 form-group">
                    <label for="{{ form.from_slot.id_for_label }}">{{ form.from_slot.label }}</label>
                    <div class="input-group date" data-provide="select2">
                        <div class="input-group-addon">
                            <i class="fa fa-clock-o"></i>
                        </div>
                        {{ form.from_slot }}
                    </div>
                    <span class="text-muted">{{ form.from_slot.help_text }}</span>
                    <span class="text-danger">{{ form.from_slot.errors }}</span>
                </div>
                <div class="col-md-6 form-group" >
                    <label for="id_for_daterange">Select Your Dates</label>
                    <div class="input-group date" data-provide="daterangepicker">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control" id="id_for_daterange" name="dateRange"
                               {% if form.from_date.value %} value="{{ form.from_date.value }} - {{ form.to_date.value }}"{% endif %}>
                        {{ form.from_date }}
                        {{ form.to_date }}

                    </div>
                    <span class="text-muted">{{ form.from_date.help_text }}</span>
                    {% if form.to_date.errors %}
                    <span class="text-muted">Starting Date:</span>
                    <span class="text-danger">{{ form.from_date.errors }}</span>
                    {% endif %}
                    {% if form.to_date.errors %}
                    <span class="text-muted">Ending Date:</span>
                    <span class="text-danger">{{ form.to_date.errors }}</span>
                    {% endif %}

                </div>
                <div class="col-md-3 form-group">
                    <label for="{{ form.to_slot.id_for_label }}">{{ form.to_slot.label }}</label>
                    <div class="input-group date" data-provide="select2">
                        <div class="input-group-addon">
                            <i class="fa fa-clock-o"></i>
                        </div>
                        {{ form.to_slot }}
                    </div>
                    <span class="text-muted">{{ form.to_slot.help_text }}</span>
                    <span class="text-danger">{{ form.to_slot.errors }}</span>
                </div>
            </div>
            <div class="col-md-12">
                    <span class="text-danger">
                        {% for err in form.non_field_errors %}
                            {{ err }}
                        {% endfor %}
                    </span>
                <input type="submit" class="btn btn-lg pull-right btn-success" />
            </div>
        </form>
    </div>
    <hr />

    <div class="card-header card-header-danger ">
                <h4>Past Leaves.</h4>
    </div>

    <div class="card-body">
        {% if object_list %}
        <div class="table-responsive">
            <table class="table table-striped ">
                <thead>
                <tr>
                    <th>Leave</th>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Comment from HR</th>
                </tr>
                </thead>
                <tbody>
                {% for leave in object_list %}
                <tr>
                    <td>{{ leave.leave_type.name }}</td>
                    <td>
                        From : <b>{{ leave.from_date|date }} <span class="text-muted">{{ leave.from_slot }}</span></b> <br />
                        To : <b>{{ leave.to_date }} <span class="text-muted">{{ leave.to_slot }}</span></b><br />
                        {% if leave.leave_requested_in_days %}({{ leave.leave_requested_in_days }} Leave Requested In Days){% endif %}
                    </td>
                    <td>{{ leave.reason_to_request|default:"-" }}</td>
                    <td>{{ leave.approval_status|default:"WAITING FOR APPROVAL" }}</td>
                    <td>{{ leave.reason_for_action|default:"-" }}</td>
                </tr>
                {% endfor %}
                </tbody>
                <tfoot>

                </tfoot>
            </table>
        </div>
        {% endif %}
    </div>
    <div class="card-footer clearfix">
        {% include 'adminlte/lib/_pagination.html' %}
    </div>
</div>
{% endblock %}


{% block extra_javascript %}
<!--{% include 'adminlte/lib/_scripts.html' %}-->
<script>
    (function(){
        $startDate = $('input#{{ form.from_date.id_for_label }}').val()
        $endDate = $('input#{{ form.to_date.id_for_label }}').val()
        $(function() {
          $('input#id_for_daterange').daterangepicker({
            opens: 'left',
            timepicker: false,
            dateFormat: 'dd-mm-yyyy',
          }, function(start, end, label) {
            $('#{{ form.from_date.id_for_label }}').val(start.format('DD-MM-YYYY'));
            $('#{{ form.to_date.id_for_label }}').val(end.format('DD-MM-YYYY'));
            console.log("A new date selection was made: " + start.format('DD-MM-YYYY') + ' to ' + end.format('DD-MM-YYYY'));
          });
        });
        $('#{{ form.from_date.id_for_label }}').val("{{ now|date:'d-m-Y' }}")
        $('#{{ form.to_date.id_for_label }}').val("{{ now|date:'d-m-Y' }}");
    })()
</script>
{% endblock %}
