
<li class="treeview" >
    <a href="#">
        <i class="fa fa-group"></i> <span>Administration</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-right pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li>
            <a href="{% url 'admin:index' %}" target="_blank">
                <i class="fa fa-dashboard"></i>  Admin Panel
            </a>
        </li>
        {% if request.user.is_manager %}
        <li >
            <a href="{% url 'petty:dashboard-petty' %}">
                <i class="fa fa-th-list" aria-hidden="true"></i> <span>Petty</span>
            </a>
        </li>
        {% endif %}
    </ul>
</li>
