{% extends 'adminlte/lib/_main_header.html'  %}
{% load static i18n %}
{% block logo_text %}<img  src="{% static 'images/fegno-logo-white-text.png' %}" height="36px" alt="fegno logo" />{% endblock %}

{% block logo_text_small %}<img src="{% static 'images/fegno.png' %}" height="24px" alt="logo favicon" /> {% endblock %}

{% block logout_url %}{% url 'logout' %}{% endblock %}

{% block change_password_url %}{% url 'password_change' %}{% endblock %}


{% block header_dropdowns %}
{% if request.user.is_authenticated %}
<li class="dropdown user user-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <img src="{{ request.user.avatar_url }}" class="user-image" alt="User Image">
        <span class="hidden-xs">{% firstof request.user.get_short_name request.user.get_username %}</span>
    </a>
    <ul class="dropdown-menu">
        {% block user_header %}
        <li class="user-header">
            <img src="{{ request.user.avatar_url }}" class="img-circle" alt="User Image">
            <p>
                {% firstof request.user.get_short_name request.user.get_username %}
                <small>Member since {{ request.user.date_joined }}</small>
            </p>
        </li>
        {% endblock %}

        <!-- Menu Footer-->
        {% block menu_footer %}
        <li class="user-footer">
            <div class="pull-left">
                <a href="{% url 'password_change' %}"
                   class="btn btn-default btn-flat">{% trans 'Change password' %}</a>
            </div>
            <div class="pull-right">
                <a href="{% url 'logout' %}" class="btn btn-default btn-flat">Sign out</a>
            </div>
        </li>
        {% endblock %}

    </ul>
</li>
{% endif %}
{% endblock header_dropdowns %}
