{% load py_utils %}

++++++++++++++++++++++++++++++++++ NOT USING ++++++++++++++++++++++++++++++++++

{% if request.user.is_devops %}
<li>
    <a href="#"><i class="fa fa-code"></i> <span>Devops</span><span class="pull-right-container"><i class="fa fa-angle-right pull-right"></i></span></a><ul class="treeview-menu">
    <li>
        <a href="{% url 'project:hosting-list' %}">
            <i class="fa fa-clone"></i> Hosting List
        </a>
    </li>

</ul></li>
{% endif %}

{% if request.user.is_in_business %}
<li>
    <a href="#"><i class="fa fa-group"></i> <span>Business</span><span class="pull-right-container"><i class="fa fa-angle-right pull-right"></i></span></a><ul class="treeview-menu">
    <li>
        <a href="{% url 'project:project-list' %}">
<!--            <i class="fa fa-hdd-o"></i> -->
            Projects & Clients
        </a>
    </li>
    <li >
        <a href="{% url 'accounts:proforma-list' %}">
<!--            <i class="fa fa-th-list" aria-hidden="true"></i> -->
            <span>Proforma </span>
        </a>
    </li>

</ul></li>
{% endif %}

{% if request.user.is_hr %}
{% no_of_pending_leaves as pending_leaves %}
<li class="treeview" >
    <a href="#">
        <i class="fa fa-group"></i>
        <span> HR  </span>
        <span class="pull-right-container"><i class="fa fa-angle-right pull-right"></i></span></a>
    <ul class="treeview-menu">
    <li>
        <a href="{% url 'leave:new-leave-requests' %}">
<!--            <i class="fa fa-bars"></i> -->
            {% if pending_leaves%} <span class="label bg-yellow">{{ pending_leaves }}</span>   New Requests {% endif %}
        </a>
    </li>
    <li>
        <a href="{% url 'payslip:payslip-list' %}">
<!--            <i class="fa fa-ellipsis-v"></i>  -->
            Payslip List
        </a>
    </li>
    <li>
        <a href="{% url 'leave:annual-user-leave' %}">
<!--            <i class="fa fa-building"></i>  -->
            Annual Summery
        </a>
    </li>
    <li>
        <a href="{% url 'leave:user-leave' %}">
<!--            <i class="fa fa-calendar-check-o"></i>  -->
            Month Summery
        </a>
    </li>
    <li>
        <a href="{% url 'leave:late-attendance-list' %}">
<!--            <i class="fa fa-calendar-times-o"></i>  -->
            Late Attendance
        </a>
    </li>
</ul></li>

{% endif %}
