{% extends 'paper/layout.html'  %}
{% block title %}  {% endblock %}
{% load static crispy_forms_tags %}
{% block content %}
{% block navpage %}
<nav aria-label="breadcrumb" role="navigation" class="col-md-8 ml-1 mr-4">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active"><a href="{% url 'project:create_prospect' %}">Prospect Home</a></li>
  <li class="breadcrumb-item active"><a href="{% url 'project:create_billing' %}">BIlling status</a></li>
  </ol>
</nav>
{% endblock %}
<div class="row">
    <div class="col-md-8">
        <div class="card ml-2 p-4">
            <div class="card-body">
                                <h4>Billing Status List</h4>
                <hr/>
                {% if object_list %}
                <table class="table">
                    <thead>
                    <tr class="text-center">
                        <th>#</th>
                        <th>Name</th>
                        <th>State</th>
                        <th>Display Order</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for project in object_list %}
                    <tr class="text-center">
                        <td>{{forloop.counter}}</td>
                        <td>{{project.name}}</td>
                        <td>{{project.state}}</td>
                        <td>{{project.display_order}}</td>
                        <td class="text-center d-flex justify-content-center">
                            <a class="btn btn-info btn-sm" href="{% url 'project:update_billing' project.pk %}">Edit</a>
                            <form action="{% url 'project:delete_billing' project.pk %}" method="post">
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                            </form>
                        </td>

                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <h5>No Records Found...!</h5>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mr-2 ml-2 p-4">
            <div class="card-body">
                <h4>Billing Status</h4>
                <hr/>
                <form method="post">
                    {% csrf_token %}
                    <div class="col-md-12 form-group pb-5">
                        {{ form|crispy }}
                    </div>
                    <hr>
                    <div class="">
                        <button class="btn btn-success">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}