{% extends 'project/inflow_outflow_list.html'  %}

{% block pg-header %}Branch{% endblock %}
{% block pg-header2 %}Branch List{% endblock %}
{% block branchbutton %}{% endblock %}
{% block thead %}
<thead>
<tr class="text-center">
    <th>#</th>
    <th>Branch Name</th>
    <th>Action</th>
</tr>
</thead>

{% endblock %}
{% block tbody %}
<tbody>
{% for data in object_list %}
<tr class="text-center">
    <td>{{forloop.counter}}</td>
    <td>{{data.name}}<br></td>
    <td class="text-center d-flex justify-content-center">
        <a class="btn btn-info btn-sm"
           href="{% url 'project:branch_update' data.pk %}">Edit</a>
        <form action="{% url 'project:branch_delete' data.pk %}" method="post">
            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
        </form>
    </td>
</tr>
{% empty %}
<tr class="text-center">
    <td colspan="7"><h3>No datas found</h3></td>
</tr>
{% endfor %}
</tbody>

{% endblock %}