{% extends 'paper/layout.html'  %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Project - {{ object.name }} | {{ block.super }}{% endblock %}

{% block stylesheets %}
{% include 'adminlte/lib/_styles.html' %}
<style>.unselectable {-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;} </style>
{% endblock %}

{% block content %}

<div class="card card-primary " id="app">
    <div class="card-header card-header-danger">
      {% if object.pk %}
        <h3>Update Client - {{ object.name }}</h3>
      {% else %}
        <h3>Create Client</h3>
      {% endif %}

        </div>
                            <hr/>
        <div class="card-body">
            <div class="container-fluid">

                <div class="row">

                    <div class="col-md-12">

                        <form method="POST" enctype="multipart/form-data">
                            {{ form|crispy }}

                            <button type="submit" class="btn btn-primary ">Save</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
        <div class="card-footer clearfix">
        </div>
    </div>
</div>
{% endblock %}


