{% extends 'paper/layout.html'  %}
{% load static %}
{% block title %} Client | Project Management | {{ block.super }}{% endblock %}

{% block content %}
<div class="card card-default "  id="app">
    <div class="card-header card-header-danger">
        <h4> Clients </h4>
      <div class="box-tools pull-right">
        <a href="{% url 'project:client-create' %}" class="btn btn-success btn-sm">Create new Project</a>
      </div>

    </div>
    <hr />

    <div class="card-body">
        <h4>Clients.</h4>
        {% if object_list %}
        <div class="table-responsive">
            <table class="table table-bordered ">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Contact Number</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for client in object_list %}
                <tr>
                    <td>{{ client.id }}</td>
                    <td>{{ client.name }}</td>
                    <td>{{ client.contact_01 }}</td>
                    <td><a href="{% url 'project:client-update' pk=client.pk %}" class="btn btn-sm btn-primary">View</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
    <div class="card-footer clearfix">
        {% include 'adminlte/lib/_pagination.html' %}
    </div>
</div>
<script>
    (function(){
        {% if messages %}
        {% for message in messages %}
            swal("{% if message.tags %}{{ message.tags }}{% endif %}", "{{ message|safe }}", "{% if message.tags %}{{ message.tags }}{% endif %}");
        {% endfor %}
        {% endif %}
    })()
    </script>
{% endblock %}


{% block javascript %}
{% include 'adminlte/lib/_scripts.html' %}
<script>
</script>
{% endblock %}
