{% extends 'paper/layout.html'  %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Hosting Services | Project Management | {{ block.super }}{% endblock %}

{% block stylesheets %}
{% include 'adminlte/lib/_styles.html' %}
<style>.unselectable {-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;} </style>
{% endblock %}

{% block content %}
<div class="card " id="app">
    <div class="card-header card-header-danger">
      {% if object.pk %}
        <h3>Update Project - {{ object.name }}</h3>
      {% else %}
        <h3>Create Project</h3>
      <div class="box-tools pull-right">
        <a href="{% url 'project:client-create' %}" class="btn btn-success btn-sm">Create new Client</a>
      </div>
      {% endif %}

    </div>
    <div class="card-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-7">
                    <form method="POST" enctype="multipart/form-data" >
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary " >Save</button>
                    </form>
                    {% if object.pk and object.client_id %}
                        <a href="{% url 'project:client-update' pk=object.client.pk %}" class="btn btn-sm btn-secondary">Change Client Data</a>
                    {% endif %}
                </div>
            </div>
            <hr />
        </div>
    </div>
    <div class="card-footer clearfix">
    </div>
</div>
{% endblock %}


{% block extra_foot %}
<style>.helptext{color:#777; font-size:smaller; display:block;}</style>
<link rel="stylesheet" href="{% static 'css/bootstrap-datepicker3.standalone.min.css' %}" integrity="sha512-p4vIrJ1mDmOVghNMM4YsWxm0ELMJ/T0IkdEvrkNHIcgFsSzDi/fV7YxzTzb3mnMvFPawuIyIrHcpxClauEfpQg==" crossorigin="anonymous" />
<script src="{% static 'js/bootstrap-datepicker.min.js' %}" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous"></script>
<script>$(document).ready(function() { $('.dateinput').datepicker(); });</script>
{% endblock %}
