{% extends 'paper/layout.html'  %}
{% load static %}
{% block title %} Hosting Services | Project Management | {{ block.super }}{% endblock %}

{% block content %}
<style>
    .d-inline { display:inline-block !important}
</style>
<div class="card card-default "  id="app">
    <div class="card-header card-header-danger">
        <h4>Hosting</h4>
      <div class="box-tools pull-right">
        <a href="{% url 'project:hosting-create' %}" class="btn btn-success btn-sm">Add new Hosting</a>
      </div>
    </div>
    <hr />
    <div class="card-body">
        {% if object_list %}
        <div class="table-responsive">
            <table class="table table-bordered ">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Hosting Provider</th>
                    <th>Project</th>
                    <th>Date of Hosting</th>
                    <th>Date of Expiry</th>
                    <th>Amount</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for project in object_list %}
                <tr>
                    <td>{{ project.id }}</td>
                    <td>{{ project.name }}</td>
                    <td>{{ project.service_provider }}</td>
                    <td>{{ project.project }}</td>
                    <td>{{ project.date_of_hosting }}</td>
                    <td>{{ project.date_of_expiry }}</td>
                    <td>{{ project.amount }}</td>
                    <td>
                        <a href="{% url 'project:hosting-update' pk=project.pk %}" class="btn btn-sm btn-primary d-inline">View</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
    <div class="card-footer clearfix">
        {% include 'adminlte/lib/_pagination.html' %}
    </div>
</div>
<script>
    (function(){
        {% if messages %}
        {% for message in messages %}
            swal("{% if message.tags %}{{ message.tags }}{% endif %}", "{{ message|safe }}", "{% if message.tags %}{{ message.tags }}{% endif %}");
        {% endfor %}
        {% endif %}
    })()
    </script>
{% endblock %}


{% block extra_javascript %}
{% include 'adminlte/lib/_scripts.html' %}
<script>
</script>
{% endblock %}
