{% extends 'paper/layout.html'  %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Projects | Inflow Outflow Management | {{ block.super }}{% endblock %}
{% block content %}
{% block navpage %}
<nav aria-label="breadcrumb" role="navigation" class="col-md-6 ml-4 mr-4">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active"><a href="{% url 'project:inflow_list' %}">InflowOutflow Home</a></li>
  </ol>
</nav>
<br>
{% endblock %}
<div class="row">
    <div class="col-md-6 ml-5">
        <div class="card ">
            <div class="card-body">
                   <h4 class="card-header-danger">{% block pg-header %}Inflow Outflow{% endblock %}</h4>
                <hr/>
                <form method="post">
                    {% csrf_token %}
                        {{ form|crispy }}
                    <hr>
                    <div class="">
                        <button class="btn btn-success">Submit</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

{% endblock %}