{% extends 'paper/layout.html'  %}
{% load static %}
{% block title %} Inflow Outflow|List {% endblock %}
{% block content %}
{% block navpage %}
<nav aria-label="breadcrumb" role="navigation" class="col-md-12 ml-1 mr-4">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a href="{% url 'project:inflow_list' %}">InflowOutflow Home</a></li>
    </ol>
</nav>
<br>
{% endblock %}
<div class="row">
    <div class="col-md-9">
        <div class="">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h5> Inflow Outflow List</h5>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Month</th>
                            <!--              <th>Last Updated</th>-->
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in object_list %}
                        <tr>
                            <td>{{ item.month_name }}, {{ item.year }}</td>
                            <td><a href="{% url 'project:inflow_detail' pk=item.pk %}" class="btn btn-primary btn-sm">
                                View </a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <form action="" method="post">
                    <div class="form-input">
                        {{ form.as_p }}
                    </div>
                    <div class="">
                        <input type="submit" class="float-right  btn btn-success btn-sm d-block" value="Submit">
                    </div>
                </form>
            </div>
        </div>
        <div class="card ">
            <canvas id="myChart" width="400" height="400"></canvas>
        </div>
    </div>

</div>
<!-- /.box -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
const ctx = document.getElementById('myChart').getContext('2d');
const datas = {{monthlylabel|safe}}
const myChart = new Chart(ctx, {
    type: 'bar',
    data: {

            labels: ['January', 'February','March','April','May','June','July','August','September','October','November','December'],
            datasets: [{
                label: 'Net Expense',
                data: datas,
                backgroundColor: ['rgba(255, 99, 132, 1.0)',],

                parsing: {
                    yAxisKey: 'net_expense'
                }
            }, {
                label: 'Net Billed Amount',
                data: datas,
                backgroundColor: ['rgba(54, 162, 235,1.0)',],
                parsing: {
                    yAxisKey: 'net_billed_amount'
                }
            }, {
                label: 'Net amount Converted',
                data: datas,
                backgroundColor: ['rgba(255, 206, 86, 1.0)',],
                parsing: {
                    yAxisKey: 'net_amount_converted'
                }
            }, {
                label: 'Net inflow from AOP',
                data: datas,
                backgroundColor: ['rgba(75, 192, 192, 1.0)',],
                parsing: {
                    yAxisKey: 'net_inflow_from_aop'
                }
        }]
    },

});

</script>
{% endblock %}



