{% extends 'paper/layout.html'  %}
{% block title %} Inflow Outflow |DetailView {% endblock %}
{% block content %}
{% block navpage %}
<nav aria-label="breadcrumb" role="navigation" class="col-md-12 ml-1 mr-4">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active"><a href="{% url 'project:inflow_list' %}">InflowOutflow Home</a></li>
  </ol>
</nav>
<br>
{% endblock %}
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header card-header-danger ">
                <h5>Inflow/OutFlow of {{ object.month_name }} {{ object.year }}</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between">
                                <p>Net Expense  :</p><p>{{ object.net_expense|default:"-" }}</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                <p>Net Billed Amount  :</p><p>{{ object.net_billed_amount|default:"-" }}</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                               <p> Net Amount Converted  :</p><p>{{ object.net_amount_converted|default:"-" }}</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                <p>Net Inflow from AOP  :</p><p>{{ object.net_inflow_from_aop|default:"-" }}</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                <p>No of Leads Collected  :</p><p>{{ object.no_leads_collected }}</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                <p>No of Positive Leads  :</p><p>{{ object.no_positive_leads }}</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                <p>No of Convertions  :</p><p>{{ object.no_convertions }}</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                <p>No of No of Client Visits :</p>
                                <p>{{ object.no_client_visits }}</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                <p>No of Premises Client Meetings :</p>
                                <p>{{ object.no_premises_client_meetings }}</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                <p>No of Expected Deliveries :</p>
                                <p>{{ object.no_expected_deliveries }}</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                <p>No of Deliveries done :</p>
                                <p>{{ object.no_done_deliveries }}</p>
                            </li>
                        </ul>
                        <hr>
                        <div>
                            <a href="{% url 'project:inflow_update' object.pk %}" type="submit" class="btn btn-info">Edit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}