{% extends 'paper/layout.html'  %}
{% load static %}
{% block title %} Projects | Project Management | {{ block.super }}{% endblock %}

{% block content %}
<style>
    .d-inline { display:inline-block !important}
</style>
<div class="card card-default "  id="app">
    <div class="card-header card-header-danger">
        <h4>Projects</h4>
      <div class="pull-right">
        <a href="{% url 'project:project-create' %}" class="btn btn-success btn-sm">Create new Project</a>
      </div>
    </div>

    <div class="card-body">
        {% if object_list %}
        <div class="table-responsive">
            <table class="table table-bordered ">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Contact Number</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for project in object_list %}
                <tr>
                    <td>{{ project.id }}</td>
                    <td>{{ project.name }}</td>
                    <td><a href="tel:{{ project.concern_number }}">{{ project.concern_number }}</a>  ({{ project.concern_person }}) </td>
                    <td>
                        <a href="{% url 'project:project-update' pk=project.pk %}" class="btn btn-sm btn-primary d-inline">View</a>
                        <form action="{% url 'project:project-activation' pk=project.pk %}" method="post" class=" d-inline ">
                            <input type="hidden" hidden name="is_active" id="id_is_active" value="{% if object.is_active %}False{% else %}True{% endif %}" />
                            <button class="btn btn-{% if object.is_active %}danger{% else %}warning{% endif %} btn-sm d-inline" type="submit"> Mark as {% if object.is_active %}Closed{% else %}Active{% endif %} </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
    <div class="card-footer clearfix">
        {% include 'adminlte/lib/_pagination.html' %}
    </div>
</div>
<script>
    (function(){
        {% if messages %}
        {% for message in messages %}
            swal("{% if message.tags %}{{ message.tags }}{% endif %}", "{{ message|safe }}", "{% if message.tags %}{{ message.tags }}{% endif %}");
        {% endfor %}
        {% endif %}
    })()
    </script>
{% endblock %}


{% block extra_javascript %}
{% include 'adminlte/lib/_scripts.html' %}
<script>
</script>
{% endblock %}
