{% extends 'paper/layout.html'  %}
{% block title %}  {% endblock %}
{% load static crispy_forms_tags %}
{% load templatehelpers %}
{% block content %}
{% block navpage %}
<nav aria-label="breadcrumb" role="navigation" class="col-md-8 ml-1 mr-4">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active"><a href="{% url 'project:create_prospect' %}">Prospect Home</a></li>
  </ol>
</nav>
{% endblock %}
<div class="row">
    <div class="col-md-9">
        <div class="card ml-2 pl-3">
            <div class="card-body">
                <h4>Prospects List</h4>
                <form method="get">
                    <div class="row row-cols-4 pl-3">
                        {{filterdata.form|crispy}}
                        <div class="col-md-3 pl-3">
                        <button type="submit" class="btn btn-primary " style="height:40px;margin-top:20px;">Search
                        </button>
                        </div>
                    </div>
                </form>
                <hr>
                <table class="table">
                    <thead>
                    <tr class="text-center">
                        <th>#</th>
                        <th>Name</th>
                        <th>Amount</th>
                        <th>Assigned to</th>
                        <th>Status</th>
                        <th>Target Date</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    {% if filter %}
                    <tbody>
                    {% for prospect in filter %}
                    <tr class="text-center">
                        <td>{{forloop.counter}}</td>
                        <td>{{prospect.name}}<br><small>Created at:{{prospect.created_at}}</small></td>
                        <td>{{prospect.amount}}</td>
                        <td>{{prospect.assigned_to|default_if_none:"-"}}</td>
                        <td>{{prospect.status}}</td>
                        <td>{{prospect.target_date}}</td>
                        <td class="text-center d-flex justify-content-center">
                            <a class="btn btn-info btn-sm"
                               href="{% url 'project:update_prospect' prospect.pk %}">Edit</a>
                            <form action="{% url 'project:delete_prospect' prospect.pk %}" method="post">
                                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                            </form>
                        </td>
                    </tr>
                    {% empty %}
                    <tr class="text-center">
                        <td colspan="7"><h3>No Components match your search criteria</h3></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    {% endif %}
                </table>
            </div>
            {% if filter.has_other_pages %}
            <ul class="pagination  pg-blue">
                {% if filter.has_previous %}
                <li class="page-item "><a class="page-link"
                                          href="?page={{ filter.previous_page_number }}">&laquo;</a></li>
                {% else %}
                <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                {% endif %}
                {% for i in filter.paginator.page_range %}
                {% if filter.number == i %}
                <li class="page-item active"><span class="page-link">{{ i }} <span
                        class="sr-only">(current)</span></span>
                </li>
                {% else %}
                <li class="page-item "><a class="page-link" href="{% relative_url i 'page' request.GET.urlencode %}">{{
                    i }}</a></li>
                {% endif %}
                {% endfor %}
                {% if filter.has_next %}
                <li class="page-item "><a class="page-link"
                                          href="{% relative_url filter.next_page_number 'page' request.GET.urlencode %}">&raquo;</a>
                </li>
                {% else %}
                <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                {% endif %}
            </ul>
            {% endif %}
        </div>
    </div>
    <div class="col-md-3">
        <div class="card mr-2 ml-2 pl-4">
            <div class="card-body">
                <a class="btn btn-info float-right" href="{% url 'project:create_billing' %}">ADD BILLING STATUS</a>
                <h4>Prospects</h4>
                <hr/>
                <form method="post">
                    {% csrf_token %}
                    <div class="col-md-12 form-group pb-5">
                        {{ form|crispy }}
                    </div>
                    <hr>
                    <div class="">
                        <button class="btn btn-success">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}