{% extends 'paper/layout.html'  %}
{% load static %}
{% block title %} My Payslips | FIMS {% endblock %}
{% block stylesheets %}
  {{ block.super }}
  <style>  .errorlist *{color: red} </style>

{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-danger">
        <h3 class="card-title">My Payslips</h3>
        <div class="box-tools pull-right">
          <!-- Buttons, labels, and many other things can be placed here! -->
          <!-- Here is a label for example -->
        </div>
        <!-- /.box-tools -->
      </div>
      <!-- /.box-header -->
      <div class="card-body">
        <table class="table">
          <thead>
          <tr>
            <th>#</th>
            <th>Month</th>
            <th>Last Updated</th>
            <th>Is Submitted</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          {% for item in object_list %}
          <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.grouper.month_name }}, {{ item.grouper.year }}</td>
            <td>{{ item.grouper.updated_at }}</td>
            <td>{% if item.is_frozen %}<span class="label label-success">Yes</span>{% else %}<span class="label label-warning">Pending</span>{% endif %} </td>
            <td> <a href="{% url 'payslip:attendance-update' pk=item.pk %}" class="btn btn-primary btn-sm" target="blank"> View </a>
            </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- /.box-body -->
      <div class="card-footer">
        The footer of the box
      </div>
      <!-- box-footer -->
    </div>

  </div>
</div>
<!-- /.box -->
{% endblock %}
















