{% extends 'paper/layout.html'  %}
{% load static crispy_forms_tags %}
{% block title %} Payment Summery List {% endblock %}

{% block content %}
<style>  .errorlist *{color: red} .float-right{float:right !important} </style>
  <style>
      .table-blue-skin th{
          border-right: 2px solid white;
          background-color: #3c8dbc;
          color: #fff;
      }
      .table-blue-skin tr *{text-align:center}
  </style>

<div class="card">
  {% if object.is_frozen %}
    {% include 'payslip/attendance_data/view_detail.html' %}
  {% else %}
    {% include 'payslip/attendance_data/update_form.html' %}
  {% endif %}
</div>
  <!-- /.box -->
{% endblock %}
















