    <div class="card-body">
      <div class="row">
         <div class="col-md-12 mb-3">
          {{ form }}
          {{ inlines.0.management_form }}
          <table class="table">
            <thead>
            <tr>
              <th>User</th>
              <th>Days Present</th>
              <th>Loss of Pay</th>
              <th>Paid Leaves</th>
              <th>Salary to be Processed</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            {% for form_item in inlines.0 %}
            <tr>
              <td>
                <b>{{ form_item.instance.user.get_full_name }}</b>
                <p>{{ form_item.errors  }}</p>
              </td>
              {% for field in form_item %}
              <td>
                {{ field }}
              </td>
              {% endfor %}
              <td></td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
     </div>
    </div>