{% extends 'paper/layout.html'  %}
{% load static %}
{% block title %} Payment Summery List {% endblock %}
{% block stylesheets %}
{{ block.super }}
<style>
.errorlist *{color: red}
.text-xs{ font-size:9px!important}
.info-box-icon{background: #fff; font-size:unset}
</style>

{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="row">
        <div class="col-md-8">
          <h3 class="box-title">Payment Summery Detail - {{ object }}</h3>
        </div>
        <div class="col-md-4">
          <!-- Buttons, labels, and many other things can be placed here! -->
          <form action="{% url 'payslip:payslip-delete' pk=object.pk %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger float-right">DELETE</button>
          </form>
          <!-- Here is a label for example -->

        </div>
        <!-- /.box-tools -->
      </div>
      <!-- /.box-header -->
      <div class="container-fluid">
        <div class="row">
          {% for attendance in object.data.all %}
          <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="card ">
              <!-- Apply any bg-* class to to the icon to color it -->
              <div class="p-image" >
                <a href="{% url 'payslip:attendance-update' pk=attendance.pk %}">
                  <img src="{{ attendance.user.avatar_url }}" alt="{{ attendance.user.get_full_name|default:'User' }} Avatar" class="img img-thumbnail img-circle" width="80px" height="80px">
                </a>
                {% if not attendance.is_frozen %}
                <a class="btn btn-sm btn-danger" href="{% url 'payslip:attendance-update' pk=attendance.pk %}">Update</a>
                {% else %}
                <a class="btn btn-sm btn-success" href="{% url 'payslip:attendance-update' pk=attendance.pk %}">Done</a>
                {% endif %}
              </div>
              <hr>
              <div class="card-body">
                <div class="text"><a href="{% url 'payslip:attendance-update' pk=attendance.pk %}">{{ attendance.user.get_full_name|default:'User' }}</a></div>
                <small class="d-block  text-muted text-xs">{{ attendance.user.designation.name }} {% if attendance.user.designation %} at {% endif %} {{ attendance.user.department.name }} </small>
                <small class="d-block  text-muted text-xs"> Reporting to : {{ attendance.user.reporting_to.get_full_name }} </small>
                {% if attendance.payslip_sent %} <i class="fa fa-share text-success" title="Payslip Sent!"></i> {% else %} {% endif %}
              </div>
              </a>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          {% endfor %}
        </div>
      </div>
      <!-- /.box-body -->
      <div class="card-footer">
        {% if object.is_frozen %}
        <a href="{% url 'payslip:payslip-sheet' pk=object.pk %}" class="btn btn-sm btn-success"> Download Excel sheet for Accounts </a>
        {% endif %}
      </div>
      <!-- box-footer -->
    </div>
  </div>
</div>
<!-- /.box -->
{% endblock %}
















