{% extends 'paper/layout.html'  %}
{% load static %}
{% block title %} Payment Summery List {% endblock %}
{% block stylesheets %}
{{ block.super }}
<style>  .errorlist *{color: red} </style>

{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-9">
    <div class="">
      <h3 class="card-title">Payment Summery List</h3>
      <hr>
      <div class="card">
        <div class="card-header  card-header-danger">
          <h5> Pending Reviews</h5>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
            <tr>
              <th>Month</th>
              <th>Last Updated</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for item in pending_object_list %}
            <tr>
              <td>{{ item.month_name }}, {{ item.year }}</td>
              <td>{{ item.updated_at }}</td>
              <td> <a href="{% url 'payslip:payslip-detail' pk=item.pk %}" class="btn btn-primary btn-sm"> Edit </a>
              </td>
            </tr>
            {% endfor %}
            </tbody>
          </table>

        </div>
      </div>
      <div class="card">
        <div class="card-header card-header-danger">
          <h5> Past Payslips. </h5>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
            <tr>
              <th>Month</th>
              <th>Last Updated</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for item in object_list %}
            <tr>
              <td>{{ item.month_name }}, {{ item.year }}</td>
              <td>{{ item.updated_at }}</td>
              <td> <a href="{% url 'payslip:payslip-detail' pk=item.pk %}" class="btn btn-primary btn-sm"> View </a>
              </td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <form action="" method="post">
          <div class="form-input">
            {{ form.as_p }}
          </div>
          <div class="">
            <input type="submit" class="float-right  btn btn-success btn-sm d-block" value="Generate new Packing Slip">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /.box -->
{% endblock %}
















