{% extends 'paper/layout.html'  %}
{% load static crispy_forms_tags %}
{% block title %} Payment Summery List {% endblock %}

{% block content %}
<style>  .errorlist *{color: red} .float-right{float:right !important} </style>
<div class="row">
  <div class="col-md-12">
    <div class="float-right">
      <form action="{% url 'payslip:payslip-delete' pk=object.pk %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">DELETE</button>
      </form>
    </div>
  </div>
</div>
<div class="card">
  {% if object.is_frozen %}
    IS FROZEN
    {% include 'payslip/paymentsummery/view_detail.html' %}
  {% else %}
    IS DRAFT
    {% include 'payslip/paymentsummery/update_form.html' %}
  {% endif %}
</div>
  <!-- /.box -->
{% endblock %}
















