{% extends 'paper/layout.html'  %}

{% block content %}
{{ super.block }}

<style>
#tree{width:100%;height:100vh;position:relative}
</style>
<div id="tree">
  Loading...!
</div>
{% endblock %}

{% block javascript %}
{{ block.super }}
<script src="https://balkangraph.com/js/latest/OrgChart.js"></script>
<script type="text/javascript">
  (function(){
     window.onload = function () {
         OrgChart.templates.luba.plus = '<circle cx="15" cy="15" r="15" fill="#ffffff" stroke="#aeaeae" stroke-width="1"></circle>'
          + '<text text-anchor="middle" style="font-size: 18px;cursor:pointer;" fill="#757575" x="15" y="22">{collapsed-children-count}</text>';

          OrgChart.templates.group.link = '<path stroke-linejoin="round" stroke="#aeaeae" stroke-width="1px" fill="none" d="M{xa},{ya} {xb},{yb} {xc},{yc} L{xd},{yd}" />';
          OrgChart.templates.group.nodeMenuButton = '';
          OrgChart.templates.group.min = Object.assign({}, OrgChart.templates.group);
          OrgChart.templates.group.min.imgs = "{val}";
          OrgChart.templates.group.min.description = '<text width="230" text-overflow="multiline" style="font-size: 14px;" fill="#aeaeae" x="125" y="100" text-anchor="middle">{val}</text>';

        var chart = new OrgChart(document.getElementById("tree"), {
          template: "luba",
          dragAndDrop: true,
          enableSearch: true,
          layout: OrgChart.mixed,
          collapse: {
              level: 4,
              allChildren: true
          },
          searchFields: ["name", "title", ],
          mouseScrool: OrgChart.action.none,
          align: OrgChart.ORIENTATION,
          nodeBinding: {
              imgs: function (sender, node) {
                  if (node.min) {
                      var val = '';
                      var count = node.stChildrenIds.length > 5 ? 5 : node.stChildrenIds.length;
                      var x = node.w / 2 - (count * 48) / 2;

                      for (var i = 0; i < count; i++) {
                          var data = sender.get(node.stChildrenIds[i]);
                          val += '<image xlink:href="' + data.img + '" x="' + (x + i * 48) + '" y="45" width="48" height="48" ></image>';
                      }
                      return val;
                  }
              },
              field_0: "name",
              field_1: "title",
              field_2: "employee_id",
              img_0: "img"
          },
          tags: {
            "group": {
                template: "group",
            },
            {% for text in tags %}
            "{{ text }}": {
            	template: "group",
                subTreeConfig: {
                  siblingSeparation: 3,
                  columns: 2
                }
            },
            {% endfor %}
          },
          nodes: {{ data|safe }}
        });
        chart.on('click', function (sender, args) {
          if (args.node.tags.indexOf("group") != -1) {
              if (args.node.min) {
                  sender.maximize(args.node.id);
              }
              else {
                  sender.minimize(args.node.id);
              }
          }
          return false;
        });
     }
  })()
</script>
{% endblock %}
