{% extends 'paper/layout.html'  %}
{% block title %}User Profile{% endblock %}
{% load static crispy_forms_tags %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card mr-2 ml-2 p-4">
            <div class="card-body">
                <h4>User Profile</h4>
                <hr/>
                <form method="post">
                {% csrf_token %}
                    <div class="col-md-12 form-group pb-5">
                        <div class="col-md-5">
                        {{ form|crispy }}
                        </div>
                    </div>
                    <hr>
                    <div class="">
                        <button class="btn btn-success">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}