{% extends 'leave/email-templates/email-base.html' %}

{% block main_content %}
Hello {{ leave_request.user.get_full_name }},
<br />
<br />
Your {{ leave_request.leave_type.name }} request for {{ leave_request.leave_requested_in_days }} days has been <strong style="color:#0381a9">APPROVED!</strong> by {{ leave_request.approved_by.get_full_name }}.
{% endblock %}

