{% extends 'leave/email-templates/email-base.html' %}

{% block main_content %}
I, {{ leave_request.user.get_full_name }} ({{ eleave_request.usr.employee_id }}) would like to request a <b>{{ leave_request.leave_type.name }}</b> for <b>{{ leave_request.leave_requested_in_days }}</b> days.
{% endblock %}

