{% extends "email-templates/base.html" %}

{% block page_title %}WFH Management{% endblock %}
{% block main_content %}{% endblock %}
{% block main_body %}
<table style="font-family:'Quicksand',sans-serif; width:100%;   font-size:12px;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
    <tbody>
    <tr >
        <td colspan="100%" style="overflow-wrap:break-word;word-break:break-word;padding:0 ;font-family:'Quicksand',sans-serif;" align="left">
            <h4 style="line-height: 120%; font-size: 12px;">
                <span style="font-size: 16px; line-height: 22.4px; text-decoration:underline">Description</span>
            </h4>
            <p style="color:#777">{{ leave_request.reason_to_request }}</p>
        </td>
    </tr>
    <tr>
        <td>Leave Type</td>
        <td>- Work From Home</td>
    </tr>
    <tr>
        <td>Days</td>
        <td>
            {{ leave_request.date_as_string }}
        </td>
    </tr>
    <tr>
        <td>Requested By</td>
        <td>- {{ leave_request.user.get_full_name }} ({{ leave_request.user.employee_id }})</td>
    </tr>
    <tr>
        <td>Current Status</td>
        <td>- {{ leave_request.approval_status }} </td>
    </tr>
    {% if leave_request.approved_by_id %}
    <tr>
        <td>Responds From</td>
        <td>- {{  leave_request.approved_by.get_full_name }} </td>
    </tr>
    {% if leave_request.reason_for_action %}
    <tr>
        <td>Comments:</td>
        <td>- {{ leave_request.reason_for_action }}</td>
    </tr>
    {% endif %}
    {% endif %}

    </tbody>
</table>
{% endblock %}
