{% extends 'leave/email-templates/wfh-email-base.html' %}

{% block main_content %}
Hello {{ leave_request.user.get_full_name }},
<br />
<br />
Your Work From Home request for {{ leave_request.leave_requested_in_days }} days has been <strong style="color:#d40000">REJECTED</strong>
{% if leave_request.approved_by %} by {{ leave_request.approved_by.get_full_name }}.{% endif %}
{% endblock %}

