{% extends 'leave/email-templates/wfh-email-base.html' %}

{% block main_content %}
Hello {{ leave_request.user.get_full_name }},
<br />
<br />
Your Work From Home request for {{ leave_request.date_as_string }} days has been <strong style="color:#0381a9">APPROVED!</strong> by {{ leave_request.approved_by.get_full_name }}.
{% endblock %}

