{% extends 'paper/layout.html'  %}
{% load static %}
{% block title %} Apply for Leave | Leave Management | {{ block.super }}{% endblock %}

{% block content %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js" defer></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js" defer></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<style>
    form#data-add-form hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: none;
}
</style>
<div class="card" >
    <div class="card-header ">
        <form method="get" id="date-filter-form" class="">
            <div class="row">
                <div class="col-md-6 form-group" >
                    <h2> Petty - {{ SELECTED_MONTH|date:"F Y" }} </h2>
                </div>
                <div class="col-md-2 form-group" >
                    <label for="id_for_month">Select Your Month</label>
                    <div class="input-group" >
                        <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                        <select class="form-control" id="id_for_month" name="month" onchange="(function(event){ event.target.value != '{{ MONTH }}' && (document.getElementById('date-filter-form')).submit()})(event)">
                            <option value="1" {% ifequal MONTH '1' %}selected{% endifequal %} >January</option>
                            <option value="2" {% ifequal MONTH '2' %}selected{% endifequal %} >February</option>
                            <option value="3" {% ifequal MONTH '3' %}selected{% endifequal %} >March</option>
                            <option value="4" {% ifequal MONTH '4' %}selected{% endifequal %} >April</option>
                            <option value="5" {% ifequal MONTH '5' %}selected{% endifequal %} >May</option>
                            <option value="6" {% ifequal MONTH '6' %}selected{% endifequal %} >June</option>
                            <option value="7" {% ifequal MONTH '7' %}selected{% endifequal %} >July</option>
                            <option value="8" {% ifequal MONTH '8' %}selected{% endifequal %} >August</option>
                            <option value="9" {% ifequal MONTH '9' %}selected{% endifequal %} >September</option>
                            <option value="10" {% ifequal MONTH '10' %}selected{% endifequal %} >October</option>
                            <option value="11" {% ifequal MONTH '11' %}selected{% endifequal %} > November</option>
                            <option value="12" {% ifequal MONTH '12' %}selected{% endifequal %} > December</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2 form-group" >
                    <label for="id_for_year">Select Your Year</label>
                    <div class="input-group" >
                        <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                        <select class="form-control" id="id_for_year" name="year">
                            {% for y in year_range %}
                            <option value="{{ y }}" {% ifequal YEAR y %}selected{% endifequal %} >{{ y }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-md-2  p-5">
                    <input type="submit" class="btn btn-sm btn-primary m-auto d-block" style="margin:25px 0;" />
                </div>
            </div>
        </form>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="card" >
                    <div class="card-header card-header-danger">
                        <h3>Petty</h3>
                        <p class="text-muted">
                            Rs. {{ CASH_IN_HAND }} in Hand!
                            <a href="{% url 'petty:download-petty-excel' month=MONTH year=YEAR %}" class="btn btn-success" style="float:right"> Download as Excel </a>
                        </p>
                    </div>
                    <div class="card-body">
                        {% if object_list %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="table-responsive">
                                    <table class="table table-striped ">
                                        <thead>
                                        <tr>
                                            <th>Dated</th>
                                            <th>Description</th>
                                            <th style="text-align:center">Amount</th>
                                            <th>Attachments</th>
                                            <th>Cash in Hand</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>{{ TODAY|date:"d M, Y. D" }} </td>
                                            <td>Brought forward! </td>
                                            <td style="text-align:center">
                                                <span style="font-size: 16px" class="{% if BROUGHT_FORWARD >= 0 %}text-success{% else %}text-danger{% endif %}"><b>{{ BROUGHT_FORWARD  }}</b></span>
                                            </td>
                                            <td></td>
                                            <td>-</td>
                                        </tr>
                                        {% for petty in CREDIT_LIST %}
                                        <tr>
                                            <td>{{ petty.created_at|date:"d M, Y. D" }}</td>
                                            <td class="text-uppercase">
                                                {{ petty.description|default:"-" }}<br />
                                                {% if petty.paid_to %} <span class="text-muted">PAID TO : </span> <b>{{ petty.paid_to|default:"-" }}</b> <br /> {%  endif %}
                                                {% if petty.voucher_number %} <span class="text-muted">VOUCHER : </span> <b>{{ petty.voucher_number|default:"-" }}</b> <br />{%  endif %}
                                            </td>
                                            <td style="text-align:center">
                                                <span style="font-size: 16px" class="{% if petty.amount > 0 %}text-success{% else %}text-danger{% endif %}"><b>{{ petty.amount }}</b></span>
                                            </td>
                                            <td>
                                                {% if petty.file_01 %}<a href="{{ STATIC_URL }}{{ petty.file_01.url|default:'#' }}" target="_blank">File 01</a> . {% endif %}
                                                {% if petty.file_02 %}<a href="{{ STATIC_URL }}{{ petty.file_02.url|default:'#' }}" target="_blank">File 02</a> . {% endif %}
                                                {% if petty.file_03 %}<a href="{{ STATIC_URL }}{{ petty.file_03.url|default:'#' }}" target="_blank">File 03</a>{% endif %}
                                            </td>
                                            <td class="text-muted">Rs. {{ petty.cash_in_hand|default:"-" }}</td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                        <tfoot>
                                        <tr hidden>
                                            <th> {{ TODAY }} </th>
                                            <th> {{ a }} </th>
                                            <th> {{ a }} </th>
                                            <th> {{ a }} </th>
                                            <th> {{ a }} </th>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="table-responsive">
                                    <table class="table table-striped ">
                                        <thead>
                                        <tr>
                                            <th>Dated</th>
                                            <th>Description</th>
                                            <th style="text-align:center">Amount</th>
                                            <th>Attachments</th>
                                            <th>Cash in Hand</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for petty in DEBIT_LIST %}
                                        <tr>
                                            <td>{{ petty.created_at|date:"d M, Y. D" }}</td>
                                            <td class="text-uppercase">
                                                {{ petty.description|default:"-" }}<br />
                                                {% if petty.paid_to %} <span class="text-muted">PAID TO : </span> <b>{{ petty.paid_to|default:"-" }}</b> <br /> {%  endif %}
                                                {% if petty.voucher_number %} <span class="text-muted">VOUCHER : </span> <b>{{ petty.voucher_number|default:"-" }}</b> <br />{%  endif %}
                                            </td>
                                            <td style="text-align:center">
                                                <span style="font-size: 16px" class="{% if petty.amount > 0 %}text-success{% else %}text-danger{% endif %}"><b>{{ petty.amount }}</b></span>
                                            </td>
                                            <td>
                                                {% if petty.file_01 %}<a href="{{ STATIC_URL }}{{ petty.file_01.url|default:'#' }}" target="_blank">File 01</a> . {% endif %}
                                                {% if petty.file_02 %}<a href="{{ STATIC_URL }}{{ petty.file_02.url|default:'#' }}" target="_blank">File 02</a> . {% endif %}
                                                {% if petty.file_03 %}<a href="{{ STATIC_URL }}{{ petty.file_03.url|default:'#' }}" target="_blank">File 03</a>{% endif %}
                                            </td>
                                            <td class="text-muted">Rs. {{ petty.cash_in_hand|default:"-" }}</td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                        <tfoot>
                                        <tr hidden>
                                            <th> {{ TODAY }} </th>
                                            <th> {{ a }} </th>
                                            <th> {{ a }} </th>
                                            <th> {{ a }} </th>
                                            <th> {{ a }} </th>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <div class="card-footer clearfix">
                        {% include 'adminlte/lib/_pagination.html' %}
                    </div>
                </div>
            </div>
            <div class="col-md-12" >
                <div class="card"  >
                    <div class="card-header card-header-danger">
                        <h3>Activities</h3>
                    </div>
                    <div class="card-body">
                        <form method="post" id="data-add-form" >
                            {{ form.as_div }}
                            <hr />
                            <div class="row">
                                <div class="col-sm-4">
                                    <label for="{{ form.direction.id_for_label }}">{{ form.direction.label}}</label>
                                    {{ form.direction }}
                                    <span class="text-muted">{{ form.direction.help_text }}</span>
                                    {% if form.direction.errors %}
                                    <span class="text-danger">{{ form.direction.errors }}</span>
                                    {% endif %}
                                </div>
                                <div class="col-sm-4">
                                    <label for="{{ form.created_by.id_for_label }}">{{ form.created_by.label}}</label>
                                    {{ form.created_by }}
                                    <span class="text-muted">{{ form.created_by.help_text }}</span>
                                    {% if form.created_by.errors %}
                                    <span class="text-danger">{{ form.created_by.errors }}</span>
                                    {% endif %}
                                </div>
                                <div class="col-sm-4">
                                    <label for="{{ form.created_at.id_for_label }}">{{ form.created_at.label}}</label>
                                    {{ form.created_at }}
                                    <span class="text-muted">{{ form.created_at.help_text }}</span>
                                    {% if form.created_at.errors %}
                                    <span class="text-danger">{{ form.created_at.errors }}</span>
                                    {% endif %}
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-sm-4">
                                    <label for="{{ form.description.id_for_label }}">{{ form.description.label}}</label>
                                    {{ form.description }}
                                    <span class="text-muted">{{ form.description.help_text }}</span>
                                    {% if form.description.errors %}
                                    <span class="text-danger">{{ form.description.errors }}</span>
                                    {% endif %}
                                </div>
                                <div class="col-sm-4">
                                    <label for="{{ form.amount.id_for_label }}">{{ form.amount.label}}</label>
                                    {{ form.amount }}
                                    <span class="text-muted">{{ form.amount.help_text }}</span>
                                    {% if form.amount.errors %}
                                    <span class="text-danger">{{ form.amount.errors }}</span>
                                    {% endif %}
                                </div>
                                <div class="col-sm-4">
                                    <label for="{{ form.paid_to.id_for_label }}">{{ form.paid_to.label}}</label>
                                    {{ form.paid_to }}
                                    <span class="text-muted">{{ form.paid_to.help_text }}</span>
                                    {% if form.paid_to.errors %}
                                    <span class="text-danger">{{ form.paid_to.errors }}</span>
                                    {% endif %}

                                </div>
                                <div class="col-sm-4">
                                    <label for="{{ form.voucher_number.id_for_label }}">{{ form.voucher_number.label}}</label>
                                    {{ form.voucher_number }}
                                    <span class="text-muted">{{ form.voucher_number.help_text }}</span>
                                    {% if form.voucher_number.errors %}
                                    <span class="text-danger">{{ form.voucher_number.errors }}</span>
                                    {% endif %}
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-sm-4">
                                    <label for="{{ form.file_01.id_for_label }}">{{ form.file_01.label}}</label>
                                    {{ form.file_01 }}
                                    <span class="text-muted">{{ form.file_01.help_text }}</span>
                                    {% if form.file_01.errors %}
                                    <span class="text-danger">{{ form.file_01.errors }}</span>
                                    {% endif %}

                                </div>
                                <div class="col-sm-4">
                                    <label for="{{ form.file_02.id_for_label }}">{{ form.file_02.label}}</label>
                                    {{ form.file_02 }}
                                    <span class="text-muted">{{ form.file_02.help_text }}</span>
                                    {% if form.file_02.errors %}
                                    <span class="text-danger">{{ form.file_02.errors }}</span>
                                    {% endif %}
                                </div>
                                <div class="col-sm-4">
                                    <label for="{{ form.file_03.id_for_label }}">{{ form.file_03.label}}</label>
                                    {{ form.file_03 }}
                                    <span class="text-muted">{{ form.file_03.help_text }}</span>
                                    {% if form.file_03.errors %}
                                    <span class="text-danger">{{ form.file_03.errors }}</span>
                                    {% endif %}
                                </div>
                            </div>

                            <hr />

                            <input type="submit" style="float:right;" class="btn btn-success btn-md" />
                            <input type="reset" style="float:right;" class=" btn btn-secondary  btn-md" />
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}


{% block extra_javascript %}
{% include 'adminlte/lib/_scripts.html' %}
<script>
    (function(){
        $('input#id_created_at').attr('type', 'date')
        $('input#description')
    })()
    </script>
{% endblock %}
