{% extends 'payslip/email-template/base.html' %}
{% block preheader %}PAYSLIP - {{ object.grouper.month_name }}, {{ object.grouper.year }} {% endblock %}
{% block page_title %}PAYSLIP - {{ object.grouper.month_name }}, {{ object.grouper.year }}{% endblock %}

{% block main_content %}
<p>Hi {{object.user.first_name}},</p>
<p>&nbsp;</p>
<p>Your Payslip for this month <b>{{ object.grouper.month_name }}, {{ object.grouper.year }}</b> is attached along with.</p>
<p>Please find the attachment!</p>
<p>If you have any question, Please contact us back!</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>Regards,</p>
<p>HR Department,</p>
<p>{{ site_config.name }}</p>
<p>Cochin - {{ site_config.pincode }}</p>
<p></p>
<p>Dated: {% now "jS F Y H:i" %}</p>
<p></p>
{% endblock %}