{% extends 'paper/layout.html'  %}
{% load static crispy_forms_tags humanize %}

{% block title %} Dashboard | FIMS {% endblock %}
{% block content %}
<div class="container-fluid" >
    <div class="row">
        <div class="col-md-4">
            <!-- 📅 Holidays -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h3 class="card-title">Be Active Socially</h3>
                            <p class="card-description text-white">Lets connect with the world to hear their voice.</p>
                        </div>
                        <div class="card-body">
                            <form action="" method="post">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <div>
                                    <button class="btn btn-success" type="submit">Submit</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
                {% if holidays %}
                <div class="col-md-12">
                    <!-- 📅 Holidays  -->
                    <div class="card">
                        <div class="card-header card-header-danger with-border">
                            <h4> 📅 Holidays </h4>
                        </div>
                        <div class="card-body with-border">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for day in holidays %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>
                                        <span class="d-block text-muted ">{{ day.name }} 🎉! </span>
                                    </td>
                                    <td>
                                        <span class="d-block text-muted text-sm">{{ day.date|date }} </span>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr><td colspan="100%"> You have celebrated all the holidays for this year! Sit back and relax for the New Year Eve! </td></tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                        <div class="card-footer with-border">
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="col-md-12">
                    <!--  🎉 New Joinies  -->
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4> 📅  Holidays </h4>
                        </div>
                        <div class="card-body">
                            <p>  You have celebrated all the holidays for this year! Sit back and relax for the New Year Eve!. </p>
                        </div>
                    </div>
                </div>

                {% endif %}
            </div>

        </div>
        <div class="col-md-4">
            <!-- WORK ANNIVERSARIES -->
            <div class="row">
                {% if workanniversary %}
                <div class="col-md-12">
                    <!--  🎉 Work Anniversaries  -->
                    <div class="card">
                        <div class="card-header card-header-danger with-border">
                            <h4>🎉 Work Anniversaries </h4>

                        </div>
                        <div class="card-body with-border">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for user in workanniversary %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>
                                        <span class="d-block text-muted ">Happy For you, {{ user.get_full_name }} 🎉! </span>
                                    </td>
                                    <td>
                                        <span class="d-block text-muted text-sm">{{ user.doj|timesince }} </span>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr><td colspan="100%"> No information available </td></tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                        <div class="card-footer with-border">
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="col-md-12">
                    <!--  🎉 Work Anniversaries   -->
                    <div class="card">
                        <div class="card-header with-border">
                            <h4> 🎉 No Informations Available </h4>
                        </div>
                    </div>
                </div>

                {% endif %}
            </div>
            <!-- NEW JOINIES -->
            <div class="row">
                {% if new_joinies %}
                <div class="col-md-12">
                    <!--  🎉 New Joinies  -->
                    <div class="card">
                        <div class="card-header card-header-danger with-border">
                            <h4> 👶 New Joinies </h4>
                        </div>
                        <div class="card-body with-border">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for user in new_joinies %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>
                                        <span class="d-block text-muted ">Welcome {{ user.get_full_name }} 🎉! </span>
                                    </td>
                                    <td>
                                        <span class="d-block text-muted text-sm">{{ user.doj|date }} </span>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr><td colspan="100%"> No information available </td></tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                        <div class="card-footer with-border">
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="col-md-12">
                    <!--  🎉 New Joinies  -->
                    <div class="card">
                        <div class="card-header with-border">
                            <p> All the fegnites are experts by now! Look back later for more interesting stories. </p>
                        </div>
                    </div>
                </div>

                {% endif %}
            </div>
        </div>
        <div class="col-md-4">
            <!-- Leaves Today -->
            <div class="row">
                {% if leaves %}
                <div class="col-md-12">
                    <!--  🤒 Leaves Today  -->
                    <div class="card">
                        <div class="card-header card-header-danger with-border">
                            <h4> 🤒 Leaves Today </h4>
                        </div>
                        <div class="card-body with-border">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for leave in leaves %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>
                                        <span class="d-block text-muted ">{{ leave.user.get_full_name }} ! </span>
                                        <a href="">{{ leave.user.official_mobile|default:leave.user.mobile|default:"-no-mobile-number-" }}</a>
                                        <a href="">{{ leave.user.official_email|default:leave.user.email|default:"-no-email-available-" }}</a>
                                        </td>
                                    <td>
                                        <span class="d-block text-muted text-sm">{{ leave.leave_type }} </span>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr><td colspan="100%"> You have celebrated all the holidays for this year! Sit back and relax for the New Year Eve! </td></tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                        <div class="card-footer with-border">
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-danger with-border">
                            <h4> 🤒 Leaves Today</h4>
                        </div>
                        <div class="card-body">
                            <p> Hurry, Enjoy the power of Whole fegnites together on a beautiful day like today. </p>
                        </div>
                    </div>
                </div>

                {% endif %}
            </div>
            <!-- 🏠 Work From Home Today -->
            <div class="row">
                {% if wfh_today %}
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-danger with-border">
                            <h4> 🏠 Work From Home Today</h4>
                        </div>
                        <div class="card-body with-border">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for req in wfh_today %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>
                                        <span class="d-block  ">{{ req.user.get_full_name }}. </span>
                                        <span class=""><a href="tel:{{ req.user.mobile|default:'#' }}">{{ req.user.mobile|default:"-no-mobile-number-" }}</a> |
                                            <a href="">{{ req.user.official_email|default:req.user.email|default:"-no-email-available-" }}</a> </span>
                                    </td>
                                    <td>
                                        <span class="d-block text-sm  ">{{ req.approval_status }} </span>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr><td colspan="100%"> You have celebrated all the holidays for this year! Sit back and relax for the New Year Eve! </td></tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                        <div class="card-footer with-border">
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="col-md-12">
                    <!--  🏠 Work From Home  -->
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4> 🏠 Work From Home Today</h4>
                        </div>
                        <div class="card-body with-border">
                            <p> Fegnites always want to be Stick around together under the same shelter. </p>
                        </div>
                    </div>
                </div>

                {% endif %}
            </div>

        </div>

    </div>
</div>


{% endblock %}
