{% extends 'paper/layout.html'  %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Document - {{ object.name }}| Candidate Document Update | {{ block.super }}{% endblock %}

{% block stylesheets %}
{% include 'adminlte/lib/_styles.html' %}
<style>.unselectable {-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;} </style>
{% endblock %}


{% block content %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js" defer></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js" defer></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<div class="container-fluid" id="app">
    <div class="card">

        <div class="card-header card-header-danger">
            <h3>Document - {{ object.doc_type }}</h3>
        </div>
        <div class="card-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-7">
                        <h3>UPDATE DOCUMENT</h3>
                        <form method="POST" enctype="multipart/form-data" >
                            {{ form|crispy }}
                            <button type="submit" class="btn btn-info text-white " >Update</button>
                        </form>
                    </div>
                    <div class="col-md-5">
                        <div id="document-holder">
                            <div class="row">
                                <div class="col-md-12">
                                    <h5>PREVIEW</h5>
                                    {{ object.as_html }}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="card-footer clearfix">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3>Delete ? </h3>
                </div>
                <div class="card-body">
                    <form method="POST" action="{% url 'onboarding:add-documents-delete' pk=object.pk %}"
                          onsubmit="return confirm('Do you really want to delete this Document?');">
                        <div class="row">
                                                    <div class="col-md-12">
                            <b>Document type: {{ object.doc_type  }}</b><br/>
                            <b>Uploaded On: {{ object.created_at|date  }}</b>
                        </div>

                        </div>
                        <button type="submit" class="btn btn-danger d-block"> Delete This Document! </button>
                        <span class="text-sm text-muted"> You can always upload the document again.</span>
                    </form>
                </div>
            </div>
        </div>

    </div>

</div>
{% endblock %}


{% block extra_javascript %}
<!--{% include 'adminlte/lib/_scripts.html' %}-->
<script>
    (function(){
    })()
</script>
{% endblock %}
