{% extends 'paper/layout.html'  %}
{% load static crispy_forms_tags %}
{% block title %} Shared Documents | {{ block.super }}{% endblock %}

{% block content %}
{% regroup object_list by doc_type_id as doc_list %}
<style>
{% for dc in doc_list %}select#id_doc_type option[value="{{dc.grouper}}"]{% if not forloop.last %},{% endif %}{% endfor %}{background-color:#fff2b1;}
</style>
<div class=""  id="app">
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h3>Add New Document</h3>
                </div>
                <div class="card-body">
                    <form method="POST"  enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-12">{{ form.doc_type|as_crispy_field }}</div>
                            <div class="col-md-6">{{ form.file|as_crispy_field }}</div>
                            <div class="col-md-6">{{ form.file_type|as_crispy_field }}</div>
                            <div class="col-md-6">{{ form.document_id|as_crispy_field }}</div>
                            <div class="col-md-6">{{ form.document_expiry|as_crispy_field }}</div>
                        </div>
                        <input type="submit" class="btn btn-info text-white pull-right " value="Upload">
                    </form>
                </div>
            </div>
        </div>
        <!--        <div class="col-md-2">
                    <img src="{% static 'images/file-folder.png' %}" width="auto" height="270px" />
                </div>-->
        <div class="col-md-7">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h3>Uploaded Documents</h3>
                </div>
                <div class="card-body">
                    {% if object_list %}
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Document</th>
                                <th>Created At</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for doc in object_list %}
                            <tr >
                                <td><a href="{% url 'onboarding:add-documents-update' pk=doc.pk %}">{{ doc.doc_type.name }}</a></td>
                                <td>{{ doc.created_at|date}}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            {% if  pending_docs %}
                            {% for doc in pending_docs %}
                            <tr >
                                <td>{{ doc.name }}</td>
                                <td>-</td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            {% endif %}

                            </tfoot>
                        </table>
                    </div>
                    {% else %}
                    <div  class="text-center">
                        <img src="{% static 'images/file-folder.png' %}" width="auto" height="180px" />
                        <p>It seems that you haven't uploaded any documents yet! Once Uploaded, You can view them here.</p>
                    </div>

                    {% endif %}
                    <div class="card-footer">
                        {% include 'adminlte/lib/_pagination.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}


    {% block extra_javascript %}
    <!--{% include 'adminlte/lib/_scripts.html' %}-->
    {% endblock %}
