{% extends 'paper/layout.html'  %}
{% load static crispy_forms_tags %}
{% block title %} Recruitment | {{ block.super }}{% endblock %}
{% block content  %}
<style>
    .d-inline { display:inline-block !important}
	.ui-datepicker {
	    background-color: #fff;
		border-radius: 10px;
		box-shadow: 2px 2px 5px #dbdbd9;
	}
	.ui-state-active {background-color: #007bff; color: #fff ; border-radius: 3px;}
	.ui-state-active:hover { color: #fff; text-decoration: bold }
	.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {font-size: 9px;}
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.1/themes/base/jquery.ui.datepicker.css">

<div class="container-fluid"  id="app">
	{% include 'onboarding/utils/fegno-summery.html' %}
	<div class="card">
		<div class="card-header card-header-danger">
			<h4>Complete Profile</h4>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-md-9">
					<form action="" method="post" enctype="multipart/form-data">
						<div class="card">
							<div class="card-body">
								<nav>
									<div class="nav nav-tabs" id="nav-tab" role="tablist">
										<a class="nav-item nav-link active" id="nav-career-tab" data-toggle="tab" href="#career-tab" role="tab" aria-controls="personal-tab" aria-selected="true">Career and Education</a>
										<a class="nav-item nav-link " id="nav-emergancy-tab" data-toggle="tab" href="#emergancy-tab" role="tab" aria-controls="dates-tab" aria-selected="true"> Emergency Contacts </a>
										<a class="nav-item nav-link" id="nav-prev-company-tab" data-toggle="tab" href="#prev-company-tab" role="tab" aria-controls="prev-company-tab" aria-selected="false">Previous Company</a>
										<a class="nav-item nav-link" id="nav-reference-tab" data-toggle="tab" href="#reference-tab" role="tab" aria-controls="other-contact-tab" aria-selected="false">References</a>
										<a class="nav-item nav-link" id="nav-address-tab" data-toggle="tab" href="#address-tab" role="tab" aria-controls="address-tab" aria-selected="false">Address</a>
										<a class="nav-item nav-link" id="nav-bank-tab" data-toggle="tab" href="#bank-tab" role="tab" aria-controls="bank-tab" aria-selected="false">Salary</a>
									</div>
								</nav>
								<div class="tab-content" id="nav-tabContent">
									<div class="tab-pane fade show active" id="career-tab" role="tabpanel" aria-labelledby="nav-career-tab">
										<div class="row py-3">
											<div class="col-md-8">
												<div class="row">
													<div class="col-md-12">
														<h3>Experience</h3>
														{{ form.experience_while_joining | as_crispy_field }}
														<p class="text-muted"> If you are a fresher, please carry this value as "0.0"</p>
													</div>
													<div class="col-12">
														<h3>Graduation</h3>
														<div class="row">
															<div class="col-md-4">
																{{ form.college_name|as_crispy_field }}
															</div>
															<div class="col-md-4">
																{{ form.highest_education_degree|as_crispy_field }}
															</div>
															<div class="col-md-4">
																{{ form.degree_course|as_crispy_field }}
															</div>

															<div class="col-md-4">
																{{ form.university|as_crispy_field }}
															</div>
															<div class="col-md-4">
																{{ form.degree_pass_out_year|as_crispy_field }}
															</div>
															<div class="col-md-4">
																{{ form.degree_grade|as_crispy_field }}
															</div>
														</div>
													</div>
												</div>
												<h3>Careers</h3>
												<div class="row">
													<div class="col-md-4">
														{{ form.school_name|as_crispy_field }}
													</div>
													<div class="col-md-4">
														{{ form.tenth_pass_out_year|as_crispy_field }}
													</div>
													<div class="col-md-4">
														{{ form.tenth_grade|as_crispy_field }}
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="tab-pane fade" id="emergancy-tab" role="tabpanel" aria-labelledby="nav-emergancy-tab">
										<div class="row py-3">
											<div class="col-md-12">
												<h3 class="">Medical Emergency Contact</h3>
											</div>
											<div class="col-md-6">
												{{ form.contact_01_holder_name | as_crispy_field }}
											</div>
											<div class="col-md-6">
												{{ form.contact_01 | as_crispy_field }}
											</div>
											<div class="col-md-12">
												<hr>
												<h3>Closest Family Member</h3>
											</div>
											<div class="col-md-6">
												{{ form.contact_02_holder_name | as_crispy_field }}
											</div>
											<div class="col-md-6">
												{{ form.contact_02 | as_crispy_field }}
											</div>
										</div>
									</div>
									<div class="tab-pane fade" id="prev-company-tab" role="tabpanel" aria-labelledby="nav-prev-company-tab">
										<div class="row py-3">
											<div class="col-md-12">
												<h3>About Previous Company</h3>
												<p>Skip if you are complete fresher</p>
												<div class="row">
													<div class="col-md-6">
														{{ form.previous_company_name | as_crispy_field }}
													</div>
													<div class="col-md-6">
														{{ form.previous_company_reference_name_and_designation | as_crispy_field }}
													</div>
													<div class="col-md-6">
														{{ form.previous_company_reference_contact_number | as_crispy_field }}
													</div>
													<div class="col-md-6">
														{{ form.previous_company_reference_email | as_crispy_field }}
													</div>

												</div>
											</div>

										</div>
									</div>
									<div class="tab-pane fade" id="reference-tab" role="tabpanel" aria-labelledby="nav-reference-tab">
										<div class="row py-3">
											<div class="col-md-12">
												<h3>References from your technical mentors and managers</h3>
											</div>
											<div class="col-md-6">
												{{ form.second_recommendation_name|as_crispy_field }}
											</div>
											<div class="col-md-6">
												{{ form.second_recommendation_reference_name_and_designation|as_crispy_field }}
											</div>
											<div class="col-md-6">
												{{ form.second_recommendation_reference_contact_number|as_crispy_field }}
											</div>
											<div class="col-md-6">
												{{ form.second_recommendation_reference_email|as_crispy_field }}
											</div>
										</div>
									</div>
									<div class="tab-pane fade" id="address-tab" role="tabpanel" aria-labelledby="nav-address-tab">
										<div class="row py-3">
											<div class="col-md-12">
												<h3>Permanent Address</h3>
											</div>
											<div class="col-md-6">
												{{ form.address_line_1 | as_crispy_field }}
											</div>
											<div class="col-md-6">
												{{ form.address_line_2 | as_crispy_field }}
											</div>
											<div class="col-md-4">
												{{ form.address_line_3 | as_crispy_field }}
											</div>
											<div class="col-md-4">
												{{ form.pincode | as_crispy_field }}
											</div>
											<div class="col-md-4">
												{{ form.address_line_4 | as_crispy_field }}
											</div>
										</div>
									</div>
									<div class="tab-pane fade" id="bank-tab" role="tabpanel" aria-labelledby="nav-bank-tab">
										<div class="row py-3">
											<div class="col-md-12">
												<h3>Policies</h3>
											</div>
											<div class="col-md-4">
												{{ form.previous_annual_ctc | as_crispy_field }}
											</div>
											<div class="col-md-4">
												{{ form.pf_account_number | as_crispy_field }}
											</div>
											<div class="col-md-4">
												{{ form.esi_number | as_crispy_field }}
											</div>
											<div class="col-md-4">
												{{ form.bank_account_number | as_crispy_field }}
											</div>
											<div class="col-md-4">
												{{ form.bank_name | as_crispy_field }}
											</div>
											<div class="col-md-4">
												{{ form.bank_ifsc_code | as_crispy_field }}
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="card-footer ">
								<hr>
								<button type="submit" class="btn btn-primary float-right" >Update</button>
							</div>
						</div>

					</form>
				</div>
				<div class="col-md-3">
					<div class="card ">
						<div class="card-header ">
							<h5 class="card-title">Profile Completion</h5>
							<p class="text-white">Percentage</p>
						</div>
						<div class="card-body "><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
							<canvas id="chartDonut3" class="ct-chart ct-perfect-fourth chartjs-render-monitor" width="357" height="234" style="display: block; height: 259px; width: 394px;"></canvas>
						</div>
						<div class="card-footer ">
							<div class="legend">
								<i class="fa fa-circle text-danger"></i> Completed
							</div>
							<hr>
							<div class="stats">
								<i class="fa fa-clock-o"></i> Updated 3 minutes ago
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card-footer clearfix">
			{% include 'adminlte/lib/_pagination.html' %}
		</div>
	</div>
	<script>
    (function(){
        {% if messages %}
        {% for message in messages %}
            swal("{% if message.tags %}{{ message.tags }}{% endif %}", "{{ message|safe }}", "{% if message.tags %}{{ message.tags }}{% endif %}");
        {% endfor %}
        {% endif %}
    })()
    </script>
	{% endblock %}


	{% block extra_javascript %}
	{% include 'adminlte/lib/_scripts.html' %}
	<script>
    ctx = document.getElementById('chartDonut3').getContext("2d");
    myChart = new Chart(ctx, {type: 'pie', data: { labels: [1, 2], datasets: [{ label: "Emails", pointRadius: 0, pointHoverRadius: 0, backgroundColor: ['#f17e5d', '#f4f3ef'], borderWidth: 0, data: [80, 20] }] },
      options: {elements: {center: {text: '80%',color: '#66615c', fontStyle: 'Arial', sidePadding: 60 }},
        cutoutPercentage: 90, legend: {display: false},tooltips: {enabled: false},
        scales: {yAxes: [{ticks: {display: false},gridLines: {drawBorder: false,zeroLineColor: "transparent",color: 'rgba(255,255,255,0.05)'}}],xAxes: [{barPercentage: 1.6,gridLines: {drawBorder: false,color: 'rgba(255,255,255,0.1)',zeroLineColor: "transparent"},ticks: {display: false}}]},}});
	var id_preview = document.getElementById("id_preview");
	var id_profile_image = document.getElementById("id_profile_image");
	id_profile_image && id_profile_image.addEventListener('change', function(event) {
		if (event.target.files.length == 0 ){
			return
		}
		var _file = event.target.files[0]
		var reader = new FileReader();
		reader.addEventListener("load", function () { id_preview.src = reader.result; }, false);
		if (_file) { reader.readAsDataURL(_file); }
	})
	$(document).ready(function(){$('.dateinput').datepicker()})
</script>

	{% endblock %}
