{% extends 'paper/layout.html'  %}
{% load static crispy_forms_tags %}
{% block title %} Recruitment | {{ block.super }}{% endblock %}
{% block content  %}
<style>
    .d-inline { display:inline-block !important}
	.ui-datepicker {
	    background-color: #fff;
		border-radius: 10px;
		box-shadow: 2px 2px 5px #dbdbd9;
	}
	.ui-state-active {background-color: #007bff; color: #fff ; border-radius: 3px;}
	.ui-state-active:hover { color: #fff; text-decoration: bold }
	.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {font-size: 9px;}
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.1/themes/base/jquery.ui.datepicker.css">

<div class=""  id="app">
	{% include 'onboarding/utils/fegno-summery.html' %}
	<div class="card">
		<div class="card-header card-header-danger">
			<h4>Complete Profile</h4>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-12">
					<div class="row">
						<div class="col-md-12">
							<p class="text-muted">
								Hi {{ request.user.first_name|default:"Fegnite" }}, Welcome to Fegno Technologies!
							</p>
							<p class="text-muted">
								This form helps you to save all your details. please contact your HR Manager, if you have any queries about these details.

							</p>
						</div>
						<div class="col-md-9">
							<form action="" method="post" enctype="multipart/form-data">
								<div class="card">
									<div class="card-body">
										<nav>
											<div class="nav nav-tabs" id="nav-tab" role="tablist">
												<a class="nav-item nav-link active" id="nav-personal-tab" data-toggle="tab" href="#personal-tab" role="tab" aria-controls="personal-tab" aria-selected="true">Personal</a>
												<a class="nav-item nav-link " id="nav-dates-tab" data-toggle="tab" href="#dates-tab" role="tab" aria-controls="dates-tab" aria-selected="true">Important Dates</a>
<!--												<a class="nav-item nav-link" id="nav-other-contact-tab" data-toggle="tab" href="#other-contact-tab" role="tab" aria-controls="other-contact-tab" aria-selected="false">Other Contacts</a>-->
<!--												<a class="nav-item nav-link" id="nav-address-tab" data-toggle="tab" href="#address-tab" role="tab" aria-controls="address-tab" aria-selected="false">Address</a>-->
											</div>
										</nav>
										<div class="tab-content" id="nav-tabContent">
											<div class="tab-pane fade show active" id="personal-tab" role="tabpanel" aria-labelledby="nav-personal-tab">
												<div class="row py-3">
													<div class="col-md-9">
														<div class="row">
															{% if request.user.employee_id %}
															<div class="col-md-12">
																<p class="text-muted"> Your Employee id is set to <code>{{ request.user.employee_id }}</code>.</p>
															</div>
															{% endif %}
															<div class="col-md-4">
																{{ form.first_name | as_crispy_field }}
															</div>
															<div class="col-md-4">
																{{ form.last_name | as_crispy_field }}
															</div>
															<div class="col-md-4">
																{{ form.gender | as_crispy_field }}
															</div>
															<div class="col-md-6">
																{{ form.mobile | as_crispy_field }}
															</div>
															<div class="col-md-6">
																{{ form.email | as_crispy_field }}
															</div>
															<div class="col-md-12">
															{{ form.profile_image | as_crispy_field }}
															<p class="text-sm text-muted"> We recommend you to upload a 1:1 ratio image of yours. If you dont have one, please get it quickly using
																<a href="https://www.photopea.com/" target="_blank">photopea.com</a> or
																<a href="https://www.iloveimg.com/crop-image" target="_blank">ilove️img.com</a>. </p>
															</div>
														</div>
													</div>
													<div class="col-md-3">
														<img src="{{ request.user.avatar_url }}" id="id_preview" alt="profile image" width="100%" style="max-height: 320px;object-fit:cover"  height="auto" class="img img-responsive img-thumbnail">
													</div>
												</div>
											</div>
											<div class="tab-pane fade" id="dates-tab" role="tabpanel" aria-labelledby="nav-dates-tab">
												<div class="row">
													<div class="col-md-8">
														<div class="col-md-6">
															{{ form.dob | as_crispy_field }}
														</div>
														<div class="col-md-6">
															{{ form.dom | as_crispy_field }}
														</div>
													</div>
												</div>
											</div>
											{% comment %}
<!--
											<div class="tab-pane fade" id="other-contact-tab" role="tabpanel" aria-labelledby="nav-other-contact-tab">
												<div class="row">
													<div class="col-md-6">
														{{ form.contact_01 | as_crispy_field }}
													</div>
													<div class="col-md-6">
														{{ form.contact_01_holder_name | as_crispy_field }}
													</div>
													<div class="col-md-6">
														{{ form.contact_02 | as_crispy_field }}
													</div>
													<div class="col-md-6">
														{{ form.contact_02_holder_name | as_crispy_field }}
													</div>
												</div>
											</div>
											<div class="tab-pane fade" id="address-tab" role="tabpanel" aria-labelledby="nav-address-tab">
												<div class="row">
													<div class="col-md-6">
														{{ form.address_line_1 | as_crispy_field }}
													</div>
													<div class="col-md-6">
														{{ form.address_line_2 | as_crispy_field }}
													</div>
													<div class="col-md-6">
														{{ form.address_line_3 | as_crispy_field }}
													</div>
													<div class="col-md-6">
														{{ form.pincode | as_crispy_field }}
													</div>
													<div class="col-md-6">
														{{ form.address_line_4 | as_crispy_field }}
													</div>
												</div>

											</div>
-->
											{% endcomment %}
										</div>
									</div>
									<div class="card-footer ">
										<hr>
										<button type="submit" class="btn btn-primary float-right" >Update</button>
									</div>
								</div>
							</form>
						</div>
						<div class="col-md-3">
							<div class="card ">
								<div class="card-header ">
									<h5 class="card-title">Profile Completion</h5>
									<p class="text-white">Percentage</p>
								</div>
								<div class="card-body "><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
									<canvas id="chartDonut3" class="ct-chart ct-perfect-fourth chartjs-render-monitor" width="357" height="234" style="display: block; height: 259px; width: 394px;"></canvas>
								</div>
								<div class="card-footer ">
									<div class="legend">
										<i class="fa fa-circle text-danger"></i> Completed
									</div>
									<hr>
									<div class="stats">
										<i class="fa fa-clock-o"></i> Updated 3 minutes ago
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card-footer clearfix">
			{% include 'adminlte/lib/_pagination.html' %}
		</div>
	</div>
</div>
<script>
    (function(){
        {% if messages %}
        {% for message in messages %}
            Sweetalert2.fire("{% if message.tags %}{{ message.tags }}{% endif %}", "{{ message|safe }}", "{% if message.tags %}{{ message.tags }}{% endif %}");
        {% endfor %}
        {% endif %}
    })()
    </script>
{% endblock %}

{% block extra_javascript %}
{% include 'adminlte/lib/_scripts.html' %}
<script>
    ctx = document.getElementById('chartDonut3').getContext("2d");
    myChart = new Chart(ctx, {type: 'pie', data: { labels: [1, 2], datasets: [{ label: "Emails", pointRadius: 0, pointHoverRadius: 0, backgroundColor: ['#f17e5d', '#f4f3ef'], borderWidth: 0, data: [80, 20] }] },
      options: {elements: {center: {text: '80%',color: '#66615c', fontStyle: 'Arial', sidePadding: 60 }},
        cutoutPercentage: 90, legend: {display: false},tooltips: {enabled: false},
        scales: {yAxes: [{ticks: {display: false},gridLines: {drawBorder: false,zeroLineColor: "transparent",color: 'rgba(255,255,255,0.05)'}}],xAxes: [{barPercentage: 1.6,gridLines: {drawBorder: false,color: 'rgba(255,255,255,0.1)',zeroLineColor: "transparent"},ticks: {display: false}}]},}});
	var id_preview = document.getElementById("id_preview");
	var id_profile_image = document.getElementById("id_profile_image");
	id_profile_image && id_profile_image.addEventListener('change', function(event) {
		if (event.target.files.length == 0 ){
			return
		}
		var _file = event.target.files[0]
		var reader = new FileReader();
		reader.addEventListener("load", function () { id_preview.src = reader.result; }, false);
		if (_file) { reader.readAsDataURL(_file); }
	})
	$(document).ready(function(){$('.dateinput').datepicker()})
</script>

{% endblock %}
