{% extends 'paper/layout.html'  %}
{% load static crispy_forms_tags hosts_override hosts %}
{% block title %} Recruitment | {{ block.super }}{% endblock %}
{% block content  %}
<style>
    .d-inline { display:inline-block !important}
	.ui-datepicker {background-color: #fff;border-radius: 10px;box-shadow: 2px 2px 5px #dbdbd9;}
	.ui-state-active {background-color: #007bff; color: #fff ; border-radius: 3px;}
	.ui-state-active:hover { color: #fff; text-decoration: bold }
	.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {font-size: 9px;}
	@media ( min-width:576px ) {.central-logo{ padding-top:120px }}
	.central-logo {margin-bottom:60px;}
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.1/themes/base/jquery.ui.datepicker.css">

<div class="card card-default "  id="app">
    <div class="card-header card-header-danger ">
        <h4>Hey {{ request.user.get_full_name|default:"Fegnite" }},</h4>
        <p class="d-block">Its delightful to warmly welcome you to the Fegno Family</p>
    </div>
    <hr />
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <p>

                </p>
                <p class="text-muted">
                    Please use a Desktop or your laptop for a better experience!
                </p>
            </div>
        </div></div></div><div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-stats">
                            <div class="card-body ">
                                <a href="{% host_url 'onboarding:complete-profile' host 'onboarding' %}" class="" style="text-decoration:none">
                                    <div class="row">
                                        <div class="col-5 col-md-4">
                                            <div class="icon-big text-center icon-warning">
                                                <i class="fa fa-user text-warning"></i>
                                            </div>
                                        </div>
                                        <div class="col-7 col-md-8">
                                            <div class="numbers">
                                                <p class="card-category">Complete Profile</p>
                                                <i class="fa fa-right text-danger"></i> » </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card card-stats">
                            <div class="card-body ">
                                <a href="{% host_url 'onboarding:add-documents' host 'onboarding' %}" class="" style="text-decoration:none">
                                    <div class="row">
                                        <div class="col-5 col-md-4">
                                            <div class="icon-big text-center icon-warning">
                                                <i class="fa fa-file text-danger"></i>
                                            </div>
                                        </div>
                                        <div class="col-7 col-md-8">
                                            <div class="numbers">
                                                <p class="card-category">Add Documents</p>

                                                <i class="fa fa-right text-danger"></i> »
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card card-stats">
                            <div class="card-body ">
                                <a href="{% host_url 'onboarding:information' host 'onboarding' %}" style="text-decoration:none">
                                    <div class="row">
                                        <div class="col-5 col-md-4">
                                            <div class="icon-big text-center icon-warning">
                                                <i class="fa fa-sitemap text-info"></i>
                                            </div>
                                        </div>
                                        <div class="col-7 col-md-8">
                                            <div class="numbers">
                                                <p class="card-category">Information</p>
                                                <i class="fa fa-right text-danger"></i> » </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card card-stats">
                            <div class="card-body ">
                                <a href="{% host_url 'onboarding:complete-profile' host 'onboarding' %}" style="text-decoration:none">
                                    <div class="row">
                                        <div class="col-5 col-md-4">
                                            <div class="icon-big text-center icon-warning">
                                                <i class="fa fa-cloud text-success"></i>
                                            </div>
                                        </div>
                                        <div class="col-7 col-md-8">
                                            <div class="numbers">
                                                <p class="card-category">Submit</p>
                                                <i class="fa fa-right text-danger"></i> » </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 d-sm-none  d-sm-none d-lg-block text-center">
                <img src="{% static 'images/fegno-logo.svg' %}" alt="" width="60%" height="auto" class="central-logo">
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="card ">
                    <div class="card-header card-header-danger ">
                        <h5 class="card-title">Profile Completion</h5>
                        <p class="text-white">Percentage</p>
                    </div>
                    <div class="card-body "><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                        <canvas id="chartDonut3" class="ct-chart ct-perfect-fourth chartjs-render-monitor" width="357" height="234" style="display: block; height: 259px; width: 394px;"></canvas>
                    </div>
                    <div class="card-footer ">
                        <div class="legend">
                            <i class="fa fa-circle text-danger"></i> Completed
                        </div>
                        <hr>
                        <div class="stats" title="{% now 'd M, Y H:m:s' %}">
                            <i class="fa fa-clock-o"></i> Updated now
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'onboarding/utils/fegno-summery.html' %}
    </div>
</div>
{% endblock %}


{% block extra_javascript %}
{% include 'adminlte/lib/_scripts.html' %}
<script>
    ctx = document.getElementById('chartDonut3').getContext("2d");
    myChart = new Chart(ctx, {type: 'pie', data: { labels: [1, 2], datasets: [{ label: "Emails", pointRadius: 0, pointHoverRadius: 0, backgroundColor: ['#f17e5d', '#f4f3ef'], borderWidth: 0, data: [80, 20] }] },
      options: {elements: {center: {text: '80%',color: '#66615c', fontStyle: 'Arial', sidePadding: 60 }},
        cutoutPercentage: 90, legend: {display: false},tooltips: {enabled: false},
        scales: {yAxes: [{ticks: {display: false},gridLines: {drawBorder: false,zeroLineColor: "transparent",color: 'rgba(255,255,255,0.05)'}}],xAxes: [{barPercentage: 1.6,gridLines: {drawBorder: false,color: 'rgba(255,255,255,0.1)',zeroLineColor: "transparent"},ticks: {display: false}}]},}});
	var id_preview = document.getElementById("id_preview");
	var id_profile_image = document.getElementById("id_profile_image");
	id_profile_image && id_profile_image.addEventListener('change', function(event) {
		if (event.target.files.length == 0 ){
			return
		}
		var _file = event.target.files[0]
		var reader = new FileReader();
		reader.addEventListener("load", function () { id_preview.src = reader.result; }, false);
		if (_file) { reader.readAsDataURL(_file); }
	})
	$(document).ready(function(){$('.dateinput').datepicker()})
</script>

{% endblock %}
