{% extends 'paper/layout.html'  %}
{% load static %}
{% block title %} Recruitment | {{ block.super }}{% endblock %}
{% block content %}
<style>
    .d-inline { display:inline-block !important}
</style>
{% load solo_tags %}
{% get_solo 'recruitment.RecruitmentStory' as recruitment_solo %}

<div class="card card-default "  id="app">
    <div class="card-header card-header-danger with-border">
        <h4>For your Information!</h4>
    </div>
    <hr />
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                {{ recruitment_solo.content|safe }}
            </div>
        </div>
    </div>
    <div class="card-footer clearfix">
        {% include 'adminlte/lib/_pagination.html' %}
    </div>
</div>
<script>
    (function(){
        {% if messages %}
        {% for message in messages %}
            swal("{% if message.tags %}{{ message.tags }}{% endif %}", "{{ message|safe }}", "{% if message.tags %}{{ message.tags }}{% endif %}");
        {% endfor %}
        {% endif %}
    })()
    </script>
{% endblock %}


{% block extra_javascript %}
{% include 'adminlte/lib/_scripts.html' %}
<script>
    ctx = document.getElementById('chartDonut3').getContext("2d");
    myChart = new Chart(ctx, {type: 'pie', data: { labels: [1, 2], datasets: [{ label: "Emails", pointRadius: 0, pointHoverRadius: 0, backgroundColor: ['#f17e5d', '#f4f3ef'], borderWidth: 0, data: [80, 20] }] },
      options: {elements: {center: {text: '80%',color: '#66615c', fontStyle: 'Arial', sidePadding: 60 }},
        cutoutPercentage: 90, legend: {display: false},tooltips: {enabled: false},
        scales: {yAxes: [{ticks: {display: false},gridLines: {drawBorder: false,zeroLineColor: "transparent",color: 'rgba(255,255,255,0.05)'}}],xAxes: [{barPercentage: 1.6,gridLines: {drawBorder: false,color: 'rgba(255,255,255,0.1)',zeroLineColor: "transparent"},ticks: {display: false}}]},}});

</script>
{% endblock %}
