{% extends 'paper/layout.html'  %}
{% load static crispy_forms_tags %}
{% block title %} Recruitment | {{ block.super }}{% endblock %}
{% block content  %}
<style>
    .d-inline { display:inline-block !important}
	.ui-datepicker {
	    background-color: #fff;
		border-radius: 10px;
		box-shadow: 2px 2px 5px #dbdbd9;
	}
	.ui-state-active {background-color: #007bff; color: #fff ; border-radius: 3px;}
	.ui-state-active:hover { color: #fff; text-decoration: bold }
	.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {font-size: 9px;}
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.1/themes/base/jquery.ui.datepicker.css">

<div class=""  id="app">
    {% include 'onboarding/utils/fegno-summery.html' %}
    <div class="card">
        <div class="card-header card-header-danger">
            <h5 class="card-title">Verify Your Profile</h5><br>
            <p class="text-white">Before Submission, Please Go through the form before final submission.</p>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-8">
                    <table class="table table-stripped table-bordered">
                        <thead>
                        <tr>
                            <th colspan="3">General Information</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Employee ID</td>
                            <td colspan="2">{{ request.user.employee_id }}</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>{{ request.user.first_name }}</td>
                            <td>{{ request.user.last_name }}</td>
                        </tr>
                        <tr>
                            <td>Date Of Birth</td>
                            <td colspan="2">{{ request.user.dob|date }}</td>
                        </tr>
                        <tr>
                            <td>Gender</td>
                            <td colspan="2">{{ request.user.gender }}</td>
                        </tr>
                        <tr>
                            <td>Date of Marriage</td>
                            <td colspan="2">{{ request.user.dom|date }}</td>
                        </tr>
                        <tr>
                            <td>Contact</td>
                            <td colspan="1">{{ request.user.mobile|default:"-" }}</td>
                            <td colspan="1">{{ request.user.email|default:"-" }}</td>
                        </tr>
                        <tr>
                            <td>Date of Joining</td>
                            <td colspan="2">
                                {{ request.user.doj|date }}
                                <p class="text-muted"> ** This may can vary as per formalities and regulations </p>
                            </td>
                        </tr>
                        <tr>
                            <td>Date of Marriage</td>
                            <td colspan="2">{{ request.user.dom|date }}</td>
                        </tr>
                        <tr>
                            <th colspan="3">
                                Career and Education
                            </th>
                        </tr>
                        <tr>
                            <td>Experience</td>
                            <td colspan="2">{{ request.user.profile.experience_while_joining }}</td>
                        </tr>
                        <tr>
                            <td>Previous Company</td>
                            <td colspan="2">{{ request.user.profile.previous_company_name }}</td>
                        </tr>
                        <tr>
                            <td>Previous Company Reference Person</td>
                            <td colspan="2">{{ request.user.profile.previous_company_reference_name_and_designation|default:"-" }}</td>
                        </tr>
                        <tr>
                            <td>Previous Company Contact</td>
                            <td colspan="1">{{ request.user.profile.previous_company_reference_contact_number|default:"-" }}</td>
                            <td colspan="1">{{ request.user.profile.previous_company_reference_email|default:"-" }}</td>
                        </tr>
                        <tr>
                            <th colspan="3">
                                Education
                            </th>
                        </tr>
                        <tr>
                            <td>College Name</td>
                            <td colspan="1">{{ request.user.profile.college_name|default:"-" }}</td>
                            <td colspan="1">Passout: {{ request.user.profile.degree_pass_out_year|default:"-" }}</td>
                        </tr>
                        <tr>
                            <td>University</td>
                            <td colspan="1">{{ request.user.profile.university|default:"-" }}</td>
                            <td colspan="1">Grade: {{ request.user.profile.degree_grade|default:"-" }}</td>

                        </tr>
                        <tr>
                            <td>Course</td>
                            <td colspan="1">{{ request.user.profile.highest_education_degree.name|default:"-" }}</td>
                            <td colspan="1">{{ request.user.profile.degree_course|default:"-" }}</td>
                        </tr>
                        <tr>
                            <td>School Name</td>
                            <td colspan="2">{{ request.user.profile.school_name|default:"-" }}</td>
                        </tr>
                        <tr>
                            <td>Passout/Grade</td>
                            <td colspan="1">Grade: {{ request.user.profile.tenth_grade|default:"-" }}</td>
                            <td colspan="1">Passout: {{ request.user.profile.tenth_pass_out_year|default:"-" }}</td>

                        </tr>
                        <tr>
                            <th colspan="3">
                                Emergancy Contact
                            </th>
                        </tr>
                        <tr>
                            <td>Medical Emergancy</td>
                            <td colspan="1">{{ request.user.profile.contact_01_holder_name|default:"-" }}</td>
                            <td colspan="1">{{ request.user.profile.contact_01|default:"-" }}</td>
                        </tr>
                        <tr>
                            <td>Personal Emergancy</td>
                            <td colspan="1">{{ request.user.profile.contact_02_holder_name|default:"-" }}</td>
                            <td colspan="1">{{ request.user.profile.contact_02|default:"-" }}</td>
                        </tr>
                        <tr>
                            <th colspan="3">
                                Reference
                            </th>
                        </tr>
                        <tr>
                            <td>Recommendation Source</td>
                            <td colspan="2">{{ request.user.profile.second_recommendation_name|default:"-" }}</td>
                        </tr>
                        <tr>
                            <td>Recommendation Reference Name and Designation</td>
                            <td colspan="2">{{ request.user.profile.second_recommendation_reference_name_and_designation|default:"-" }}</td>
                        </tr>
                        <tr>
                            <td>Reference Person Contact</td>
                            <td colspan="1">{{ request.user.profile.second_recommendation_reference_contact_number|default:"-" }}</td>
                            <td colspan="1">{{ request.user.profile.second_recommendation_reference_email|default:"-" }}</td>
                        </tr>
                        <tr>
                            <th colspan="3">
                                Salary
                            </th>
                        </tr>
                        <tr>
                            <td>Previous Annual CTC</td>
                            <td colspan="2">{{ request.user.profile.previous_annual_ctc|default:"-" }}</td>
                        </tr>
                        <tr>
                            <td>PF Account Number</td>
                            <td colspan="2">{{ request.user.profile.pf_account_number|default:"-" }}</td>
                        </tr>
                        <tr>
                            <td>ESI / UAN Number</td>
                            <td colspan="2">{{ request.user.profile.esi_number|default:"-" }}</td>
                        </tr>
                        <tr>
                            <td>Bank Account Number</td>
                            <td colspan="2">{{ request.user.profile.bank_account_number|default:"-" }}</td>
                        </tr>
                        <tr>
                            <td>Bank </td>
                            <td colspan="1">{{ request.user.profile.bank_name|default:"-" }}</td>
                            <td colspan="1">{{ request.user.profile.bank_ifsc_code|default:"-" }}</td>
                        </tr>


                        </tbody>
                    </table>
                </div>
                <div class="col-md-4">
                    <table class="table table-stripped table-bordered">
                        <tbody>
                        <tr>
                            <th colspan="3">Profile Image</th>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <img src="{{ request.user.avatar_url }}" alt="" height="180px">
                            </td>
                        </tr>
                        <tr>
                            <th>Designation</th>
                            <td colspan="2">{{ request.user.designation.name }}</td>
                        </tr>
                        <tr>
                            <th>Department</th>
                            {% if request.user.department.head %}
                            <td colspan="1">{{ request.user.department.name }}</td>
                            <td colspan="1">
                                Headed by:
                                <figure>
                                    <img src="{{ request.user.department.head.avatar_url }}" alt="" width="60" height="60">
                                    <figcaption>{{ request.user.department.head.get_full_name }}</figcaption>
                                </figure>
                            </td>
                            {% else %}
                            <td colspan="2">
                                {{ request.user.department }}
                            </td>
                            {% endif %}
                        </tr>
                        <tr>
                            <th>Reporting Officer</th>
                            <td colspan="2">
                                <img src="{{ request.user.reporting_to.avatar_url }}" alt="" width="60" height="60">
                                {{ request.user.reporting_to.get_full_name }}
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <form action="" method="post">
                {% csrf_token %}
                <p>Please Read and Verify that all the information given above are correct to the knowledge! </p>
                <button class="btn btn-danger" onclick="confirm_submit"> Final Submit</button>
            </form>
        </div>
    </div>
</div>
</div>
<script>
    (function(){
        {% if messages %}
        {% for message in messages %}
            Sweetalert2.fire("{% if message.tags %}{{ message.tags }}{% endif %}", "{{ message|safe }}", "{% if message.tags %}{{ message.tags }}{% endif %}");
        {% endfor %}
        {% endif %}
    })()
    </script>
{% endblock %}

{% block extra_javascript %}
{% include 'adminlte/lib/_scripts.html' %}
<script>
    ctx = document.getElementById('chartDonut3').getContext("2d");
    myChart = new Chart(ctx, {type: 'pie', data: { labels: [1, 2], datasets: [{ label: "Emails", pointRadius: 0, pointHoverRadius: 0, backgroundColor: ['#f17e5d', '#f4f3ef'], borderWidth: 0, data: [80, 20] }] },
      options: {elements: {center: {text: '80%',color: '#66615c', fontStyle: 'Arial', sidePadding: 60 }},
        cutoutPercentage: 90, legend: {display: false},tooltips: {enabled: false},
        scales: {yAxes: [{ticks: {display: false},gridLines: {drawBorder: false,zeroLineColor: "transparent",color: 'rgba(255,255,255,0.05)'}}],xAxes: [{barPercentage: 1.6,gridLines: {drawBorder: false,color: 'rgba(255,255,255,0.1)',zeroLineColor: "transparent"},ticks: {display: false}}]},}});
	var id_preview = document.getElementById("id_preview");
	var id_profile_image = document.getElementById("id_profile_image");
	id_profile_image && id_profile_image.addEventListener('change', function(event) {
		if (event.target.files.length == 0 ){
			return
		}
		var _file = event.target.files[0]
		var reader = new FileReader();
		reader.addEventListener("load", function () { id_preview.src = reader.result; }, false);
		if (_file) { reader.readAsDataURL(_file); }
	})
	$(document).ready(function(){$('.dateinput').datepicker()})
</script>

{% endblock %}
