{% load crispy_forms_tags py_utils %}
<style>
    .w-25{width: 100%}
</style>
<form method="post">
    <div class="card">
    <div class="card-header card-header-danger ">
        {% if object.pk %}
        <h2 class="card-title">Update Payment Summery - {{ object.project.name }} {{ object.project.client.name }} </h2>
        {% else %}
        <h3 class="card-title">Create new Payment Summery </h3>
        <div class="pull-right">
            <a href="{% url 'project:project-create' %}" class="btn btn-success btn-sm">Create new Project</a>
        </div>
        {% endif %}
    </div>
    <!-- /.box-header -->
    <div class="card-body">
        <form method="post">
            {% if form.non_field_errors %}
            {{ form.non_field_errors }}
            {% endif %}
            {% for formset in inlines %}
            {{ formset.management_form }}
            {% endfor %}
            <fieldset>
                <legend> Performa Invoice </legend>
            </fieldset>
            <table class="table table-striped table-dark">
                <tbody>
                {% for formset in inlines %}
                {{ formset.managementform }}
                {% for form in formset %}
                <tr>
                    {% for field in form %}
                    <td>
                        {{ field|as_crispy_field }}
                        {% if forloop.counter0 == 0 and form.non_field_errors%}
                        {{ form.non_field_errors }}
                        {% endif %}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
                {% endfor %}
                </tbody>
            </table>
            <hr>
            <div class="row">
                {% for field in form %}
                <div class="col-md-4">
                    {{ field|as_crispy_field }}
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-md-4 float-right">
                    <button class="btn btn-warning w-100" onclick="document.querySelector('#id_is_frozen').checked=true"
                            type="submit"> Update and Finalize
                    </button>
                    <button class="btn btn-success w-100" type="submit"> Update</button>
                </div>
            </div>
        </form>
    </div>
    <!-- /.box-body -->
    <div class="card-footer">
    </div>
    </div>
    <!-- box-footer -->
</form>
